[2022-02-03 20:22] #567 closed

[2022-02-03 20:22] mialy-defelice commented on #565
Completed in commit: [dd5058d](https://github.com/Sage-Bionetworks/schematic/commit/dd5058d9cccf0fd816c0f1835d7975e297bb893d)

[2022-02-03 20:22] #565 closed

[2022-02-03 20:23] mialy-defelice commented on #563
Completed in commit: [dd5058d](https://github.com/Sage-Bionetworks/schematic/commit/dd5058d9cccf0fd816c0f1835d7975e297bb893d)

[2022-02-03 20:23] #563 closed

[2022-02-03 20:23] mialy-defelice commented on #561
Completed in commit: [dd5058d](https://github.com/Sage-Bionetworks/schematic/commit/dd5058d9cccf0fd816c0f1835d7975e297bb893d)

[2022-02-03 20:23] #561 closed

[2022-02-03 20:28] mialy-defelice opened #568 "SchemaViz: Refactor get_dependences/get_tangled_tree.py"
**Is your feature request related to a problem? Please describe.**
Code right now is functional to produce output to be loaded into Observable tangled tree visualization but it is not easy to follow or optimal.

**Describe the solution you'd like**
Refactor to better arrange logic and add comments so its more easily followed by me in the future.

**How important is this feature?** Select from the

[2022-02-04 00:43] afwillia opened #569 "schematic manifest get -o does not return a csv"
**Describe the bug**
Passing the --output_csv option to schematic manifest get does not return a csv

**To Reproduce**
Set up schematic according to the [README ](https://github.com/Sage-Bionetworks/schematic#manifest)
schematic manifest --config config.yml get --output_csv test.csv

**Expected behavior**
A file to be written with the name of the --output_csv argument.

[2022-02-04 00:55] milen-sage commented on #402
@GiaJordan another related issue! We'd close a lot by resolving #441 :)

[2022-02-04 00:58] milen-sage commented on #66
@mialy-defelice a throwback to pre-covid times :)

[2022-02-04 00:59] milen-sage commented on #66
My estimate of 8 points (which translated to 16-20 hours of work in our planning at the time) was probably a bit off.

[2022-02-04 17:24] ychae commented on #442
Need to update to match the HTAN schema

[2022-02-04 17:28] mialy-defelice commented on #442
@inodb I remember having a convo that it might be actually useful to keep the age submission and filter out later (before it gets to BQ or the portal). In this case could we close out this issue since it would be downstream of schematic?

[2022-02-04 17:40] #315 closed

[2022-02-04 17:41] #225 closed

[2022-02-04 20:53] elv-sb commented on #555
.synapseConfig file is not automatically generated. You need to download credentials separately or create it via https://python-docs.synapse.org/build/html/index.html#connecting-to-synapse

[2022-02-04 22:30] ychae commented on #481
Change how it's encoded within schematic rather than in the OS
Make sure fix doesn't break data models
Test that fix doesn't break on Macs

[2022-02-04 22:39] ychae commented on #566
Acceptance criteria:
Making sure that the graph can render and show the highlights

[2022-02-04 22:44] ychae commented on #198
Acceptance criteria:
1. having the validation rules in the validation module

[2022-02-04 22:46] ychae commented on #555
Acceptance criteria:
1. Have an E2E doc of how to install dev schematic in one location

[2022-02-05 00:21] ychae commented on #544
related to #555

[2022-02-07 16:39] allaway commented on #312
I am reviewing issues, and IMO this was completed a while ago. I see @BrunoGrandePhD  added a note to self at the end, so maybe that's why this is still open?

[2022-02-07 18:36] mialy-defelice commented on #566
@ychae

I made the graph (its a bit wonky) with the `requiresDependency` relationship attributes. It is so large it is not helpful in this form. I chatted with @milen-sage and we decided to show the `requestDependency` relationship _per_ component, as the component is chosen from the dropdown.

[requires_dependency_plot.pdf](https://github.com/Sage-Bionetworks/schematic/files/8017775/untitled-1-1.

[2022-02-07 18:52] mialy-defelice opened #571 "Highlight conditional dependencies in google sheets"
**Describe the bug**
Conditional dependencies are no longer being highlighted in google sheets presumably after the `get_manifest` refactor.

**Expected behavior**
Conditional dependencies should be conditionally highlighted in google sheets.

[2022-02-07 20:18] BrunoGrandePhD commented on #312
I think we had left this open because we only import annotations if there is no manifest associated with the selected dataset. If a manifest exists, we ignore the annotations regardless of `use_annotations`.

I've updated the title accordingly to:

To avoid having this issue live on forever, we can close this issue and open a more specific request for covering the case when a manifests already exi

[2022-02-07 20:18] #312 closed

[2022-02-07 20:25] BrunoGrandePhD opened #572 "Handle discrepancies between dataset manifest and Synapse annotations when generating new template"
**Is your feature request related to a problem? Please describe.**

This is a continuation of #312, where we started pre-populating manifest templates with Synapse annotations when the manifest is missing. As indicated [here](https://github.com/Sage-Bionetworks/schematic/blob/920f7fa47bc0b4fe818beb0d097c18c3e63e1ad4/schematic/manifest/generator.py#L1437-L1479), we ignore `use_annotations` if a man

[2022-02-07 20:27] BrunoGrandePhD commented on #312
Here's the issue I created to track the balance of the work alluded in the original issue here:

https://github.com/Sage-Bionetworks/schematic/issues/572

[2022-02-07 22:33] afwillia opened #573 "Generate schemas for all components in a data model"
**Is your feature request related to a problem? Please describe.**
`schematic manifest get` only generates one xlsx and schema for one component a time. It would be nice to generate all of the google sheets and json schemas for all of the components in the -p argument. Instead of having to call `schematic manifest get` for each component in the data model.

**Describe the solution you'd like**
A s

[2022-02-07 22:36] allaway commented on #312
Ahh, got it, that makes sense. So there could be a discrepancy if someone were to modify an annotation, but not thru the app. Thanks!

[2022-02-07 23:11] milen-sage commented on #312
Thanks @BrunoGrandePhD  and @allaway for hashing this out! It's very timely since we are introducing a process around triaging issues w/in a 2-week sprint framework and are working on updating the state of our FAIR data issue backlog.

[2022-02-09 16:27] mialy-defelice opened #574 "SchemaViz: NF Data Dictionary"
**Is your feature request related to a problem? Please describe.**
NF Team would like to to see what their data looks like in the Schema Visualization Explorer Prototype.

**Describe the solution you'd like**
Add components to the model if possible, try a naive load to the schema viz explorer. Add additional features to backend python processing code if time allows to make the figure render proper

[2022-02-09 19:12] mialy-defelice commented on #574
@anngvu

[2022-02-09 20:19] mialy-defelice commented on #566
A current set of issues that should be addressed (schema:HTAN Component Requires Dependency) in the main schema viz.

- [ ] `Biospecimen`:  level assignment is a bit messed up bc `Biospecimen` is connected to both `Biospecimen Type` and `Site of Resection or Biopsy`. This connection pulls `Biospecimen` down a level and distrubs all the connections that should be one level below but are now in the

[2022-02-09 21:27] #481 closed

[2022-02-09 21:27] #559 closed

[2022-02-11 21:02] mialy-defelice commented on #571
Conditionally optional cells need to be yellow.
For example (hypothetically):
Vital status = dead then the conditionally required are cause of death, year of death, etc, but primary cause of death is required, but secondary cause of death is conditionally optional.

Confusingly it looks like the necessary information should be there to highlight fields properly, but it is not actually showing up i

[2022-02-11 21:13] mialy-defelice opened #576 "Manifests and JSON do not contain some conditional dependencies."
**Describe the bug**
Discovered by happenstance that the JSON schemas and Manifests did not include all the conditional decencies.

**To Reproduce**
Steps to reproduce the behavior:
For the HTAN schema, create a manifest for `Diagnosis`.
Look for `VitalStatus` in the manifest and generated JSON schema.
It will not be present in either one.

The schema visualization tool also shows that it is not p

[2022-02-11 22:03] mialy-defelice commented on #568
Completed with commit [58a986df5fde002c820ef1533c144d83a58d746b](https://github.com/Sage-Bionetworks/schematic/commit/58a986df5fde002c820ef1533c144d83a58d746b).

[2022-02-11 22:03] #568 closed

[2022-02-12 02:54] milen-sage commented on #576
I double checked and the manifests and JSONSchema are OK - false alarm. `Vital Status` is part of Demographics. `Family Member Vital Status Indicator` is part of the components we were generating manifests for. We are good!

[2022-02-12 02:54] #576 closed

[2022-02-12 03:01] milen-sage commented on #571
After updating my local develop branch, the issues I see with conditional dependencies is:
- only one of conditionally *required* dependencies is highlighted in blue; e.g. in Demographics [manifest](https://docs.google.com/spreadsheets/d/1zpP92NXOdTIev0Aix2lb5RQKETvndqMvpPj4xJGRP0I/edit#gid=0), select Vital Status = Dead and you should be able to replicate
- conditionally optional dependencies are

[2022-02-14 18:40] GiaJordan opened #577 "Validation Rules Refactor"
**Is your feature request related to a problem? Please describe.**
1. [Manifest validation rules](https://sagebionetworks.jira.com/wiki/spaces/SCHEM/pages/2473623559/The+Data+Model+Schema#A.-Schema-properties-and-relationships) are written in-house for our use cases and so must be maintained in-house, but analogous rules likely exist and are maintained elsewhere.
2. Validation errors are hard code

[2022-02-14 18:44] GiaJordan commented on #577
I think this covers everything from our previous discussions but please let me know of or add anything I missed.
@milen-sage @mialy-defelice

[2022-02-15 01:11] milen-sage commented on #577
Yes, this looks great @GiaJordan !

[2022-02-15 17:49] milen-sage opened #578 "Update schematic's poetry lock numpy version"
Change from 1.21.1 to 1.19.0

@rrchai let us know if 1.21.1 works or if it's still a conflict; if it's in conflict with other requirements we'll update poetry lock on schematic.

[2022-02-15 18:32] milen-sage commented on #501
Acceptance criteria: proof of concept - test implementation of each of the existing API endpoints.

[2022-02-15 18:41] milen-sage commented on #441
Acceptance criteria - the empty values in manifests should be stored as blanks; similarly in annotations the empty values should show up as NULL on Synapse. Confirm w/ @allaway.

[2022-02-15 18:42] milen-sage commented on #216
Acceptance criteria - add alphabetizing as an option when generating manifests with dropdown lists.

[2022-02-15 18:43] milen-sage commented on #577
Acceptance criteria - in addition, to the check items above, add documentation for usage of refactored rules and new features.

[2022-02-15 18:51] allaway commented on #441
Confirmed!

On Tue, Feb 15, 2022, 10:41 milen-sage ***@***.***> wrote:

[2022-02-15 18:54] milen-sage commented on #441
:) Yes, I think we are @allaway - @GiaJordan will share a sample project with some annotations for you to take a look at, just in case.

[2022-02-15 19:06] GiaJordan commented on #441
I've just shared an example data file with you both, @milen-sage when I showed you the file the annotations displayed a string NULL, I've changed it to just have no value for the annotation as per @allaway

[2022-02-15 21:25] allaway commented on #441
Hi @GiaJordan, could you change my permission to `Can Download`? I cannot see the file contents w/`Can View`. Thanks!

[2022-02-15 21:32] GiaJordan commented on #441
@allaway updated!

[2022-02-15 21:44] allaway commented on #441
Thank you! The manifest looks good to me! I also looked at the annotations, and was curious how you managed to get the blank annotations to show up?
<img width="456" alt="Screen Shot 2022-02-15 at 1 43 20 PM" src="https://user-images.githubusercontent.com/20408008/154154388-e13fc3ee-f240-46c0-ba58-9a0eb99f29bd.png">

I would have thought with a NULL value, Synapse would not set the annotation at a

[2022-02-15 21:49] GiaJordan commented on #441
@allaway the values are saved in python as empty strings: `''`.
`None` values appeared as 'None' and `NULL` values appeared as '0' in Synapse. Will this current solution work or would you rather one of the latter two options?

[2022-02-15 21:54] allaway commented on #441
Thanks for clarifying! That's interesting. I'd like the values to be treated by Synapse as NULL values, though I would have thought that a python `NULL` value would have been interpreted as a null by `synapseclient`, not a 0. I wonder if this is being coerced to a string somewhere in `schematic` before it hits `synapseclient`? Or `synapseclient` is coercing to a string?

[2022-02-15 23:46] GiaJordan commented on #441
@allaway You're correct synapse was changing the values to strings in `annotations.py`. Moving forward, I'll been using the value `None` as opposed to python's object `NULL`. I've updated `annotations.py` to recognize and pass on `None` types and values for empty annotations to be uploaded to Synapse. However, it appears Synapse isn't configured to allow null annotation values to be uploaded curre

[2022-02-16 01:23] allaway commented on #441
@GiaJordan - that all makes sense. Thanks! In that case, I think that the correct action would be to skip blank/None annotations entirely (i.e. they make it into the manifest csv, but not applied as an annotation). That way, if the file is in a View, files with null/missing annotations will be queryable like so:

https://www.synapse.org/#!Synapse:syn16858331/tables/query/eyJzcWwiOiJTRUxFQ1QgY291bn

[2022-02-16 18:45] GiaJordan commented on #441
Modified acceptance criteria: the empty values in manifests should be stored as empty strings; in annotations the empty values should not appear but will still be present as empty strings in the manifest, so as to be queryable in Synapse.

Please confirm @allaway @milen-sage

The example project I shared and a file view for it have also been updated to reflect these so you can take a look at that

[2022-02-16 20:22] allaway commented on #441
The fileview you shared looks good to me. Thanks @GiaJordan!

[2022-02-17 01:01] ychae opened #928 "Use Synapse datasets to group collections of files and tables"
**Is your feature request related to a problem? Please describe.**
As a data contributor,  I want to upload my files to a dataset rather than a folder in Synapse in order to annotate my work in a way that makes sense for my data model and not create a bunch of phantom entities to hold annotations.

**Describe the solution you'd like**
Upload files to the new Dataset entity in Synapse rather than F

[2022-02-18 01:56] ychae opened #930 "Data Curator doesn't match the google sheet for one data type"
**Describe the bug**
Ticket originally raised in https://sagebionetworks.jira.com/browse/HTAN-35

From Marisol Ramirez:
In the Bulk WES level 3 metadata template all germline, somatic, and structural variants workflows are required for each sample. Each of our samples is analyzed by only one workflow, not all three. Leaving the rest empty, NA, or Not Applicable are not allowed for the rest of the

[2022-02-18 21:16] mialy-defelice commented on #571
[Biospecimen manifest](https://docs.google.com/spreadsheets/d/1l0AYSdm9ehYhFNbuQi3gVtUQLchoALpCneeKkOwqurY/edit#gid=0) before the fix (BiospecimenType) is Analyte Biospecimen. Only a single conditional dependency (Ischemic Temperature) is highlighted. This can be randomly chosen among the the conditional dependencies.

Going back to a previous commit before the refactor I can see what the expected

[2022-02-18 23:51] #571 closed

[2022-02-21 19:26] mialy-defelice opened #581 "SchemaViz: AmpAD Visualization"
**Is your feature request related to a problem? Please describe.**
Create a visualization of the AMPAD data model.

**How important is this feature?** Select from the options below:
• 🌋 Important - it's a blocker and can't do work without it

**When will use cases depending on this become relevant?** Select from the options below:
• Short-term - 2-4 weeks

**Additional context**
Add any other cont

[2022-02-22 22:03] elv-sb opened #583 "Validation failed in empty field"
**Describe the bug**
When validating the CSV file it showed an error for row 505, column AP that '' is too short. The cell was empty and many others in that column were also empty. I changed the empty cell to 'Not reported' and that fixed the issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Erase cell contents of row 505, column AP
2. Save
3. Go to DCA, Project HTAN HTAPP, Folder biosp

[2022-02-23 22:14] #573 closed

[2022-02-23 23:00] #402 closed

[2022-02-23 23:00] #441 closed

[2022-02-24 17:38] GiaJordan commented on #577
Modified acceptance criteria:
1 Manifest validation will use a combination great expectations and in house validation functions for the time being until other necessary expectations are moved into production

[2022-02-24 18:54] afwillia commented on #501
Looks like one endpoint is missing from schematic [populateModelManifest](https://github.com/Sage-Bionetworks/schematic/blob/fd0308c43783ac8e367e8a5be0cc6e4bfbc44b29/schematic/models/metadata.py#L254). [The relevant data curator code](https://github.com/Sage-Bionetworks/data_curator/blob/f7ec2859e8d78724b0f466c29bae63c931638592/server.R#L345)

Have mock code for `get_manifest_route` and `validate_

[2022-02-25 18:16] mialy-defelice opened #586 "Create Multiple Manifests through API"
**Is your feature request related to a problem? Please describe.**
Allow users to use the API to make many or all manifests at a time.

**Describe the solution you'd like**
Mimic CLI version where users just need to add entries to the Swagger UI

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g. to save time or for conve

[2022-02-25 19:53] rrchai opened #587 "Detect the missing data in the manifest during the validation"
**Is your feature request related to a problem? Please describe.**
When submitting a manifest that has data deleted will pass the validation, but crash the app during submission
[code]

**Describe the solution you'd like**
I suggest it should be detected in the validation

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g

[2022-02-25 19:58] rrchai commented on #578
change all numpy version==1.21.1 in `poetry.lock` still not working

[2022-02-25 20:23] rrchai commented on #578
[code]

[2022-02-25 22:50] GiaJordan commented on #577
`schematic model validate` now uses a hybrid approach for manifest validation. A combination of in-house validation rules and Great Expectations are used for validation with splits as follows below. The GE results are parsed and passed to existing functions to generate error messages for now.

In-house Validation Rules:
- List::Regex
- Regex search
- list
- url

Great Expectations:
- num
- int/flo

[2022-02-26 00:21] allaway commented on #297
Example of such an action is here: https://github.com/nf-osi/nf-metadata-dictionary/blob/main/.github/workflows/schematic-schema-convert.yml

[2022-02-28 21:26] milen-sage commented on #501
synapse_driver and the associateMetadataWithFiles are schematic objects/service.

[2022-02-28 21:58] #578 closed

[2022-03-01 16:48] ychae opened #589 "Research migrating clinical and biospecimen entities to Tables (use table joins)"
**Is your feature request related to a problem? Please describe.**
The Sage Platform team has given us as much of an increase as possible in File View limits (35,000). Once we hit this limit, everything powered by the main file view will cease to work (ie DCA and portal in HTAN).

**Describe the solution you'd like**
Migrate the clinical and biospecimen entities to a Synapse Table to use the new [

[2022-03-01 16:58] milen-sage opened #590 "Test and enhance schematic REST API submission end point"
Currently the REST API service uses the credentials provided using schematic's installation. However, different service users may have different credentials. Add a parameters to the submission endpoint that allows authentication information to be passed to it.

[2022-03-01 16:59] milen-sage commented on #590
@linglp you can chat with @afwillia on that. He may have some useful examples for how to pass authentication information.

[2022-03-01 17:03] milen-sage opened #591 "Scope the new table and fileview joins feature in Synapse"
schematic has features in development to create and interact with RDB. Synapse has exposed a RDB-like service that joins tables to tables, and tables to fileviews.

Scope whether or what it'd take for schematic to instantiate a RDB-like set of tables and fileviews and perform joins between them.  This may be useful in the context of the NF GFF RDB work in the future.

[2022-03-01 17:52] afwillia commented on #590
@linglp here is a simple example of passing authentication info in a synapse REST API request

`### Get user profile info
# For information on authenticating synapse REST API queries
# https://docs.synapse.org/rest/#org.sagebionetworks.auth.controller.AuthenticationController
# Authentication to Synapse services requires an access token passed in the
# HTTP Authorization header, as per the HTTP be

[2022-03-01 18:28] ychae commented on #501
Add testing to adequately replace the schematic calls

[2022-03-01 18:38] afwillia commented on #590
@linglp Functions that data curator uses from [schematic store](https://github.com/Sage-Bionetworks/schematic/blob/f16a10b01c81a07afb6a1e5f3f3f230ad4b014a6/schematic/store/synapse.py#L40)

- [getStorageProjects](https://github.com/Sage-Bionetworks/data_curator/blob/ce9b754f02eb8ec38e81d5e166d2f36721774e15/server.R#L83)
- [getStorageDatasetsInProject](https://github.com/Sage-Bionetworks/data_curato

[2022-03-01 18:42] ychae commented on #590
Acceptance Criteria: submission of manifest work through the REST API service
Passing authentication: input field - get the token string and pass that through

[2022-03-01 18:46] ychae commented on #589
@mialy-defelice and @milen-sage will review the acceptance criteria and have further conversation

[2022-03-02 17:55] GiaJordan opened #593 "Running Pytest Produces ModuleNotFound and KeyError errors"
**Describe the bug**
When running pytest in the environment with schematic installed, it yields `ModuleNotFoundError: No module named 'dotenv'`, as `python-dotenv` does not appear to be included in the installation package for the environment.
When pytest is able to run, there are errors for 19 tests, 17 of which are `KeyError: 'synapse_config'`.  This is resolved after adding the path to the `.sy

[2022-03-02 17:57] GiaJordan commented on #593
Here is the issue for what we discussed a while back @milen-sage

[2022-03-02 18:16] linglp commented on #593
This is similar to the issue that I am having with [PR592](https://github.com/Sage-Bionetworks/schematic/pull/592). When I first ran the tests, I also had error message:  `KeyError: 'synapse_config'`. After adding synapse_config as a key to my test_config.yml (and adding my .synapseConfig path), I could run all the tests locally without any errors. But when I pushed my changes to GitHub, the tests

[2022-03-03 16:59] milen-sage opened #594 "CLI manifest generation error"
**Describe the bug**
When executing the command schematic manifest -c config-htan.yml get -s -t <title> -dt <data_type>

schematic fails with error stack

Starting schematic...
The (model > input > location) argument with value 'tests/data/HTAN.model.jsonld' is being read from the config file.
The '--jsonld' argument is being taken from configuration file (model > input > location), i.e., 'tests/d

[2022-03-03 18:32] #594 closed

[2022-03-03 19:37] #586 closed

[2022-03-03 20:29] GiaJordan commented on #577
#198 Created by @milen-sage  as subtask for task 3: rule expansion
Will try approach utilizing Great Expectations

[2022-03-07 19:00] mialy-defelice opened #598 "API Schematic, allow user to enter many dataset_ids to the manifest endpoint"
**Is your feature request related to a problem? Please describe.**
Allow users to add many dataset_ids to the API manifest endpoint, would follow the decision to allow users to make multiple manifests at a time.

**Describe the solution you'd like**
Users able to add many dataset Ids to the API endpoint.

**How important is this feature?** Select from the options below:
• 🏝 Low - it's an enhanceme

[2022-03-07 22:07] afwillia opened #599 "Download a file from manifest get instead of gsheet url"
**Is your feature request related to a problem? Please describe.**
Related to #569. Posting xlsx versions of manifests as templates on Synapse is common. Having `schematic manifest get` return an xlsx file downloaded from the google sheet would eliminate needing to manually access the URL.

**Describe the solution you'd like**
A flag for xlsx, csv, possibly other output in the [google drive api](h

[2022-03-07 22:23] mialy-defelice commented on #591
@milen-sage what is your current vision when you say "instantiate a RDB-like set of tables and fileviews"?

My initial reading of this made me think, we could just use our RDB backend for schematic (setting primary and foreign keys and all the relationships) then just import the tables into schematic and use the schematic joins feature? Is this what you meant? Or did you mean something perhaps mor

[2022-03-07 23:19] milen-sage commented on #591
@mialy-defelice

Yes, on using schematic's RDB functionality, for example, to determine which tables need to be updated in what order, on Synapse.

I think this may be something we'd need to discuss in more detail. Ideally, we'd want to "compose" the joins queries based on schematic's RDB backend query configuration, but then be able to execute these join queries on tables in Synapse. We wouldn't

[2022-03-07 23:38] mialy-defelice commented on #591
@milen-sage

Okay yes, I think this is totally doable using a very similar format to what I currently have, but we could write the joins in the Synapse query language. We already upload all the base tables to Synapse for NF. Instead of creating a MySql database first then uploading the MySql tables to Synapse, I could upload the tables directly. Using the python client I could compose the material

[2022-03-07 23:46] milen-sage commented on #591
If we see that constructing Synapse joins requires much more complicated queries and intermediate views, we can raise that as a use case with Kevin.

[2022-03-08 00:08] allaway opened #600 "associateMetadataWithFiles alters boolean values"
**Describe the bug**
When a string like `TRUE` or `FALSE` is added to manifest, `validateModelManifest` treats these values as strings (which is our desired behavior), but then, I assume, `associateMetadataWithFiles` interprets these as Python booleans. If TRUE is in the manifest, the resulting annotation in Synapse is `true` and in the manifest is `True`. Then, if someone retrieves a manifest to

[2022-03-08 19:37] mialy-defelice commented on #591
![IMG_8944](https://user-images.githubusercontent.com/85905780/157309602-3812b588-7665-4ba5-b886-37688fc0e8a2.jpg)

Keep using `create_load_sql_db_nf.py` it will functionally create the RDB in the backend and allow the table data to be updated using sql logic. Note this will technically retain a sql component.

The area of the code that needs to be adjusted is `sql_query_nf.py` (probably will need

[2022-03-09 17:21] milen-sage commented on #591
This is awesome!

@mialy-defelice you mentioned renaming the files a bit; that makes sense (e.g. making the modules NF-agnostic).

[2022-03-09 17:36] mialy-defelice commented on #591
@milen-sage actually these scripts are NF specific...but I was thinking of renaming the parts that specify sql for example `sql_query_nf` to `query_nf.py`.

We decided not to really refactor these scripts and to wait to make it into a package. Though I don't think it would take that much, probably just adding more things to the config file, I was trying to keep things things out that might be pote

[2022-03-09 19:51] linglp commented on #544
@ychae and @afwillia : to obtain schematic_service_account_creds.json, the command should be:
`schematic init --config ~/path/to/config.yml --auth serivce_account`
I have added this to documentation.

[2022-03-10 16:13] linglp commented on #505
this issue should now be solved with this [PR](https://github.com/Sage-Bionetworks/schematic/pull/601).

[2022-03-10 16:13] #505 closed

[2022-03-10 20:36] #501 closed

[2022-03-10 21:10] ychae opened #602 "Update readthedocs to remove installation inconsistencies"
**Is your feature request related to a problem? Please describe.**
readthedocs has inconsistencies that conflict with the other installation instructions and need to remove

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g. to save time or for convenience)

**When will use cases depending on this become relevant?** Selec

[2022-03-11 18:43] afwillia commented on #590
The data curator dashboard [dashboardFuns.R](https://github.com/Sage-Bionetworks/data_curator/blob/ee82b0cc06bc6b013ba6ef147de10f465ffb6e7c/functions/dashboardFuns.R) also uses some schematic and synapseclient functionality.

**schematic**
metadata_model$validateModelManifest(manifest_path, manifest_component)
metadata_model$get_component_requirements(datatype, as_graph = TRUE)

**synapseclient**

[2022-03-11 20:52] linglp opened #603 "Make API endpoints for functions in schematic/store/synapse.py"
**Is your feature request related to a problem? Please describe.**
Turn the following functions that the data curator uses from

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Functions that data curator uses from [schematic/store/synapse.py](https://github.com/Sage-Bionetworks/schematic/blob/f16a10b01c81a07afb6a1e5f3f3f230ad4b014a6/schematic/store

[2022-03-11 22:07] #591 closed

[2022-03-14 19:26] mialy-defelice commented on #589
@milen-sage @ychae

**Current status:**

- Wrote a new function based on other functions in `store/synapse.py` to pull all the manifests for a particular project and reupload them as tables. This is currently called by a simple script.
- [ Created a Materialized View ](https://www.synapse.org/#!Synapse:syn27729630/tables/)(using Synapse UI) Joining the Vanderbilt[ Biospecimen Manifest Table](https

[2022-03-14 19:32] linglp opened #606 "Clean up readthedocs"
**Is your feature request related to a problem? Please describe.**

- [x] Clean up readthedocs (i.e. remove the parts related to installation and only keep the part related to CLI)
- [x] Make sure the command line functionalities in command.py are consistent
- [x] Rebuild documentation related to CLI and publish it through readthedocs
- [x] Link ReadMe CLI section to readthedocs

*Note*: for expla

[2022-03-14 20:44] linglp commented on #603
*Note*: Based on my discussion with Milen, in the short-term, if the functions reference .config.yml, we should turn that to parameters.

[2022-03-14 21:36] mialy-defelice commented on #589
@milen-sage @ychae

Figured out the issue with the Client login.

Now having issue with sql join error. Using the same join that worked with the SynapseUI so not sure what's happening. Reached out to Tom for assistance.

Other than this issue, I would say this scoping is complete.

[2022-03-14 22:02] #589 closed

[2022-03-15 14:23] #566 closed

[2022-03-15 14:55] milen-sage opened #607 "API: Complete schematic end points used in DCA w/o dashboard"
From #590

Functions that data curator uses from schematic/store/synapse.py that require an endpoint

- [x] getStorageProjects
- [x] getStorageDatasetsInProject
- [x] getFilesInStorageDataset

Functions that data curator uses from schematic/manifest/generate.py

- [x] populateModelManifest - double check - this may have been implemented as an endpoint already.

[2022-03-15 15:03] milen-sage opened #608 "API: Add getting data model component requirements"
Add

[get_component_requirements](https://github.com/Sage-Bionetworks/schematic/blob/3b7817405a1d3686ba43862d58743e68d75ec86a/schematic/models/metadata.py#L155)

to the API endpoints. By default as_graph = True.

[2022-03-15 15:23] milen-sage opened #609 "API: Add a config file parameter across all endpoints"
Currently the API service assumes that schematic has been installed with a specific config file.

Add logic to accept a config file across all endpoints. Use the provided config files instead of the default schematic installation config file.

Some context: the schematic config file contains a couple of constants like synapse fileview ID, name of manifest, etc..  If the config file is fixed in the

[2022-03-15 15:28] milen-sage opened #610 "Add option to schematic to create/update Synapse tables instead of row-based entities"
Currently schematic creates a folder entity on Synapse for each non-file record/row in a manifest. Let's make this optional.

Add a flag to associateMetadataWithFiles to allow either storing manifest rows in Synapse tables, or storing manifest rows as entities (current behavior), or both.

Tables associated with a given manifest would need to be created, if the manifest has been added for a first

[2022-03-15 15:54] #500 closed

[2022-03-15 15:56] milen-sage opened #611 "Transition NF DB infrastructure to using Synapse table joins"

[2022-03-15 16:00] milen-sage opened #612 "Implement additional validation rules for feature parity with dccvalidator"
Sync with Anthony on which validation rules are needed

[2022-03-15 16:00] milen-sage commented on #607
Acceptance criteria: endpoints above are added to the REST API.

[2022-03-15 16:01] milen-sage commented on #606
Acceptance criteria: all items above are checked :)

[2022-03-15 16:02] milen-sage commented on #609
Acceptance criteria:have determined feasibility of using config file passed as a parameter in the REST API endpoints. If feasible has implemented the logic enabling the REST API to utilize this config file.

[2022-03-15 16:04] milen-sage commented on #607
This should also close issue #603

[2022-03-15 16:39] afwillia commented on #590
I did not add tableQuery or get because the app isn't actually using them.

On Tue, Mar 15, 2022 at 7:58 AM milen-sage ***@***.***> wrote:

[2022-03-15 17:18] #198 closed

[2022-03-15 17:22] #590 closed

[2022-03-15 17:24] #553 closed

[2022-03-15 17:29] GiaJordan opened #613 "Confluence documentation for cross manifest validation rule"
Update confluence documentation to include new validation rules

Acceptance Criteria:
- Documentation explaining cross manifest validation rules and use in [Data Model Schema confluence](https://sagebionetworks.jira.com/wiki/spaces/SCHEM/pages/2473623559/The+Data+Model+Schema#A.-Schema-properties-and-relationships)

[2022-03-15 17:31] mialy-defelice commented on #610
Acceptance Criteria:

- [ ] Make creating a folder entity for non-file record/row in manifest optional.
- [ ] Add flag to associateMetadataWithFiles. (is this just storing a manifest as a table)
- [ ] Store manifest as a table.

This is all just in schematic? Or HTAN does anything need to be done for HTAN?

[2022-03-15 17:31] GiaJordan commented on #577
**Rule Expansion:**
- [ ] Cross Manifest Validation
- [ ] DCC Validation Rules

(will be updated as appropriate)

[2022-03-15 17:33] milen-sage commented on #611
Acceptance criteria: implement NF DB architecture using Synapse table joins. Or, be blocked and identify workaround.

[2022-03-15 17:36] milen-sage commented on #610
Let's sync up with Adam on whether we want to remove all existing entities and create tables instead.

[2022-03-15 18:06] afwillia commented on #612
@milen-sage @GiaJordan https://github.com/Sage-Bionetworks/schematic/issues/558

[2022-03-15 18:38] milen-sage commented on #612
Thanks @afwillia!

@GiaJordan I checked the ones that we have captured already in various schema logic. Perhaps you can start with these:

- [ ]  Empty columns produce a warning.
- [ ]  Ages over 90 are censored.
- [ ]  No filepaths in the manifest are duplicated. - can start with this one

We can discuss how to handle the censoring of ages over 90, and if that falls in validation rules or in a di

[2022-03-15 21:17] GiaJordan commented on #198
Documentation addressed in #613

[2022-03-15 23:26] danlu1 commented on #216
+1 to this feature and also, can we have an option to sort valid value with ascending/descending order?  See this example of householdIncome.
<img width="218" alt="Screen Shot 2022-03-15 at 4 25 44 PM" src="https://user-images.githubusercontent.com/90745557/158488482-126ff9c1-c41f-4a40-ad4d-3c3d78af9238.png">

[2022-03-16 18:54] GiaJordan commented on #612
**Acceptance Criteria:**
- [ ] Recommended
- add 'Recommended' validation rule that raises warnings if column is empty
- check if required, throw warning if not, error will raise if so

- [ ] protectAges
- Ages over 90 and under 18 get censored to >90 or <18 and a warning or error is raised

- [ ] unique
- error or warning raised if duplicates
@milen-sage

[2022-03-16 23:43] allaway commented on #600
Some slack discussion indicated this might be a synapseclient versioning issue. I tested 2.5.1, 2.5.0, and 2.4.0 (which is the version we have used on the shiny server before switching to shinyapps.io without issues). Unfortunately, this behavior persists across all three of these versions.

[2022-03-21 15:37] linglp opened #617 "Document the process of using Read the Docs"
**Is your feature request related to a problem? Please describe.**

- [x] Document the process of using Read the Docs
- [ ] Document the process of publishing

**Describe the solution you'd like**
A clear ReadMe

**How important is this feature?** Select from the options below:
• 🏝 Low - it's an enhancement but not crucial for work

**When will use cases depending on this become relevant?** Select

[2022-03-21 19:49] linglp opened #620 "Write test cases for API endpoints"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
There are two kinds of testing: 1) unit testing. The goal of unit testing is to make sure the code that you add don't break other code. 2) functional testing.

Look into [behave](https://behave.readthed

[2022-03-21 23:39] milen-sage commented on #606
We can discuss publishing of the docs later - we may need a business license for readthedocs

[2022-03-23 20:28] GiaJordan opened #623 "New Validation Rule: inRange"
**Is your feature request related to a problem? Please describe.**
Add a validation rule that ensures manifest attribute numerical values are within a specified range

**Describe the solution you'd like**
See above

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g. to save time or for convenience)

**When will use cases

[2022-03-24 00:32] milen-sage commented on #607
@linglp the only remaining item is to check whether the populated manifest google sheet contains newly added files to dataset - i.e. new dataset files that haven't been yet included in the csv uploaded to the populateModelManifest endpoint. If new files are not included, we can open a separate issue and tackle in one of the next sprints.

[2022-03-24 00:57] milen-sage opened #624 "Lock versions of frequently used schematic dependencies"
In poetry toml file lock versions of

- [x] SynapseClient
- [x] Pandas
- [x] Numpy

[2022-03-24 00:58] milen-sage commented on #624
@mialy-defelice what were the versions that worked for you?

[2022-03-24 01:10] milen-sage commented on #624
While we are at it let's also have

markupsafe==2.0.1 in schematic toml

[2022-03-24 16:39] linglp opened #625 "Update README.md contributor’s section to add lock file and toml management"
**Is your feature request related to a problem? Please describe.**

We're going to switch to [locking the versions of some of the core dependencies](https://github.com/Sage-Bionetworks/schematic/issues/624), to avoid users getting errors because they're using newer versions of packages that we haven't tested yet.

In general, when users do `poetry install`, they could get the controlled version of

[2022-03-24 17:12] mialy-defelice commented on #624
Numpy is already locked at `numpy = "1.21.1"`
My Pandas is `1.3.1`
My Synapse client is `1.5.1`

[2022-03-24 17:39] mialy-defelice opened #626 "Integrate Schema Viz into Schematic."
**Is your feature request related to a problem? Please describe.**
The schema visualization code is currently working outside of schematic as a series of scripts.

- `parse_json_manifest.py`

    - Uses individual json validation files easily determine all the attributes connected per manifest and all the required and conditionally required/optional dependencies. This file is used to put together

[2022-03-24 18:46] linglp opened #627 "Add additional functionality to populateModelManifest so that it can "detect" new datasets that get uploaded"
**Is your feature request related to a problem? Please describe.**
This issue is related to Milen's comment mentioned in this [PR](https://github.com/Sage-Bionetworks/schematic/issues/607). Currently, the populateModelManifest function only turns a local manifest file to a Google sheet. But in the future, we want it to be able to detect new files that got added to the dataset. For example, if a ma

[2022-03-24 20:50] linglp opened #628 "setup github action to run PyPi publishing"
**Is your feature request related to a problem? Please describe.**
To automate our PyPi release process, we would need to set up a series of GitHub actions. We could refer how that was set up for the data curator app [here](https://github.com/Sage-Bionetworks/data_curator/blob/4802eba3107d500145138b4f2c0a2f1ef7ee394a/.github/workflows/shinyapps_deploy.yml#L13-L14)

**Describe the solution you'd li

[2022-03-25 16:52] #609 closed

[2022-03-25 16:52] #607 closed

[2022-03-25 16:53] #603 closed

[2022-03-25 16:55] linglp commented on #607
@afwillia all the endpoints mentioned here were finished and merged to develop!

[2022-03-28 17:03] GiaJordan opened #629 "Handle Censored and Uncensored Manifests"
**Is your feature request related to a problem? Please describe.**
The censoring of manifest data has been introduced into schematic for feature parity with DCC validator. Only uploading censored manifests protects sensitive information, ex: ages over 90 or under 18, but while we wish to prevent the broader sharing of this information, we do not wish to take away information that might be necessar

[2022-03-28 18:22] #613 closed, assigned to GiaJordan

[2022-03-28 18:23] #593 closed

[2022-03-28 18:23] #612 closed

[2022-03-28 18:43] sujaypatil96 opened #631 "add schemasheets and linkml to schematic toolchain"
There is a new tool on the block, written by @cmungall called [schemasheets](https://github.com/linkml/schemasheets/), which we released a few months ago.

I think this tool could be a good replacement or addition to the schematic toolchain. The schemas and data models that are currently maintained as Googlesheets can be translated to LinkML data models by simply modifying the existing, say HTAN s

[2022-03-28 19:35] linglp opened #632 "Create an API endpoint to download manifests as CSV"
**Is your feature request related to a problem? Please describe.**
The DCA needs an endpoint to download an existing manifest as a csv. Currently it uses Synapse's REST API directly to download a csv manifest file. However, we'd like to decouple the DCA from Synapse.

**Describe the solution you'd like**
Create an endpoint for downloading a manifest that [uses this function](https://github.com/Sag

[2022-03-28 21:19] GiaJordan opened #633 "Validation Rules Combination Architecture"
**Is your feature request related to a problem? Please describe.**
Expand the functionality of validation rules to allow for multiple rules to be used in the validation of one attribute. Currently, rule combinations are limited to list and regex validation.

**Describe the solution you'd like**
Allow for the use of multiple validation rules to validate a single attribute
**ex:** `list::int::recomm

[2022-03-28 21:24] GiaJordan commented on #623
Acceptance criteria:
Introduction of a new rule to handle numerical data and ensure all values of an attribute are within a specified range

[2022-03-29 15:00] milen-sage commented on #626
Acceptance criteria: @ychae perhaps we could use the section "Describe the solution you'd like" as AC? This could work in general too. Or we may want to change the template for enhancement/features and bugs to include AC section explicitly?

What do you think?

[2022-03-29 15:58] #610 closed

[2022-03-29 16:14] mialy-defelice commented on #624
There are a couple of versioning issues that @linglp brought up in the[ SwaggerUI readme](https://github.com/Sage-Bionetworks/schematic/tree/develop/api). The markupsafe versions, at least, is in the lock file, but maybe it also belongs in the toml?

- itsdangerous version: 1.1.0
- jinja2 version: 2.11.3
- markupsafe version: 2.0.1

We also discovered last night that Python should be at least "^3.

[2022-03-29 17:33] ychae commented on #629
@milen-sage will add additional details and AC
@GiaJordan needs what level of sharing permissions for uncensored manifests

[2022-03-29 17:39] ychae commented on #633
@GiaJordan will speak with @mialy-defelice and @milen-sage to scope this out

[2022-03-29 17:42] GiaJordan commented on #623
related to #633 at request of @adamjtaylor

[2022-03-29 17:44] afwillia opened #635 "Create a schematic server for data curator to access its API"
**Is your feature request related to a problem? Please describe.**
All of the endpoints that data curator app requires are now exposed. Currently, devs create a local flask server running schematic to test its API. For production, we need a more permanent solution to access the API.

**Describe the solution you'd like**
A URL we can point the data curator functions to access.

**How important is t

[2022-03-29 17:45] ychae commented on #617
@milen-sage will need to give Lingling access to publish readthedocs

[2022-03-29 17:48] ychae commented on #625
AC: update and publish

[2022-03-29 17:50] ychae commented on #627
@milen-sage will look into schematic's function on how we populate manifests on existing dataset files (manifest generator code)

[2022-03-29 17:51] ychae commented on #628
@milen-sage access to PyPi

[2022-03-29 17:56] mialy-defelice commented on #626
- [ ]  Add unit tests

[2022-03-29 18:04] milen-sage commented on #627
In schematic, we don't currently pull the latest set of dataset files into the populated manifest by default. I'll create a separate issue.

@rrchai how does the DCA currently pull the latest list of files, when a manifest is generated?

[2022-03-29 18:11] rrchai commented on #627
@milen-sage Correct me if I am wrong, `getModelManifest` is able to get list of files in the dataset. It is used in the current DCA. I believe this pr #523 is addressing this issue?

[2022-03-29 18:35] milen-sage commented on #627
@rrchai - ah perfect! I thought I added this functionality, but then started doubting my memory :) since I didn't see it when I was browsing through the manifest generation code today. I see now the relevant logic is in store/synapse.py

@linglp could you take a look at this [route](https://github.com/Sage-Bionetworks/schematic/blob/8efa7296a6f3381b12e3640e63d3f6b8f1b6a8c7/api/routes.py#L70)? Does

[2022-03-29 21:52] GiaJordan commented on #624
**All versions to lock:**
- [ ] numpy =`1.21.1` - already locked
- [ ] pandas = `1.3.1`
- [ ] synapseClient = `1.5.1` @mialy-defelice are we doing `1.5.1` now instead of `2.5.1`?
- [ ] itsDangerous = `1.1.0`
- [ ] jinja2 = `2.11.3`
- [ ] markUpSafe = `2.0.1`
- [ ] python = `3.9.6` - to be addressed in separate issue after checks with GH actions

[2022-03-29 21:53] GiaJordan commented on #624
@milen-sage @mialy-defelice my pandas version that I've been working with is `1.3.1`

[2022-03-29 22:05] linglp commented on #627
@milen-sage  Thank you! I just tested it out by using the GET /manifest/generate endpoint and when I tried to get an existing manifest, I could see new entity IDs get added for new datasets. If that works, do we still want to expose an additional endpoint for the updateDatasetManifestFiles function?

[2022-03-29 22:44] mialy-defelice commented on #624
I must have mistyped.

[2022-03-29 22:45] mialy-defelice commented on #624
This matches my version.

[2022-03-29 23:17] milen-sage commented on #627
@afwillia could you confirm you can use the existing endpoint @linglp mentioned?

@linglp that's valuable feedback, we did mention [here](https://github.com/Sage-Bionetworks/schematic/issues/607#issue-1169787090) that it's possible an endpoint already exists.

[2022-03-30 19:06] GiaJordan opened #637 "Develop Universal CSV Import"
**Is your feature request related to a problem? Please describe.**
Currently, CSVs are loaded with `pd.read_csv` in multiple places in the codebase. When loaded, differing types within a column are not preserved making erroneous entries harder to locate.

**Describe the solution you'd like**
Develop one function to load CSVs and return dataframes
stretch: also allows mixed types within columns to

[2022-03-30 21:08] #624 closed

[2022-03-31 16:44] mialy-defelice opened #638 "Create Schema Hub Documentation detailing how to use Schematic and Observable to make Schema Viz."
**Is your feature request related to a problem? Please describe.**
Documentation on how to make the Observable Schema Visualization.

**Describe the solution you'd like**
Clear description of how to make a new visualization using the Schematic CLI or API (API Calls only at this time since we do not have a server backend) to generate the data and upload it to Observable.

**How important is this fe

[2022-03-31 22:35] milen-sage commented on #631
@sujaypatil96this is awesome! We are looking into it and it'd fit nicely into the toolchain for INCLUDE.

We can catch up on it towards the end of April? We can provide some feedback and how we could start integrating it.

[2022-03-31 23:20] sujaypatil96 commented on #631
@milen-sage: Yes, absolutely. We can discuss how LinkML can be leveraged for INCLUDE's use case on our periodic Friday LinkML call.

Some resources:
* schemasheets documentation: https://linkml.io/schemasheets/
* LinkML documentation: https://linkml.io/linkml/

I'm not sure if you're following a similar strategy for INCLUDE as you did with HTAN? With getting RFC's from expert curators on a Google

[2022-04-01 21:13] linglp commented on #632
@milen-sage and @afwillia could you let me know what this endpoint should return? I can have the endpoint download an existing manifest (in CSV format) and return local path of the downloaded manifest. Will that be sufficient? Or do we want to return a JSON with content from the CSV?

[2022-04-02 00:08] afwillia commented on #627
@milen-sage @linglp the original manifest/generate command works

[2022-04-04 16:14] milen-sage opened #640 "Add a method get_assets_table to schematic synapse.py"
This method retrieves the Synapse asset store fileview dataframe.

[2022-04-04 16:16] milen-sage opened #641 "Add a schematic REST API endpoint that exposes get_asset_table"
Once get_asset_table is implemented, #640, expose it as an endpoint in the REST API.

[2022-04-04 16:41] mialy-defelice opened #642 "Annotations not properly uploading to Synapse."
**Describe the bug**
In `associateMetadataWithFiles` although functions are being called to associate metadata with Files it does not appear this is happening when uploading manifest CSV or tables.

**Expected behavior**
Invoke adding even when calling for tables (get rid of `if entities`). Check that annotations are being added when there is an entity id.

**Priority** (select one)
- [ ] Minor ⬇️

[2022-04-04 17:06] GiaJordan commented on #216
Alphabetization of valid values has been implemented and will be available when PR #643 is merged
@ychae

[2022-04-04 17:21] #623 closed

[2022-04-04 17:29] #303 closed

[2022-04-04 17:40] milen-sage commented on #285
This will be resolved by PRs #622 #614

[2022-04-04 17:40] #285 closed

[2022-04-04 17:43] milen-sage commented on #632
Downloading the existing csv and returning a path should work for the DCA use cases, and we can start there? @afwillia would the content of the manifest itself be useful as JSON in any way for the app currently?

[2022-04-04 17:51] afwillia commented on #632
@milen-sage @linglp DCA doesn't do much with the content of the manifest so returning JSON at the moment won't have an effect.

[2022-04-04 18:15] linglp commented on #632
Thank you @milen-sage and @afwillia ! I will let this endpoint return a local file path then.

[2022-04-04 18:33] lakikowolfe commented on #632
Just popping in with some thoughts on this

Lingling and I spoke briefly today about the existing API endpoints and what will be needed for the Data Flow Coordinator App (AKA Release Administrator). My initial thought is that the content of the manifest would be most useful for this app as JSON rather than returning a path to a downloaded csv. Just wanted to log that here for now! Happy to talk fu

[2022-04-04 21:02] milen-sage commented on #632
@lakikowolfe that's great to know! We can think about adding an argument to the endpoint to indicate whether to return the JSON representation of the csv file.

[2022-04-05 23:44] allaway opened #648 "Validation on attributes with `list` rule causes error"
NOTE: Transferred from the DCA repository because it is probably a schematic-level issue I am running into.

**Describe the bug**
When trying to validate a manifest in the data curator app the app crashes and I get this error:

[code]

I tried to generate a new manifest in one of our demo projects and validate that and it worked fine, and I don’t see that other users have had this issue in our log

[2022-04-06 16:21] mialy-defelice commented on #648
Hey @allaway,

Can you upload the manifest that is causing this error?

Thank you!

[2022-04-06 16:42] allaway commented on #648
Hey Mialy,

I just stepped away from my computer but my previous comment has an example
manifest in one of the code blocks!

On Wed, Apr 6, 2022, 09:21 Mialy DeFelice ***@***.***> wrote:

[2022-04-06 16:52] mialy-defelice commented on #648
Hey @allaway,

Is this the link you were referring to?

I tried following that link earlier but it actually just took me to your data model. It's also the same as the one you sent on slack earlier.

[2022-04-06 16:58] allaway commented on #648
Nope! Sorry for not being clearer. This is the test manifest:

[code]

[2022-04-06 16:59] mialy-defelice commented on #648
Ahh okay...sorry I thought that was just a snippet!

[2022-04-07 15:13] #544 closed

[2022-04-07 16:37] #632 closed

[2022-04-07 16:50] #629 closed

[2022-04-07 18:14] milen-sage opened #651 "API: get manifest as a JSON doc in addition to returning a manifest csv path"
Add a parameter to the endpoint returning a manifest csv path, to enable returning the content of the csv in JSON format. Note that the conversion of csv to JSON is a handy utility and having that as a function in utils/ would be useful. There is one more place in schematic where we convert the manifest to JSON: [JSONSchema-based validation ](https://github.com/Sage-Bionetworks/schematic/blob/ceb2

[2022-04-07 19:05] #648 closed

[2022-04-07 19:13] mialy-defelice opened #653 "VR's: Append trailing comma to a string when expecting a list"
**Is your feature request related to a problem? Please describe.**
Related to PR #650. Was brought up in one of the last comments that it would be nice for single value lists to be able to automatically either add a comma or ignore that there is not a comma so as to not throw a validation error that the list is not formatted properly.

This might need discussion prior to any implementation, bc the

[2022-04-07 19:24] milen-sage opened #654 "schematic pypi package ownership"
@sujaypatil96 we are working on streamlining the schematicpy release process. That requires adding more collaborators and owners of the package. It looks like I currently don't have access to the package management tools (e.g. I can't add owners). Could you double check if you can still manage the package, and if yes check if my account is an "owner"?

Thanks!

<img width="1188" alt="Screen Shot 2

[2022-04-07 20:09] milen-sage commented on #654
@sujaypatil96 added screenshot above. Are you seeing an active "Manage" button?

[2022-04-07 20:14] sujaypatil96 commented on #654
@milen-sage: yup, I'm seeing the _manage_ button. Since I made the first release, I got auto assigned **owner** permissions. I'll change your permissions to **owner** too, which is basically the highest level of privilege. You should be able to administrate collaborator permissions after that.

[2022-04-07 20:31] milen-sage commented on #654
Thank for the quick reply and action @sujaypatil96 ! I see the button active now.

[2022-04-07 20:31] #654 closed

[2022-04-08 17:11] #626 closed

[2022-04-08 17:23] GiaJordan commented on #633
Structure to use multiple validation rules for in house and GE validation suites in place. More work to be done to test rule combos, make valid rule combinations clear, and clearly define limits and rules of combos. For rule combinations, the list rule is being updated to allow for combinations with other rules
@ychae

[2022-04-08 17:27] linglp commented on #628
@ychae : we are almost there. I just got added as maintainer on PYPI and I will test it out the release workflow later today.

[2022-04-08 17:28] linglp commented on #620
@ychae : I have added two test cases, but I have not yet had them reviewed.

[2022-04-08 17:29] linglp commented on #627
This ticket can be closed because we could use an existing endpoint.

[2022-04-08 17:29] #627 closed

[2022-04-08 17:29] linglp commented on #617
@ychae I have updated the documentation related to Readthedocs. But I have not yet gotten credentials to officially republish our documentation.

[2022-04-11 19:42] linglp opened #657 "Compare API testing libraries"
**Is your feature request related to a problem? Please describe.**
Compare [Behave ](https://behave.readthedocs.io/en/stable/api.html) and [schemathesis](https://github.com/schemathesis/schemathesis)

**Describe the solution you'd like**
Compare these two libraries in terms of the following:
1) Are they compatible to Open API framework?
2) How well is their documentation?
3) How much work for sett

[2022-04-11 19:56] linglp commented on #617
Close this issue for now. Milen's Github credentials are tied to publishing Readthedocs, so it is not easy to transfer. We could open another issue again for publishing.

[2022-04-11 19:56] #617 closed

[2022-04-11 20:27] linglp opened #658 "Update schematic release documentation"
**Is your feature request related to a problem? Please describe.**
Update release documentation since we now could use GitHub workflow for release.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**How important is this feature?** Select from the options below:
• 🏝 Low - it's an enhancement but not crucial for work

**When will use cases depending

[2022-04-11 21:07] mialy-defelice opened #660 "Create Schema Viz Tests"
**Is your feature request related to a problem? Please describe.**
Do not currently have unit tests for the Schema Viz tool.
**Describe the solution you'd like**
Write some unit tests that will test the various called functions within the tool.

**How important is this feature?** Select from the options below:
• 🏝 Low - it's an enhancement but not crucial for work

**When will use cases depending

[2022-04-11 21:18] milen-sage commented on #608
This is done and we can close.

[2022-04-11 21:18] #608 closed

[2022-04-11 21:19] milen-sage commented on #606
This is done. I just need to transfer the readthedocs ownership to @linglp for now (we can decide if we'd like more owners later).

[2022-04-11 21:19] #606 closed

[2022-04-11 21:48] ychae commented on #633
@GiaJordan do you think this work can be accomplished in the half sprint we have coming up? I don't want you to lose momentum on this but also recognize that this is a complex issue -- we can move it to Sprint 7 if more time is required!

[2022-04-11 22:01] ychae commented on #620
@linglp I think we can close this issue as it's met the acceptance criteria. If any problems arise, please feel free to open another issue.

[2022-04-11 22:03] ychae commented on #549
Closed with issue https://github.com/Sage-Bionetworks/schematic/issues/610

[2022-04-11 22:06] ychae commented on #628
Moving to Sprint 6 - @milen-sage will identify how to add @linglp as maintainer to the test PyPI instance

[2022-04-11 22:11] GiaJordan commented on #577
@rrchai reported an issue with the errors raised during cross-manifest validation that I'll need to look into, but I don't think its big enough to warrant a separate ticket
**cc** @ychae @milen-sage

[2022-04-11 22:14] GiaJordan commented on #633
@ychae I think it would be better to move this back to sprint 7 to allow for enough time for the remaining implementation and testing. It's in a place that shouldn't be too hard to pick up again at the start of that sprint

[2022-04-11 22:16] ychae commented on #633
That sounds great! Thanks for the quick response -- the ticket's been updated 😁

[2022-04-11 22:20] ychae commented on #551
@adamjtaylor #629 and #610 address this ticket. We're wrapping up some testing and should have this ready the week after Home Week.

[2022-04-11 22:20] #551 closed

[2022-04-11 22:27] #620 closed

[2022-04-11 22:36] ychae commented on #598
@mialy-defelice isn't this already completed?

[2022-04-11 22:40] milen-sage commented on #640
Acceptance criteria: expose a function returning this [data frame](https://github.com/Sage-Bionetworks/schematic/blob/a0b455c5c1e3b4758f85a518bda36e206ce70223/schematic/store/synapse.py#L80)

[2022-04-11 22:45] ychae commented on #515
@linglp has made significant progress on this.

Next steps is to hash out a detailed view of what types of documentation is needed for both internal and external users. Will close and create multiple documentation issues to address the remaining work.

[2022-04-11 22:45] #515 closed

[2022-04-12 09:54] Stranger6667 commented on #657
Hey @linglp
Schemathesis author here. Feel free to ping me directly (here or in the Schemathesis repo/Discord) if you'll need any support from my side or if there are any features you're missing :) I'd be happy to collaborate

[2022-04-12 16:55] mialy-defelice commented on #598
Not that I'm aware of...unless @linglp did it in another pr?

[2022-04-12 17:25] ychae commented on #599
AC: implement downloading a manifest in xlsx format

[2022-04-12 17:26] ychae commented on #569
AC: return a csv when using the output csv option

[2022-04-13 04:03] allaway commented on #600
It seems like the same thing is happening with integers, they get converted to doubles, and then when re-annotating they don't pass validation when the schema expects integer values.

[2022-04-13 17:29] GiaJordan commented on #577
The GE flag and bug fix for error messages have been implemented on the [refactor branch](https://github.com/Sage-Bionetworks/schematic/pull/614) and are working well, per @rrchai
@ychae @milen-sage

[2022-04-13 17:41] allaway opened #664 "Integers are uploaded to synapse as doubles"
**Describe the bug**
Uploading a integer-like string, (e.g. `1`) as an annotation to Synapse gets coerced to a double (`1.0`). This causes two issues:
 - it takes a valid value (string `1`) and converts it to an invalid value (double `1.0`) so the resulting data are no longer compliant, these have to be fixed manually after the fact
 - if _not_ fixed after the fact, when a user goes to re-annotate

[2022-04-14 18:18] #660 closed

[2022-04-14 22:29] GiaJordan commented on #431
`trim_commas_df` added as step in the universal CSV import function so that it is applied every time a CSV that isn't a data model is read as a df.

[2022-04-14 22:29] #431 closed

[2022-04-14 22:32] GiaJordan commented on #637
Implementation likely finished, but I want to test more to make sure the datatypes all work with the validation refactor
@ychae @milen-sage

[2022-04-15 16:06] #642 closed

[2022-04-15 16:06] #640 closed

[2022-04-15 18:07] mialy-defelice commented on #598
Note this would add specifically to the endpoint `manifest generate`.

@milen-sage should we also make an issue to add this to the commands or just include it in this issue as well?

[2022-04-15 22:22] mialy-defelice opened #670 "Generating an empty manifest raises an error."
**Describe the bug**
When trying to generate a manifest the following error is raised:

[code]
Also see conversation [here](https://github.com/Sage-Bionetworks/data_curator/pull/319).

**To Reproduce**
Steps to reproduce the behavior:
1. Fill out config file to point to HTAN JSONLD (I did not try with multiple).2.
2. Attempt to make a manifest for one of the components in the model, I attempted `B

[2022-04-15 22:32] #670 closed

[2022-04-15 22:41] brynnz22 opened #671 "DisplayName error when generating a manifest"
For the CSBC data model, I am not able to generate a manifest for the `Tool` component. The jsonld generates just fine. Attached is the CSBC data model and a screen shot of the error. The jsonld and the config.yml are not supported on here, so I can't attach it.

**To Reproduce**
Steps to reproduce the behavior:
1. In the config file, type 'Tool' for the `data_type`
2. Save
3. The command I am usi

[2022-04-15 22:53] brynnz22 opened #672 "Valid Values Mixed Up"
For CSBC, when I generate manifests for the `Theme` and `Consortium` components, the valid values are mixed up between the name attributes. For example Consortium Name, Consortium Display Name, and Consortium Full Name are not showing the correct valid values - sage_bionetworks is a correct value for Consortium Name, but not for Consortium Display Name (it should be Sage Bionetworks). Attached are

[2022-04-15 23:00] GiaJordan opened #673 "Expedite Manifest Gathering"
**Is your feature request related to a problem? Please describe.**
Currently when gathering manifests, each manifest is downloaded and opened to check the component of the manifest. With the addition of #666, manifest components are now present as annotations.

**Describe the solution you'd like**
Switch `getProjectManifests` from downloading each manifest and checking component type to getting th

[2022-04-15 23:01] GiaJordan commented on #673
@milen-sage @ychae

[2022-04-15 23:48] brynnz22 commented on #671
I do not need this issue fixed; I realized I need to delete these valid values anyway.

[2022-04-18 16:38] #651 closed

[2022-04-18 21:55] milen-sage commented on #598
@mialy-defelice let's start a separate issue for the CLI.

[2022-04-19 23:21] danlu1 commented on #179
+1 to this feature for SysBio DCC projects. One example is that our data has different assays associated with different dataType. Currently, the assay drop-down menu is very long (104 assays for PEC). If we can shorten the drop-down menu and only show the assay corresponding to the specific dataType, that would empower the user in filling metadata.

[2022-04-20 01:09] milen-sage commented on #179
@ychae let's triage this one. It may be an epic since it requires a couple of dependency issues we need to outline.

[2022-04-21 18:16] mialy-defelice commented on #672
I assigned myself bc I'm starting to look into this bug, but feel free to re-assign.

[2022-04-21 20:54] #598 closed

[2022-04-21 20:57] mialy-defelice commented on #672
Closing this issue since @brynnz22 said it was not currently an issue any longer.

Some notes on why this behavior was being seen:

This is essentially coming down to how in the JSON LD the valid values are all being recorded as 'SageBionetworks' through the function `se.get_class_label_from_display_name(val)`:

[code]

When the JSONLD is then getting converted to the manifest, `SageBionetworks` i

[2022-04-21 20:57] #672 closed

[2022-04-25 17:22] GiaJordan opened #675 "Single Rule Argument Validation Error"
**Describe the bug**
Validation rules that take a single argument are not validated correctly during data model conversion to JSONLD. If the one argument is not included in the data model rule definition, an error will not be raised like it would if there were two arguments for the rule.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a data model and specify a rule that only require

[2022-04-25 17:25] GiaJordan opened #676 "Optional Rule Arguments"
**Is your feature request related to a problem? Please describe.**
Related to #675
Would like to include optional rule arguments to specify severity of rule violation, eg error vs warning levels, that do not raise errors during model conversion if absent.

**Describe the solution you'd like**
Allow for the specification of optional validation rule arguments, so that errors are only raised when req

[2022-04-25 17:27] GiaJordan commented on #676
@milen-sage

[2022-04-25 17:48] linglp commented on #602
Close this issue for now since most conflicts should be resolved with [PR 604](https://github.com/Sage-Bionetworks/schematic/pull/604).

[2022-04-25 17:48] #602 closed

[2022-04-25 19:19] #637 closed

[2022-04-25 22:55] allaway commented on #664
Doing some more digging I'm guessing this is why this happens: https://github.com/Sage-Bionetworks/schematic/blob/4b077c73272fd653c3479d7d1d7e49697b827e39/schematic/utils/df_utils.py#L33

IMO this causes two issues: for strings that are integer-like (e.g. read pair = 1) this makes it a double (1.0), and for strings that could theoretically be doubles (e.g. age = 50) this adds false precision (50.0

[2022-04-26 12:20] sujaypatil96 commented on #631
@milen-sage: do let us know when you're ready with a rough draft of the schemasheets spec. for the HTAN Schema.

If you need schemasheets support, feel free to message us on the schemasheets Slack channel: https://monarchinitiative.slack.com/archives/C03BY689PQ9

[2022-04-26 16:36] linglp opened #677 "Think about how to re-design ManifestGenerator"
**Is your feature request related to a problem? Please describe.**
Look at the ManifestGenerator class and think of the questions below:
* The google sheet has dropdown and rules associated with different cells while the manifest in CSV format only has rows and headers. What are the essential features of manifest in these two formats? What are the functions needed for building manifests in google

[2022-04-26 16:42] linglp opened #678 "Schema visualization D3 extraction"
**Is your feature request related to a problem? Please describe.**
D3 extraction from observable

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g. to save time or for convenience)

**When will use cases depending on this be

[2022-04-26 16:44] milen-sage opened #679 "Add project scope to manifest cross-validation rules"

[2022-04-26 17:24] linglp commented on #628
To do:  Remove the part related to PYPI testing in github workflow and test publishing to PYPI

[2022-04-27 19:43] rrchai opened #683 "Improve the error handling on cross-validation rule"
**Is your feature request related to a problem? Please describe.**
<details>
<summary>Click to see an example:</summary>

When I tried to test a cross-validation rule using the [manifest](https://www.synapse.org/#!Synapse:syn29296703), where I manually put two invalid values ("HTA111111_121324", "sdsadasd") in "HTAN Parent Biospecimen ID".

With this validate rule:
[code]
I got the below errors:
[

[2022-04-27 19:49] rrchai commented on #683
One thing to note for DCA:

Each row represents each invalid value with error in the UI error table, so "matchExactlyOne" might not be fit for the error table since entire column/attribute is invalid. Thus, we might consider "matchExactlyOne" errors as a separated error type, I could just highlight the invalid source attribute and throw its errors.

[2022-04-28 00:12] brynnz22 commented on #671
I accidentally closed the wrong issue. I did need this fixed. Sorry about this!

[2022-04-28 01:29] milen-sage opened #684 "schematic: download a manifest with a specified name instead of default name"
Currently schematic downloads a dataset manifest with the name that was used to upload a dataset manifest (e.g. synapse_storage_manifest.csv). We can enable clients to provide a filename to be used for manifest download to the schematic service. There are different use case, some in the DCA raised by @rrchai.

[2022-04-28 01:36] milen-sage commented on #671
@brynnz22 thanks for the sleuthing! Sounds like your immediate problem is resolved and we can close this issue?

We can document the biothings namespace to avoid collisions in the future (longer term we will have a mechanism for resolving namespace collisions).

[2022-04-28 15:47] brynnz22 commented on #671
Yep. Sounds good. Thank you!

[2022-04-28 15:47] #671 closed

[2022-04-28 17:17] allaway opened #685 "Latest version of schematic doesn't support missing components"
**Describe the bug**
Due to some - uh - technical debt, we don't have components in the nf schema [nf-osi/nf-metadata-schema](https://github.com/nf-osi/nf-metadata-dictionary). We can add components in, but from some [slack conversation](https://sagebionetworks.slack.com/archives/C01ANC02U59/p1651115593046049) with @GiaJordan , it also sounds like schematic does not yet support multi-component man

[2022-04-28 17:54] GiaJordan commented on #673
Related to #685

[2022-04-29 00:18] allaway commented on #664
@GiaJordan commented in #664:

I think your comment that there might be more at play is correct; I just tested uploading a manifest on our staging instance of the DCA using the latest version of `develop` (35fa1eb) and this issue appears to persist! So there must be something else going on here.

[2022-04-29 00:22] allaway commented on #600
@GiaJordan commented in #665:

I can confirm that this issue persists in the latest version of develop (35fa1eb) and was not resolved by #665. Just wanted to close the loop on that!

[2022-04-29 15:10] linglp opened #687 "Add more test for CLI tools"
**Is your feature request related to a problem? Please describe.**
Add more tests for CLI tools.
This issue is related to the discussion we have for this PR #652 . `test_cli` currently only contain using the command line interface to convert data model from `.csv` to `.jsonld`. We would like to add more tests for command line tools.

**Describe the solution you'd like**
A clear and concise descrip

[2022-04-29 15:27] linglp opened #688 "Create a Jupyter notebook for demonstrating functionalities of CLI"
**Is your feature request related to a problem? Please describe.**
This issue is related to the discussion we had for #652 Currently, CLI functionalities are documented by using Readthedocs. In the future, we would want to create a Jupyter notebook to demonstrate the functionalities of schematic CLI

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[2022-04-29 15:46] milen-sage opened #689 "Invalid validation rule in example.model.jsonld"
**Describe the bug**

When validating the Invalid_Test_Manifest.csv for the example MockComponent data type I get

error: The json_schema, has an error in the validation rule for the attribute: CheckMatchatLeast, the provided validation rules (matchAtLeastOne MockComponent.checkMatchatLeast Patient.PatientID) is not a valid rule. Please check spelling.

Traceback:

Traceback (most recent call last

[2022-04-29 17:16] allaway commented on #600
I am down-rating this to "minor". We are going to change our boolean annotations/data model values to "yes" and "no." Between this and #664 , #664 is the higher priority issue because we cannot change those values. :)

[2022-04-29 18:17] linglp opened #690 "`test_invalid_manifest` is failing"
**Describe the bug**
A clear and concise description of what the bug is.
`test_invalid_manifest` in `test_validation.py` is failing GitHub actions. More specifically, we could start with this test:
`

        assert GenerateError.generate_cross_error(
            val_rule = 'matchExactlyOne',
            attribute_name='checkMatchExactly',
            matching_manifests = ['syn27600102', 'syn27648

[2022-04-29 22:51] allaway commented on #653
As an app _user_ my preference would be:  ignore that there is not a comma for single value lists :)

"It might be better to just force people to add trailing commas than to add commas and potentially let bad lists through."

At least in our schema, most or all of our list-columns have a set list of valid values. Therefore, if someone has a "bad list," it will not pass validation because it will n

[2022-04-29 23:16] brynnz22 opened #692 "Incorporating Attributes not specified in DependsOn column into Manifest"
**Describe the bug**
For the CSBC data model - when generating a `Tool` manifest or a `Tool View` manifest, the attribute `Name` is being added at the end of the manifests, though this attribute is not specified in the `DependsOn` column for the `Tool` or `Tool View` components. It is specified as part of the `Person` component.

**To Reproduce**
Steps to reproduce the behavior:
1. Download curren

[2022-05-02 14:32] #690 closed

[2022-05-02 16:32] linglp commented on #689
A lot of my API calls are using `example.model.jsonld` as an input field. Fixing this bug could help some work on my end too!

[2022-05-02 16:38] milen-sage opened #694 "schematic: handle cases where Component is not present in manifest"
Currently, in store/synapse.py this [line](https://github.com/Sage-Bionetworks/schematic/blob/18909db70d3d2de4c15549b913c8ced019869564/schematic/store/synapse.py#L609) assumes `Component` is present in every manifest; similarly lines below require the presence of 'Component'. In the future, it's possible we can assume that. However, at the moment for backward compatibility,  submissions of manifes

[2022-05-02 16:43] milen-sage opened #695 "schemaHub docs: add note that cross-validation is not available for data models w/o components"
Cross-validation expects `Component` to be specified in the data model. E.g.  [here](https://github.com/Sage-Bionetworks/schematic/blob/725f2bd4df5cd1117e8abd1de926162912cdf4c7/schematic/models/validate_attribute.py#L359).

This is fine - it's the expected behavior. However, should we add a note to the respective validation rules or @GiaJordan do you think it's already pretty obvious you can't use

[2022-05-02 16:53] milen-sage commented on #689
Hmm, it sounds like this may be higher priority then. @GiaJordan do you think you could take a look this sprint?

[2022-05-02 16:54] mialy-defelice commented on #694
@milen-sage I think you accidentally left out a link here:

[2022-05-02 16:56] GiaJordan commented on #695
I think it would be better to explicitly say it's not supported to limit confusion! I'm actually going through and updating the [documentation ](https://sagebionetworks.jira.com/wiki/spaces/SCHEM/pages/2473623559/The+Data+Model+Schema#A.-Schema-properties-and-relationships)on the validation rules, so I can add a note to the cross manifest rules right now.
@milen-sage

[2022-05-02 17:21] linglp commented on #657
Hello @Stranger6667 ! Can I ask you a question related to passing a token to schemathesis before an API call:
We are using `flask` and `swagger` for our application. Some of our API end points require a token from the users (In other words, users have to manually pass down a token on Swagger UI before executing the API call). Do you know if there's a way to pass my input token from my local config

[2022-05-02 17:26] Stranger6667 commented on #657
Hi @linglp

I think something like this should work:

[code]

The main idea is that you need to modify `case` in place - I assumed that your token is likely to be sent via the `Authorization` header. But if not, then you can freely set any other header (e.g. `X-API-Key` or any other appropriate).

[2022-05-02 17:35] linglp commented on #657
Notes: Schemathesis is helpful for ensuring our codes are rigorous, and making sure that the users do not always just see error 500. In addition, instead of writing all kinds of tests ourselves to test all edge cases, we could simply just run something like:
[code]
Then Schemathesis would read about definitions of API endpoints from `swagger.json` and pass down a bunch of tests. For example, befor

[2022-05-02 17:38] linglp commented on #657
Hello @Stranger6667 !Thanks for the quick reply! I tried that and it didn't work because our input_token is a parameter instead of a header. For example, please see our input_token defined below in `swagger.json`
[code]

[2022-05-02 17:39] #695 closed

[2022-05-02 17:45] Stranger6667 commented on #657
You're very welcome! :)

Thanks for sharing the schema! The following should work with a query parameter

[code]

[2022-05-02 17:51] linglp commented on #657
It is working now! Thank you so much!

[2022-05-02 17:51] GiaJordan commented on #695
Added to the [confluence page](https://sagebionetworks.jira.com/wiki/spaces/SCHEM/pages/2473623559/The+Data+Model+Schema#A.-Schema-properties-and-relationships)

[2022-05-02 17:52] Stranger6667 commented on #657
Sure thing! :) let me know if you have any further questions!

[2022-05-02 19:19] GiaJordan commented on #689
@linglp Could you create a separate issue for the behavior you observed?
@milen-sage and I just met and we were able to solve his, but we think that yours might have a different cause and a separate issue for it would be easier to track!

[2022-05-02 19:20] milen-sage commented on #689
After a conversation with @GiaJordan I realized I messed up: I was trying to use new functionality w/o rebuilding the wheel containing it... Rebuilding resolved the issue!. Thanks @GiaJordan ! @linglp it sounds like you have a separate issue, and can follow up with @GiaJordan separately.

[2022-05-02 19:53] linglp opened #696 "jsonschema.exceptions.ValidationError error when using example json schema url"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
For context, my error could be reproduced by following the steps below:
1. cd `api`
2. `poetry run python3 run_api.py`
3. Go to `manifest/generate` endpoint and hit execute
4. Error:
[code]

Note: `manifest/generate` endpoint has been working without errors. The new validatio

[2022-05-02 19:53] linglp commented on #689
Thank you @GiaJordan and @milen-sage ! I created my bug here: https://github.com/Sage-Bionetworks/schematic/issues/696

[2022-05-02 20:11] milen-sage commented on #692
@brynnz22 for reproduction, could you add the manifest(s) you generated (for Tool and/or Tool View) to this issue? Thanks!

[2022-05-02 20:14] brynnz22 commented on #692
Yes. Here is the [toolView.manifest](https://docs.google.com/spreadsheets/d/1PKKPEqi3nJ7NxKy0ZAd_iSABfCNK11jftBYPVe4Mu5o/edit#gid=0) and here is the [tool.manifest](https://docs.google.com/spreadsheets/d/124PCfqctV6Tt6jvRzrAjqTrzpn5T6t8FBkCBFMbqjsQ/edit#gid=0)

[2022-05-03 01:58] milen-sage commented on #694
@mialy-defelice thanks for spotting. I added the link :)

[2022-05-03 18:39] allaway opened #699 "error when attempting to validate list values (is not of type \'array\'')"
**Describe the bug**
When I validate a manifest that contains comma separated values, and the attribute has list validation, I get the error message pasted under "additional context", and the manifest fails to validate.

**To Reproduce**
Steps to reproduce the behavior:
1. Install schematic (18909db).
2. Get manifest (https://sagebionetworks.slack.com/archives/C01ANC02U59/p1651601910605269?thread_

[2022-05-03 20:51] GiaJordan commented on #679
@ychae implementation progressing well, solution likely finalized, I'll be finishing up testing over the rest of the week

[2022-05-03 20:54] GiaJordan commented on #673
@ychae solution for this most likely finished, and has been written to handle cases where manifests do not have component annotations associated with them as well. Gonna finish up testing this week.
I also noticed that it manifest gathering behavior was undefined in the case where a user had access to both a censored and uncensored manifest and the same wouldn't always be downloaded, so that behav

[2022-05-04 18:56] linglp opened #703 "not of type \'array\'' affects /model/submission endpoint"
**Describe the bug**
When I tried to use `model/submit` endpoint for submitting manifest, I came across an error:
[code]

For context, this is how my manifest looks like:

Patient ID | Sex | Year of Birth | Diagnosis | Component | Cancer Type | Family History
-- | -- | -- | -- | -- | -- | --
123 | Female |   | Healthy | Patient | Breast | Breast,Colorectal

And the submission would fail too if I u

[2022-05-04 19:12] GiaJordan commented on #703
@milen-sage related to #699

[2022-05-04 19:16] linglp opened #705 "check if the Google OOB restriction impacts our API Google services usage"
**Is your feature request related to a problem? Please describe.**
check if the Google OOB restriction impacts our API Google services usage

**Describe the solution you'd like**
 OAuth out-of-band (OOB) flow will be deprecated on October 3, 2022, to protect users from phishing and app impersonation attacks. I will refer to Milen's email and check if that would impact us.

**How important is this

[2022-05-04 19:56] brynnz22 opened #706 "Apostrophe showing up at the beginning of valid values"
**Describe the bug**
When generating a manifest for the CSBC `Person` Component, the attribute `Portal Display` has valid values of `True` and `False` that show up as `'True` and `'False` (with an apostrophe as the first character).

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a Person manifest using the [CSBC data model](https://docs.google.com/spreadsheets/d/1hbG1vdi8a0gc-6psn5

[2022-05-04 20:50] allaway commented on #705
Replying to watch this as I also got an email about this...

[2022-05-04 23:54] ychae opened #707 "Review relational database layer in schematic"
Test: re-instantiate the NF database on @andrewelamb's machine by using the existing processes. (Query and update)

[2022-05-05 16:39] brynnz22 opened #708 "Biothings namespace clashing"
**Describe the bug**
Many of the biothings namespaces clash with terms used in the CSBC data model, and other data models. For example the attribute, `Publication Journal`, in the CSBC data model has a valid value of `Cell`. Because this is a term in Biothings, schematic will give a displayName error and will not generate the manifest. I know this is already on @milen-sage radar.

**To Reproduce**

[2022-05-05 18:46] anngvu commented on #703
Since NF is experiencing this, I also combed through the issues -- this is also related to https://github.com/Sage-Bionetworks/schematic/issues/653.

[2022-05-05 21:52] GiaJordan commented on #699
@allaway
Hi Robert, could you pull the latest version of the [develop-CSV-import](https://github.com/Sage-Bionetworks/schematic/tree/develop-CSV-import) branch and retry validating your manifest please?

[2022-05-05 21:59] allaway commented on #699
Yes, will do!

[2022-05-05 22:10] allaway commented on #699
[code]
🥳 🎉

Seems to work @GiaJordan , thanks!

[2022-05-05 22:11] allaway commented on #699
I will note that I had to run `great_expectations init`, and I see this in the results "0 expectation(s) included in expectation_suite." - I assume that it's still checking for compliance to the NF.jsonld validation restrictions too?

[2022-05-06 18:55] allaway commented on #653
In thinking about this a little more, what we really need is to tell schematic able to ignore list _validation_, but to still tell schematic to parse the input as a list and then validate each member of that list (even a list of one) against a set of valid values.

For NF, I'm creating a patch here https://github.com/Sage-Bionetworks/schematic/commit/a9f269783841ed83759cdf49d5c54a73d32cb17f to unb

[2022-05-06 19:22] linglp commented on #703
@GiaJordan  Thanks! I tested it out with "family history" column has the following values and it all worked:
*empty
*with only one string
*with two strings

Thank you!

[2022-05-06 19:25] #699 closed

[2022-05-06 19:25] #703 closed

[2022-05-06 19:37] #673 closed

[2022-05-06 19:58] GiaJordan commented on #673
@rrchai Cross manifest validation can now use manifest annotations for components instead of downloading to check

[2022-05-06 22:02] allaway opened #710 "list validation values not being uploaded to synapse as stringList values"
**Describe the bug**
Values for attributes with list validation requirements that are uploaded to synapse are uploaded as strings, instead of split and uploaded as stringlists.

**To Reproduce**
Steps to reproduce the behavior:
1. Install schematic (5eca846740696ec5b882edeb70cf5d29bd20be49).
2. Create a manifest (e.g. https://docs.google.com/spreadsheets/d/1uMT1kRafUS7WS3-X_vqyxJH9qDXgknWEqw35DLUM

[2022-05-06 22:05] ychae commented on #710
@allaway Would you be able to let me know if starting this ticket at our next sprint (Tuesday May 10) would be quick enough or does it need to be addressed sooner?

[2022-05-06 22:08] allaway commented on #710
I don't imagine we'll get a ton of use this weekend. If it would be possible and it's simple enough of an issue to fix it on Monday that would be great (recognizing that I'm reporting this at 3pm on a friday PT... 😆 ), but if it's a complicated issue starting work on tuesday makes sense to me!

[2022-05-06 22:31] ychae opened #711 "UML of existing system"
**Describe the solution you'd like**
As part of the schematic refactor, create a UML diagram to show the structure and behavior of the system as it currently exists to guide the refactoring work

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g. to save time or for convenience)

**When will use cases depending on this be

[2022-05-06 22:33] ychae opened #712 "User scenarios and features of existing system"
**Describe the solution you'd like**
A document capturing the currently scenarios and features of the existing system

- [ ] User stories
- [ ] Features

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g. to save time or for convenience)

**When will use cases depending on this become relevant?** Select from the options b

[2022-05-09 15:25] #694 closed

[2022-05-09 15:26] mialy-defelice commented on #684
- [ ] API
- [ ] CLI

[2022-05-09 16:55] ychae opened #714 "Review relational database work (NF)"
**Describe the solution you'd like**
Knowledge transfer of relational databases

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g. to save time or for convenience)

**When will use cases depending on this become relevant?** Select from the options below:
• Short-term - 2-4 weeks

[2022-05-09 19:27] linglp opened #715 "Incorporate collapse and expand into schema visualization"
**Is your feature request related to a problem? Please describe.**
Incorporate new interactions to nodes in schema visualization

- [x] zoom in /zoom out
- [x] expand
- [x] collapse

**Describe the solution you'd like**
Incorporate some of Adam's design and begin to experiment adding more interactions to schema visualization

**How important is this feature?** Select from the options below:
• 🌗 Me

[2022-05-09 19:33] linglp opened #716 "Replace local files with API calls for schema visualization"
**Is your feature request related to a problem? Please describe.**
Currently, our schema visualization is using local files. We would want to try to replace that part with API calls:
- Try `d3.request`
- Try ajax

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do wo

[2022-05-09 19:35] #677 closed

[2022-05-09 19:36] #569 closed

[2022-05-09 19:38] linglp commented on #628
@ychae Close this issue for now. We will wait until stakeholders finish testing for the new validation rules to do an official release.

[2022-05-09 19:38] #628 closed

[2022-05-09 19:39] linglp commented on #641
The PR related to this issue is here: https://github.com/Sage-Bionetworks/schematic/pull/681

[2022-05-09 19:39] #641 closed

[2022-05-09 19:40] #599 closed

[2022-05-09 19:42] linglp commented on #678
@ychae this work is still in progress. I have created two new issues for next steps:
- #716
- #715

[2022-05-09 19:42] #678 closed

[2022-05-09 19:43] linglp commented on #657
@ychae Let me move this to the next sprint. I was able to play around with Schemathesis and talk to Milen about its functionality. But I have not yet tried Behave.

[2022-05-09 20:17] linglp commented on #716
Helpful resources:
- https://stackoverflow.com/questions/22784164/what-is-the-best-way-to-update-d3-charts-using-ajax
- https://towardsdatascience.com/full-stack-basics-for-data-scientists-and-other-non-web-developers-part-2-jquery-d3-ajax-and-90f629c6b952

[2022-05-09 21:03] linglp commented on #716
Try the following options:
1) use ajax
[code]

Result: if I add `datatype = jsonp`, I would get a warning: ```jquery.min.js:2 Cross-Origin Read Blocking (CORB) blocked cross-origin response http://localhost:3001/v1/visualize/attributes?schema_url=https%3A%2F%2Fraw.githubusercontent.com%2Fmialy-defelice%2Fdata_models%2Fmain%2FHTAN%2FHTAN_schema_v21_10.model.jsonld&callback=jQuery3600818027511488216

[2022-05-09 21:24] GiaJordan commented on #664
Did some more digging, seems like a Pandas issue: [#31821](https://github.com/pandas-dev/pandas/issues/31821)
I'll try out the solutions mentioned in the linked thread and see if they'll work for our use cases here
@allaway

[2022-05-09 21:26] GiaJordan commented on #664
**AC**: `int` values uploaded as synapse annotations without conversion to `float`
@ychae

[2022-05-09 21:28] GiaJordan commented on #683
**AC**: Consolidated error messages for cross manifest validation

[2022-05-09 22:42] mialy-defelice commented on #684
@milen in our notes, I wrote down that you wanted to update both CLI and API with this option. I actually only saw an existing manifest download function within the API. Do you want a new CLI option to download the manifest?

[2022-05-10 17:09] linglp commented on #716
A potential solution:

If we could turn the project to a nodeJS application, and use express as back-end, we could potentially use their libraries to handle the CORS issue. I have tested it out that the following would work (for route that returns a file path):

on the client side, we could use the `fetch` function:
[code]
on the server-side (deal with the CORS issue):
[code]

[2022-05-10 17:24] linglp opened #718 "Add UML diagram for api"
**Is your feature request related to a problem? Please describe.**
As part of the refactoring, create UML diagram in Lucid chart for all the API endpoints.

**Describe the solution you'd like**
As part of the refactoring, create UML diagram in Lucid chart for all the API endpoints.

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's impo

[2022-05-10 18:02] GiaJordan opened #719 "New Validation Rule: Cross Manifest validation - Union"
**Is your feature request related to a problem? Please describe.**
Create new validation rules that search across the union of applicable manifests for matches to the attribute in the manifest being validated

**Describe the solution you'd like**
Complement to existing cross manifest validation rules that searches on the individual value level instead of the set of values from the validating manif

[2022-05-10 18:04] GiaJordan commented on #719
@ychae
@milen-sage please add anything I missed

[2022-05-10 18:08] mialy-defelice commented on #684
@mialy-defelice Create a new ticket for creating a new command for this in the CLI

[2022-05-10 18:47] mialy-defelice opened #720 "Add downloadManifest command to CLI"
**Is your feature request related to a problem? Please describe.**
Related to #684 add the downloadManifest to the CLI. This function already is exposed in the API but not in the CLI.

**How important is this feature?** Select from the options below:
• 🏝 Low - it's an enhancement but not crucial for work

**When will use cases depending on this become relevant?** Select from the options below:
• S

[2022-05-11 16:26] linglp commented on #718
The diagram could be viewed here: https://lucid.app/lucidchart/d2de5ab6-03d2-4d6f-bf26-be7185ac3305/edit?invitationId=inv_036afa81-0444-4402-89b6-14ac53d66f96

[2022-05-11 18:12] linglp opened #721 "Validation error when attempting to upload HTAN manifest for testing"
**Describe the bug**
While @lakikowolfe is testing /manifes/submit endpoint, we tried the following parameter:
- schema_url = https://raw.githubusercontent.com/ncihtan/data-models/main/HTAN.model.jsonld
- data_type = Demographics
- dataset_id = syn27221721 --basically my testing folder
- manifest_record_type = None (or "--")
restrict_rules = FALSE
input_token
manifest.csv that looks just like what

[2022-05-11 18:17] linglp commented on #721
Lauren was able to upload with no errors once I updated 'HTAN Participant ID' to be 'HTAN Patient ID' and changed 'Age is Obfuscated' from NO/YES to TRUE/FALSE. Maybe this is caused by the change of HTAN dataset?

[2022-05-11 19:08] mialy-defelice commented on #721
@linglp @lakikowolfe it looks like they did change the model.

[code]

[2022-05-12 00:08] andrewelamb opened #723 "getAttributeType API endpoint"
**Is your feature request related to a problem? Please describe.**
I've noticed that some of the values in the manifests get read in an inconsistent manner. For example some of the same attributes get read by R as in one Character in one dataset vs Double in others. This causes an error when binding them together.

**Describe the solution you'd like**
I would like an API endpoint that would allow

[2022-05-12 14:57] linglp commented on #721
Thank you @mialy-defelice !

[2022-05-12 14:57] #721 closed

[2022-05-13 19:08] linglp opened #724 "Liberate attribute table from observable"
**Is your feature request related to a problem? Please describe.**
Liberate attribute table from observable

**Describe the solution you'd like**
Liberate attribute table from observable

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g. to save time or for convenience)

**When will use cases depending on this become rel

[2022-05-14 00:06] lakikowolfe opened #725 "Spaces removed from manifest column names when using `model/submit` endpoint"
**Describe the bug**
When I submit a manifest using the `model/submit` endpoint the column names (ex: "Col Name") are modified to have no spaces (ex: "ColName").

**To Reproduce**
Steps to reproduce the behavior:
1. Download [test manifest](https://www.synapse.org/#!Synapse:syn21980682)
2. Modify to match new schema or find older schema (`Age Is Age Is Obfuscated` needs to be "True"/"False", `HTAN

[2022-05-14 00:09] lakikowolfe commented on #725
@milen-sage I didn't add a priority to this because I wasn't sure which to choose.

@ychae Milen told me to tag you in this in case you need to communicate with some stakeholders to hold off updating production systems

[2022-05-14 00:14] lakikowolfe opened #726 "allow model/submit endpoint to accept json"
**Is your feature request related to a problem? Please describe.**
For the Data Flow App it would be nice if I didn't have to write out a csv every time I wanted to submit a manifest through the model/submit endpoint.

**Describe the solution you'd like**
It'd be great if I could just convert my dataframe to json and submit to the endpoint that way

**How important is this feature?** Select from t

[2022-05-14 07:44] thomasyu888 opened #727 "Simplify CODE_OF_CONDUCT.md"
**Is your feature request related to a problem? Please describe.**
Not necessarily a problem, but currently we are maintaining two sources of truth for the code of conduct.

**Describe the solution you'd like**
I suggest centralizing code of conduct to point to the Sage site. Something like this: https://github.com/Sage-Bionetworks/synapsemonitor/blob/develop/CODE_OF_CONDUCT.md

**How important is

[2022-05-14 11:49] adamjtaylor opened #763 "HTAN staging data curator app crashes during Google sheet link generation"
**Describe the bug**
A clear and concise description of what the bug is.

The staging instance of the [HTAN Data Curator App](https://sagebio.shinyapps.io/HTAN-data-curator-staging/) crashes with the error "Disconnected from the server" during the "Generating link" phase.

This bug is not present in the [production instance](https://sagebio.shinyapps.io/HTAN-data-curator/)

**To Reproduce**
Steps

[2022-05-16 16:18] milen-sage commented on #725
I'd rate this issue somewhere between major and critical. @lakikowolfe since you caught it before the bug's in production, let's mark it as a major issue for now.

However, this bug blocks releasing or using schematic code in production, so in days it could escalate to a critical issue. @ychae we'd need to coordinate with stakeholders to be on the lookout and don't push schematic's develop branch

[2022-05-16 17:41] GiaJordan commented on #725
@milen-sage From what I've found so far, the column renaming happens in [`upload_format_manifest_table`](https://github.com/Sage-Bionetworks/schematic/blob/develop/schematic/store/synapse.py#L588), and then later in the submission process it gets saved: [`uplodad_manifest_file`](https://github.com/Sage-Bionetworks/schematic/blob/develop/schematic/store/synapse.py#L611), this is the version that ge

[2022-05-16 18:37] GiaJordan commented on #725
@ychae
The renaming of manifest columns is intentional and can be bypassed by setting `-mrt` to `entity`, confirmed by @lakikowolfe
Will discuss further with @milen-sage and @mialy-defelice

[2022-05-16 21:53] afwillia opened #729 "Create a docker container for schematic"
Create a docker container for schematic

[2022-05-17 16:31] linglp commented on #705
This issue is related to getting permission/authorization from users. I think this will unfortunately impact us for the following reasons:

- Based on the documentation [here](https://developers.googleblog.com/2022/02/making-oauth-flows-safer.html#instructions-oob) provided by Google, to determine if your App is using OOB flow, we would need to check the value of `redirect_url` parameter.

- I the

[2022-05-17 18:29] andrewelamb opened #731 "getProjectManifests endpoint"
**Describe the solution you'd like**
An API endpoint for the schematic getProjectManifests function

**How important is this feature?** Select from the options below:
• 🌋 Important - it's a blocker and can't do work without it

**When will use cases depending on this become relevant?** Select from the options below:
• Short-term - 2-4 weeks

[2022-05-17 19:30] allaway opened #732 "Validation in columns with mixed integers+blanks gives unexpected invalid result"
**Describe the bug**
When I upload a manifest that has, say, 11 files, and a column called "readPair" where the valid values are 1, 2, or blank, if I provide the readPair value for 10 of those files and leave the eleventh blank, I get a bizarre validation error where nothing passes validation. However, if I assign "1" or "2" to the eleventh file, the manifest passes validation.

**To Reproduce**
S

[2022-05-17 19:41] allaway opened #733 "Blank values are uploaded as annotations"
**Describe the bug**
This may be related to #402 / #579 . Blank values in manifests are being uploaded to synapse annotations (see screenshot) even when hideBlanks = T.

**To Reproduce**
Steps to reproduce the behavior:
1. Uploade a file to https://www.synapse.org/#!Synapse:syn22410515
2. Go to DCA (https://sagebio.shinyapps.io/NF_data_curator-staging/)
3. Select "Neurofibromatosis Demo" project
4

[2022-05-18 19:41] #684 closed

[2022-05-18 19:42] mialy-defelice commented on #711
Link to current system UML: https://lucid.app/lucidchart/c9a6cacc-c017-46a9-8252-fdb9aade2a02/edit?invitationId=inv_924e380f-fc4c-483b-b546-bbb608664a0c&page=0_0#

[2022-05-18 19:42] #711 closed

[2022-05-18 20:39] #685 closed

[2022-05-18 22:15] allaway opened #734 "Schema conversion fails "IndexError: string index out of range""
**Describe the bug**
With the current develop branch, this schema (https://github.com/nf-osi/nf-metadata-dictionary/blob/97fc0254d736e02907971d07bda2405ab38c14f0/NF.csv) fails to build with `schematic schema convert`. With the `pip` version of schematic, it builds fine.

**To Reproduce**
Using https://github.com/nf-osi/nf-metadata-dictionary/blob/97fc0254d736e02907971d07bda2405ab38c14f0/NF.csv, fo

[2022-05-19 16:29] allaway opened #740 "Unexpected app crash upon validation (Error in bind_rows: Can't combine `..1$Column` <integer> and `..2$Column` <character>.)"
**Describe the bug**
When I try to validate a manifest (attached [here](https://sagebionetworks.slack.com/archives/C01ANC02U59/p1652918321497479?thread_ts=1652914628.241799&cid=C01ANC02U59)) the DCA app crashes unexpectedly with the error `Error in bind_rows: Can't combine `..1$Column` <integer> and `..2$Column` <character>.`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://sage

[2022-05-19 20:42] mialy-defelice opened #735 "Allow multiple dataset_ids for manifest get in CLI"
**Is your feature request related to a problem? Please describe.**
When downloading multiple manifests need to be able to also supply multiple data_set ids.
Also allow multiple data types via the CLI

**Describe the solution you'd like**
Related to #598 , allow the CLI to take in many `dataset_id`'s and data_types via the CLI.

**How important is this feature?** Select from the options below:
• 🌗

[2022-05-19 21:26] #720 closed

[2022-05-19 22:58] mialy-defelice commented on #734
@allaway @milen-sage this looks like its an issue with a pandas update that only presents when there are no properties in the data model. I'll work on fixing it tomorrow.

[2022-05-20 16:16] allaway commented on #734
Sounds good, thank you @mialy-defelice !

[2022-05-20 19:54] allaway commented on #732
I thought that this snippet might be the reason: [schematic/models/validate_manifest.py](https://github.com/Sage-Bionetworks/schematic/blob/aea30ae4a2887346d1ae5db88022c64b2da85cc6/schematic/models/validate_manifest.py#L278), but it doesn't appear to be so.

[2022-05-20 21:05] mialy-defelice commented on #734
@ychae

[2022-05-20 21:22] allaway opened #738 "Reproduce issue: schematic CLI submit does not respect -dl parameter"
**Describe the bug**
Annotations are being uploaded using the SchemaLabel instead of the displayLabel:

<img width="293" alt="Screen Shot 2022-05-20 at 2 22 35 PM" src="https://user-images.githubusercontent.com/20408008/169612276-ded6aec8-9d5b-4195-a246-beb41d16d197.png">

**To Reproduce**
Steps to reproduce the behavior:
1. `schematic model --config ./schematic_config.yml submit -mp NF_Genomics_A

[2022-05-20 22:09] mialy-defelice opened #739 "Standardize CSV Import to deal with blanks, empty, nan in uniform way"
**Is your feature request related to a problem? Please describe.**
Related to #734 and #737. In a data model that contains blank entries, they are sometimes being read into Schematic in different ways -- Either empty strings, nans or possibly nulls. Develop a way to standardize how reading a CSV handles blanks so that they are processed the same

**Describe the solution you'd like**
All blanks are

[2022-05-20 22:27] mialy-defelice commented on #739
Looking at how the df is loaded for the HTAN vs CSBC data model:

HTAN:
[code]
CSBC:
[code]

[2022-05-21 19:14] allaway commented on #740
I am transferring this issue to `schematic`. It appears to be a problem with list validation, not the DCA.

I did something similar to @rrchai suggestion. The initial error was:
```Error in bind_rows: Can't combine ..1$Column<integer> and..2$Column <character>.```
So, I wrapped Column in as.character:

https://github.com/nf-osi/NF_data_curator/blob/8eeff54142c36e894d2d5c364fa808cbff3e45ab/function

[2022-05-23 14:55] milen-sage opened #741 "schematic refactor design: data records validation classes"
Create UML diagram capturing design for data records validation classes covering

- [x] validation rules plugins
- [x] vanilla JSONSchema validation

AC: designs capture all existing functionality and contain sufficient information to unblock implementation of dependency classes (i.e. code in other classes knows how to instantiate validation objects and call validation methods).

[2022-05-23 14:57] milen-sage opened #742 "schematic refactor design: data records input UI classes"
Create UML diagram capturing design for data records input classes covering

- [ ] existing manifest generation
- [ ] generic support for other batch- and single-record entry UIs

AC: designs capture all existing manifest generation functionality and contain sufficient information to unblock implementation of dependency classes (i.e. code in other classes knows how to instantiate manifest and form

[2022-05-23 15:16] milen-sage opened #743 "schematic refactor design: data-model schema CRUD classes"
Create UML diagram capturing design for data-model schema create, read, update and delete (CRUD) functionality. This includes existing

- [x] logic in schema explorer and schema generation classes
- [x] transliteration of tabular schema representation to schematic graph data structure, as well as json-ld serialization
- [x] validation of data-model schema consistency

AC: designs capture all exist

[2022-05-23 15:25] milen-sage opened #744 "schematic refactor design: data-model schema transliteration to JSONSchema"
Create UML diagram capturing design for transliterating data-model schema to JSONSchema for data-records validation. This includes

- [x] all existing JSONSchema generation-related code

AC: designs capture existing schema generation functionality and contain sufficient information to unblock implementation of dependency classes (i.e. code in other classes knows how to get JSONSchema data structur

[2022-05-23 15:26] milen-sage opened #745 "Research spike: schematic refactor design for asset store"
Create UML diagram capturing design for asset store interfaces

- [x] capture existing Synapse asset store functionality
- [ ] provide generic support for future asset stores addition - revisit with @BrunoGrandePhD  given the pythonfs implementation

AC: designs capture existing asset store interface functionality and contain sufficient information to unblock implementation of dependency classes (

[2022-05-23 17:57] milen-sage commented on #658
We' need to figure out where docs like that live for schematic - confluence or gh? Currently a google [doc](https://docs.google.com/document/d/1z0DIN9rSoSoIaUttN1NMt7qImYMWhHC0QwO1WVPTvEQ/edit?disco=AAAAZoJvkcg)

[2022-05-23 18:04] milen-sage commented on #714
@ychae have we captured the NF-related issues on gh?

[2022-05-23 18:17] GiaJordan commented on #577
@ychae converted to milestone where tracking will continue, closing issue

[2022-05-23 18:17] #577 closed

[2022-05-23 22:55] GiaJordan commented on #719
@ychae implementation finished, will reach out to @rrchai for testing

[2022-05-23 23:22] allaway commented on #738
I should also note that this _doesn't_ appear to be the case for the DCA (though possibly has to do with the version we are using)

[2022-05-24 00:28] milen-sage opened #747 "schematic refactor design: RDB classes"
Create UML diagram capturing design for RDB layer in schematic.

- [x]  determine which of the existing functionality will continue be part of the schematic package and which will live separately
- [x]  provide UML diagram for the functionality that remains in schematic

AC: designs capture RDB functionality that will remain in schematic and contain sufficient information to unblock implementation

[2022-05-24 00:31] milen-sage opened #748 "schematic refactor design: schema presentation classes"

[2022-05-24 00:39] ychae commented on #714
@milen-sage Could you be more specific? Are you referring to the Jira tickets that Ashley created?

[2022-05-24 00:41] milen-sage opened #749 "schematic refactor design: utils modules"

[2022-05-24 10:43] thomasyu888 opened #750 "LGTM code scanning warnings + recommendations"
**Describe the bug(s)**
I was exploring lgtm.com and added schematic! https://lgtm.com/projects/g/Sage-Bionetworks/schematic/?mode=list.  Good news - there are scanned security vulnerabilities in the code base, but there could be potential bugs that may have found in the "warnings" tab.

**To Reproduce**
Steps to see the code scanning warnings:
1. Go to https://lgtm.com/projects/g/Sage-Bionetworks

[2022-05-24 16:27] #714 closed

[2022-05-24 17:21] ychae commented on #744
Schema generator

[2022-05-24 17:21] ychae commented on #743
Schema explorer

[2022-05-24 18:14] GiaJordan commented on #725
AC per slack thread w/ @milen-sage

[2022-05-25 00:21] danlu1 opened #752 "Validation Rules in data model doesn't work"
I tried to restrict the data type for attributes as numbers and put "num" in the data model csv. But after I generated the template, the validation rule doesn't apply.

**Priority** (select one)
- [X] Minor ⬇️
- [ ] Major 📢
- [ ] Critical 🆘

**Screenshots**
data model:
<img width="857" alt="Screen Shot 2022-05-24 at 4 35 54 PM" src="https://user-images.githubusercontent.com/90745557/170152737-27af

[2022-05-25 00:27] ychae opened #753 "Data Model Workshop Planning Session Part 2"
Scheduled for June 2, 2022

[2022-05-25 00:29] ychae opened #754 "Data Model Workshop - Figure out GH issues for data models"
Curate a list of 3-5 GitHub issues that would work well for the session and real world use cases.

[2022-05-25 00:31] ychae opened #755 "Data Model Workshop - Pool github issues that resulted in changes in data models"
- [ ] https://github.com/Sage-Bionetworks/schematic/issues/671
- [ ] https://github.com/Sage-Bionetworks/schematic/issues/672

[2022-05-25 00:34] ychae opened #756 "Data Model Workshop - Ops"
- [x] Workshop date selected (tentative July 21, 2022)
- [ ] [Draft Slide Deck](https://docs.google.com/presentation/d/129pSx58qDm7Y1OQmSSHKDq6tsoD3pW_gDRNXiX2rd0w/edit#slide=id.g4d21a8c2ba_0_11) (Agenda, placeholder slide for each topic, presenters assigned)
- [x] Select audience

[2022-05-25 13:33] milen-sage opened #757 "schematic RDB: adding new columns to DB tables (example NF GFF)"
NF GFF DB requires adding a few more fields to their DB results:

- [ ] ResourceId - Resource
- [ ] InvestigatorId - Development
- [ ] Institution - Institution
- [ ] How To Acquire - Resource
 -updated by @mialy-defelice
This may require update of the data model and regenerating the DB tables; or, just an update of join results (or both).

This should be a good intro issue for working with scheam

[2022-05-25 13:41] milen-sage opened #758 "schematic NLM grant planning"
We can keep working on this [doc](https://docs.google.com/document/d/1_c2RR7gVgDH41rC-CoZVV6DmAz2bVfKNgFwnDhwGZHw/edit#) async for this sprint. Thanks for starting it @mialy-defelice!

AC: outline steps required to submit grant; focus on steps around kickstarting content. Have a list of collaborators w/in Sage that we would like to approach.

[2022-05-25 17:52] milen-sage commented on #723
@linglp we can chat about this one. I think we may need more business logic on the backend than usual; if so, it may be an item for the next sprint.

[2022-05-26 00:29] allaway commented on #757
Related to https://github.com/nf-osi/nf-research-tools-schema/pull/13

[2022-05-26 00:37] allaway commented on #757
I've "staged" the data temporarily here: https://www.synapse.org/#!Synapse:syn31002734/tables/

We can either ingress the data properly into the database, or if need be and time is running short, can create a MaterializedView that includes a JOIN to this table to make the data available to platform devs.

[2022-05-26 17:11] milen-sage commented on #725
@GiaJordan it looks like an issue reported initially on the DCA - which I moved to schematic after @rrchai investigated further - may be related to this bug. 🤞

[2022-05-26 21:46] #664 closed

[2022-05-27 01:27] rrchai opened #764 "Table is not uploaded using manifest_record_type = "table""
**Describe the bug**
During the today's meeting, we tried to submit a biospecimen manifest using `manifest_record_type = "table"`. The csv version of file was uploaded successfully with the annotations, but the table version was actually not shown in ["Table" tab](https://www.synapse.org/#!Synapse:syn20977135/tables/).

(the [table](https://www.synapse.org/#!Synapse:syn31064190/tables/) we thought

[2022-05-31 16:47] afwillia opened #765 "Improve run_api.py"
[run_api.py](https://github.com/Sage-Bionetworks/schematic/blob/develop/run_api.py) hard codes the port and host. It would be nice to expose these options as arguments. Also, being able to run run_api.py with a command line script would simplify running the server on various hosts.

Also, Flask is not recommended as a production server.

**How important is this feature?** Select from the options b

[2022-06-01 23:01] mialy-defelice commented on #755
Additionally:

![Image](https://user-images.githubusercontent.com/85905780/171515428-7c42d25f-933b-4c57-926c-5b50ef4f7bdf.png)

![Image](https://user-images.githubusercontent.com/85905780/171515440-b6da2812-aad7-4d65-b602-1b72d7e96f4f.png)

The HTAN model references a prospective 'attribute' in the depends on column that doesn't exist yet.

[2022-06-01 23:09] mialy-defelice commented on #755
We should additionally discuss circular dependencies.

[2022-06-01 23:14] mialy-defelice commented on #755
https://sagebionetworks.slack.com/archives/C01ANC02U59/p1648231504693789
^ about formatting properly, not using `;`

[2022-06-01 23:16] mialy-defelice commented on #755
https://sagebionetworks.slack.com/archives/C01ANC02U59/p1647383880322269

solution that worked:

[2022-06-02 16:31] #755 closed

[2022-06-02 16:37] andrewelamb opened #767 "Ubuntu specific instructions for database notebook"
**Is your feature request related to a problem? Please describe.**
Getting the database notebook running on Ubuntu requires some different steps

**Describe the solution you'd like**
Under "Set up Schematic-RDB Environment":

1. Install MySql Server:
    - Download instructions for [Mac OSX.](https://flaviocopes.com/mysql-how-to-install/)
    - Download instructions for [Ubuntu](https://www.digita

[2022-06-02 18:12] mialy-defelice commented on #754
@ychae could you elaborate on what you are envisioning these GitHub issues being?

[2022-06-02 18:21] ychae commented on #754
@mialy-defelice of course! The types of issues for this ticket was to see if we could get a sense of a pattern of where people were getting errors and/or getting stuck and using that to guide the "Common Pitfalls" section of the workshop. Additionally, if there happens to be an open ticket that we could (maybe) work through troubleshooting together at the workshop that would be good to know.

[2022-06-02 18:54] mialy-defelice commented on #754
@ychae Ahh okay. Does it perhaps overlap with this issue #755 at all?

I do know there were other issues...but they were schematic issues...

[2022-06-02 19:49] mialy-defelice opened #768 "RDB Jupyter notebook save_locally sometimes does not work."
**Describe the bug**
We have an option to save join csvs locally to a folder called `schematic_sql_outputs`. Worked for Andrew when he was running the notebook, but failed for me for some reason.

Look into why this might be happening.

**Priority** (select one)
- [ x] Minor ⬇️
- [ ] Major 📢
- [ ] Critical 🆘

[2022-06-02 20:22] mialy-defelice opened #769 "RDB Jupyter Notebook Crashes with too many messages."
**Describe the bug**
The RDB Jupyter notebook sends a lot of messages when uploading to the server. Can cause the notebook to shutdown. See if changing the sqlalchemy logging level will help solve this problem. If not document to reset the max messages that can be sent.

`jupyter notebook --NotebookApp.iopub_msg_rate_limit=1.0e10`

**Priority** (select one)
- [x ] Minor ⬇️
- [ ] Major 📢
- [ ] Crit

[2022-06-02 21:29] ychae commented on #754
This ticket does feel pretty redundant after reading through the comments in that ticket.

[2022-06-03 03:41] allaway commented on #757
I'd like to slight modify the AC for this issue @milen-sage / @andrewelamb if that is OK. We have another issue https://sagebionetworks.jira.com/browse/NFINT-664 that we can resolve at the same time. In addition to the tables mentioned in the initial ticket, can we also please add the Funder and Donor tables in this join? These should all be 1-1 relationships so they should not cause any unexpecte

[2022-06-03 15:39] milen-sage commented on #764
@rrchai this may be resolved in the latest version of schematic/develop. Could you give it a try when you have a moment?

[2022-06-03 17:15] ychae commented on #731
Thanks for the endpoint @linglp! Closing ticket

[2022-06-03 17:15] #731 closed

[2022-06-03 18:54] GiaJordan opened #770 "Great Expectations OMOP hackathon planning"
Review [Data Quality Dashboard functionality](https://ohdsi.github.io/DataQualityDashboard/articles/CheckTypeDescriptions) to compare with existing [Great Expectations expectations](https://greatexpectations.io/expectations/) to plan and set goals for a hackathon with Superconductive to create a suite of expectations to validate according to the OMOP CDM.
AC:
Tasks/plan for a hackathon (current dr

[2022-06-03 19:03] GiaJordan commented on #770
cc @ychae @milen-sage

[2022-06-06 05:38] jaybee84 opened #771 "subdivide sample manifest by data model entities or domains to facilitate easy navigation"
**Is your feature request related to a problem? Please describe.**
In the long genomics assay manifest generated for folder, I find it difficult to find relevant columns to fill in information. I have to scroll back and forth to find all relevant columns for a specific class/entity/domain of metadata.

For example:
<img width="1784" alt="Screen Shot 2022-06-05 at 10 08 59 PM" src="https://user-ima

[2022-06-06 15:59] linglp opened #772 "Look into react flow"
**Is your feature request related to a problem? Please describe.**
Check out React flow and Cytoscape

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g. to save time or for convenience)

**When will use cases depending on th

[2022-06-06 16:31] #718 closed

[2022-06-06 16:36] linglp commented on #715
More tasks:

- [ ] add links. Ensure that paths could exit and enter like nodes and text
- [ ] Modify text and nodes based on Mialy's suggestion. If a child belongs to other nodes, and other parents have not yet been exited, the text/node of the child should still be there.
- [ ] Modify links based on Mialy's suggestion. When click on a node, all the links belong to that node should be entered/exi

[2022-06-06 16:59] linglp opened #773 "Create a diagram to document miniDream infrastructure"
**Is your feature request related to a problem? Please describe.**
Create a diagram to document miniDream infrastructure

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**How important is this feature?** Select from the options below:
• 🏝 Low - it's an enhancement but not crucial for work

**When will use cases depending on this become relevant?**

[2022-06-06 18:08] GiaJordan commented on #633
Validation Rules Combination will be converted to epic
Updated AC for ticket:
Develop structure to validate multiple rules for a single attribute. Rule combinations will be added in stages, prioritized based on use

[2022-06-06 18:09] #633 closed

[2022-06-06 18:12] GiaJordan opened #775 "Rule Combination: Initial"
**Is your feature request related to a problem? Please describe.**
Basic sets of rules that can be used in combination with each other

**Describe the solution you'd like**
MVP of simple pairs of rules (TBD) that can be used for validation of a single attribute

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g. to save t

[2022-06-06 18:13] GiaJordan commented on #775
@ychae for rule combo epic

[2022-06-06 18:14] GiaJordan opened #776 "Expand Pairs of Rules"
**Is your feature request related to a problem? Please describe.**
Add more pairs to valid combinations of rules for a single attribute

**Describe the solution you'd like**
Add more pairs to valid combinations of rules for a single attribute. Pairs will be determined and enumerated here

**How important is this feature?** Select from the options below:

• 🌗 Medium - can do work without it; but it

[2022-06-06 18:14] GiaJordan commented on #776
@ychae for rule combo epic

[2022-06-06 18:16] GiaJordan opened #777 "Rule Pairs + 1"
**Is your feature request related to a problem? Please describe.**
Enhance available rule pairs by allowing `recommended `or `unique `in addition to the pair

**Describe the solution you'd like**
Allow for rule triplets of different pairs as developed prior, and either `recommended `or `unique `as well

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work with

[2022-06-06 18:17] GiaJordan commented on #777
@ychae for rule combo epic

[2022-06-06 18:18] GiaJordan opened #778 "Rule Triplets"
**Is your feature request related to a problem? Please describe.**
Expand the available validation rule combinations to use triplets of different rules, beyond the pair + recommended/unique triplets

**Describe the solution you'd like**
Develop and verify triplets of validation rules that can be used together on a single attribute

**How important is this feature?** Select from the options below:

[2022-06-06 18:18] GiaJordan commented on #778
@ychae for rule combo epic

[2022-06-06 18:20] GiaJordan opened #779 "Refactor list validation in Great Expectations"
**Is your feature request related to a problem? Please describe.**
Refactor list validation in great expectations, and allow for list validation to be used in combination with other rules ie, `int`/`float`/`num` with regex

**Describe the solution you'd like**
see above

**How important is this feature?** Select from the options below:
• 🏝 Low - it's an enhancement but not crucial for work

**When

[2022-06-06 18:20] GiaJordan commented on #779
@ychae for rule combo epic

[2022-06-06 21:10] ychae commented on #729
@afwillia I see that this is marked as done, can the ticket be closed? Thanks!

[2022-06-06 21:55] #729 closed

[2022-06-06 22:49] ychae commented on #715
@linglp I've created a [milestone](https://github.com/Sage-Bionetworks/schematic/milestone/27) to help track this epic. If the tasks above are converted into new issues, I'll be sure to add them to this milestone for easier tracking.

[2022-06-06 23:46] #753 closed

[2022-06-06 23:52] ychae commented on #756
Audience members: data curators, DCC data liaisons, internal to Sage

[2022-06-06 23:52] ychae commented on #756
Continue to work through slide deck in sprint 10

[2022-06-06 23:53] ychae commented on #754
Closing as duplicate

[2022-06-06 23:53] #754 closed

[2022-06-07 01:40] milen-sage commented on #757
@andrewelamb what's the state of this issue?

[2022-06-07 01:55] milen-sage commented on #772
@linglp no need to look into cytoscape; react-flow would be sufficient.

AC: has researched license of react-flow (i.e. can code be modified and shared; is it a reasonable open source license); has determined whether collapse/expand functionality is applicable to DAGs and not just trees.

[2022-06-07 02:11] milen-sage commented on #769
AC: resolve bug on Ubuntu.

[2022-06-07 02:14] milen-sage commented on #752
AC: reproduce bug, diagnose and fix.

[2022-06-07 02:15] milen-sage commented on #756
If the only remaining item for AC here finishing a 1st draft of the slide deck?

[2022-06-07 02:15] milen-sage commented on #763
AC: bug is resolved.

[2022-06-07 02:16] ychae commented on #756
Yep! That's correct

[2022-06-07 02:22] ychae commented on #756
To elaborate further, I think we could consider the first draft to be the items discussed in the [Workshop Planning Doc](https://docs.google.com/document/d/1LSM0b-xxPYL-Lxsly-FYFAjVwvktMW8EUyb44ew4fZA/edit#heading=h.ujbkqs4nasi4) translated into a slide outline would suffice

[2022-06-07 16:50] #707 closed

[2022-06-07 17:30] ychae commented on #757
Jay's web dev team needs these features by 6/16

[2022-06-07 17:50] GiaJordan commented on #752
@danlu1 Can you post or link to the data model and template you experienced this on please?

[2022-06-08 16:50] GiaJordan commented on #775
First Round of new rule pairs:

- `int::inRange`
- `float::inRange`
- `num::inRange`
- `protectAges::inRange`

Rule pairs will be added or removed as reprioritized based on user feedback and feasibility

[2022-06-08 17:26] milen-sage opened #780 "In JIRA: Combinations of rules disjunction"
**Is your feature request related to a problem? Please describe.**
Currently combination of rules operate on a conjunction of rules (rule1 and rule2 and ... ruleN need to be satisfied by data). We would like to support rule disjunction (rule1 or rule2 or ... ruleN need to be satisfied by data).

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it;

[2022-06-08 18:15] danlu1 commented on #752
@GiaJordan here attached the data model and link to the template.
Data model: [1kD.demographic.data.model.csv](https://github.com/Sage-Bionetworks/schematic/files/8864028/1kD.demographic.data.model.csv)
Template: https://docs.google.com/spreadsheets/d/19PD4mNCylBUAz6x7n0Wpj22I1OuFv8NcwPstCm5XzEw/edit#gid=0

[2022-06-08 18:33] andrewelamb commented on #757
@allaway I'm still getting up to speed on how this whole workflow happens so hopefully I don't butcher this: @mialy-defelice and me looked through this and the tables we pull the data from need to have the howToAcquire column added.

[2022-06-08 18:34] andrewelamb commented on #757
@milen-sage @allaway  Do the Funder and Donor tables need to be added by 6/16, or is the original ask good enough for that purpose?

[2022-06-08 18:43] ychae commented on #24
covered by validation rules. closing.

[2022-06-08 18:43] #24 closed

[2022-06-08 18:44] ychae commented on #165
DCA works via Synapse login/authentication services.

[2022-06-08 18:44] #165 closed, assigned to xdoan, milen-sage

[2022-06-08 18:47] ychae commented on #52
Users can select AWS or GC storage locations: https://ncihtan.github.io/HTAN-Data-Ingress-Docs/choose-your-cloud-storage-platform.html

[2022-06-08 18:47] #52 closed

[2022-06-08 18:49] ychae commented on #128
can re-open if a more urgent need for it arises

[2022-06-08 18:59] allaway commented on #757
Done for the Cell Line , Animal Model, Antibody, Biobank, and Genetic Reagent "Resource" manifests here: https://drive.google.com/drive/u/0/folders/15LKpNqrWMvTrbJFI-eFNCm4T4U6VJa6_ !

It would be helpful to have these tables added to the join by 6/16.

[2022-06-08 19:02] andrewelamb commented on #757
@allaway could you give me access to that drive link?

[2022-06-08 19:03] allaway commented on #757
Done @andrewelamb !

[2022-06-08 19:07] ychae commented on #215
closing as work is covered and continuing through the validation rules effort

[2022-06-08 19:07] #215 closed

[2022-06-08 19:09] #430 closed

[2022-06-08 19:09] #537 closed

[2022-06-08 19:16] andrewelamb commented on #757
@allaway I'm getting a 404 error when trying that link, maybe it's not a permissions issue.

[2022-06-08 19:20] #28 closed

[2022-06-08 19:22] ychae commented on #66
closing as this work is being tracked in various milestones like this one: https://github.com/Sage-Bionetworks/schematic/milestone/27

[2022-06-08 19:22] #66 closed

[2022-06-08 19:23] #81 closed, assigned to nobody

[2022-06-08 19:23] #159 closed

[2022-06-08 19:23] #160 closed

[2022-06-08 19:36] #161 closed

[2022-06-08 19:36] #162 closed

[2022-06-08 19:36] #163 closed

[2022-06-08 19:44] GiaJordan commented on #752
Thanks @danlu1!
What does your output look like when you run `schematic model validate` on the manifest?

[2022-06-08 22:27] danlu1 commented on #752
I ran `schematic model --config config.yml validate -mp ./1kD.demographic.data.model.csv -dt 1kDStandardizedDemographicData` and got this error:
[code]

[2022-06-08 23:01] #930 closed

[2022-06-09 15:34] andrewelamb commented on #757
@allaway The Investigator -> Development -> Resource join is a many to many relationship (with Development making it 2 one to many relationships). I'm doing inner joins on these assuming you don't want Investigators with no Resources, or Resources with no Investigators, is that correct?

[2022-06-09 16:34] allaway commented on #757
@andrewelamb - thanks for checking! I would like left joins (In Resource x Development / Development x Investigator if it is doable. We do want to keep all of the resources in the final table (i.e. we still want Resources with no Investigators). We don't need or want Investigators with no Resources, though.

[2022-06-09 16:34] allaway commented on #757
Oops pressed the wrong button.

[2022-06-09 16:40] andrewelamb commented on #757
@allaway Same question for funders :)

[2022-06-09 16:44] allaway commented on #757
Same thing! We don't want to eliminate any Resources based on missing info in other tables. So Resources without Funders is fine, but we don't care about Funders without Resources.

[2022-06-09 16:49] andrewelamb commented on #757
So to get to donor we have to go through animal model and/or cell line. How should we do that? I assume the joins are the same as above in regards to joins?

[2022-06-09 16:53] milen-sage commented on #757
@andrewelamb I believe there are some example queries that do this kind of multi table join in the query config of the jupyter notebook @mialy-defelice had put together? Did you take a look at those?

[2022-06-09 17:29] anngvu commented on #708
Related to this, I would request that the JSON-LD is _not_ generated with the bts model included by default and that we have more control of defined namespaces, because we might register the model elsewhere at e.g. [BioPortal](https://bioportal.bioontology.org/) or [identifiers.org/](https://identifiers.org).

[2022-06-09 17:30] ychae commented on #128
@milen-sage sounds good! I'll add it to one of the refactor milestones so we don't lose track of it.

[2022-06-09 17:37] andrewelamb commented on #757
@allaway  Besides the "How To Acquire" column is there anything missing from this result:
Any columns you don't want?

![database_result](https://user-images.githubusercontent.com/7220713/172909470-f9b4d817-8bec-4d05-a9a0-3480a9e594b6.jpg)

[2022-06-09 17:48] allaway commented on #757
Hey Andrew,

Sorry for not laying this issue out more clearly. We'd like these tables to be added to our "mega-join" table: https://www.synapse.org/#!Synapse:syn26438037/tables/

It's currently a join across: Resource_CellLine_AnimalModel_GeneticReagent_Antibody and we'd like to add in Investigator and Donor and Funder. I'm guessing @mialy-defelice has the rest of that join defined somewhere in th

[2022-06-09 18:11] andrewelamb commented on #757
@allaway Do you want all the columns from investigators, funders and donors?

[2022-06-09 18:15] allaway commented on #757
Yes, thanks!

[2022-06-09 22:20] mialy-defelice commented on #756
@ychae Added a whole bunch of slides about building the model. Can try to add a simpler model instead, but that will be done if I get more time.

[2022-06-10 01:40] milen-sage commented on #756
I left some minor comments in the deck draft. Thanks @mialy-defelice!

[2022-06-10 17:17] allaway commented on #757
@ychae , I think there may have been some miscommunication from our end - Jay's team will need more time to complete their work (probably mainly as it comes to https:/sagebionetworks.jira.com/browse/PORTALS-2178/ which requires implementing some new designs).

I am planning on creating a mock data table for them to use (just using joins in R), and then we can replace with the table that @andrewela

[2022-06-10 17:19] andrewelamb commented on #757
@allaway The join is ready to go, I'm just dealing with permission issues getting the updated tables uploaded to synapse.

[2022-06-10 17:20] allaway commented on #757
Oh, that's great! Thanks @andrewelamb !

I probably just need to add you to the project?

[2022-06-10 17:22] allaway commented on #757
Oh nevermind you should already have admin access, so I'm guessing you are wrestling with a different permissions issue than I thought.

[2022-06-10 17:24] andrewelamb commented on #757
Yep, working on it :)

[2022-06-10 17:49] GiaJordan commented on #752
@milen-sage @ychae

Currently unable to reproduce, validating a similar manifest with the provided data model on the latest version of `develop` produced the output:
[code]

Valid value errors are expected the rest of the manifest, besides `noOfChildren` and `noOfAdults`, were left empty. The validation suite is catching the strings entered instead of numerical data.

Will follow up with @danlu1 t

[2022-06-10 18:09] andrewelamb commented on #757
@allaway I've got the permission resolved, but I'm getting an error on the new "howtoAcquire" column.

[code]

@mialy-defelice cna confirm, but it looks like it's spelled one way in the jsonld:

[code]

but another way in the manifests:

`howToAcquire`

The difference being in if "to/To" is capitalized or not.

[2022-06-10 18:16] milen-sage commented on #757
@mialy-defelice @andrewelamb [this](https://github.com/orgs/Sage-Bionetworks/projects/42/views/14?filterQuery=name) may be related? This issue can be tackled in the next sprint, but there is a quick manual fix?

[2022-06-10 18:33] allaway commented on #757
I just updated the schema to How To Acquire: https://github.com/nf-osi/nf-research-tools-schema/blob/main/nf-research-tools.jsonld

Let me know if this does not work!

[2022-06-10 18:34] mialy-defelice commented on #757
Hey @allaway , you don't need to change the model. This is a camelcase mismatch on our end (how camelcase gets generated) we currently have a workaround to fix it in the short term.

[2022-06-10 18:36] mialy-defelice commented on #757
Hey @milen-sage this is an issue with camelcase mismatch. We have a global variable defined to deal with the few times we have encountered this. I think there is an issue out there (your link isn't pointing to a specific one when I click) about dealing with camel case mismatches between the main Schematic branch and the RDB branch.

[2022-06-10 18:41] milen-sage commented on #757
@mialy-defelice thanks for noting - I updated the link. GH project board (beta) changed how issues are opened and the address bar link no longer contains the url of the issue... it just contains the url of the project board and any associated filters: very annoying when linking in a hurry :)

[2022-06-10 18:53] ychae opened #784 "Retro to review #757 - stream line comms"
AC: schedule a retrospective to review the conversation in #757 and determine best way to disseminate information to other stakeholders.

[2022-06-10 18:55] mialy-defelice commented on #757
@milen-sage I think they are two separate issues. I can't find another issue so I can create one.

The linked issue has to do with how the Portal decodes camelcase (for this one I needed to capitalize a letter manually to fix quick for Jay -- might only happen with the word Of).

The issue here has to do with how schematic creates camelcase vs how the RDB creates camelcase. This means we need to m

[2022-06-10 19:06] allaway commented on #757
Thanks all. I am happy to revert the change of `to->To` - let me know what is preferred! :)

[2022-06-10 19:06] allaway commented on #757
Ah I see this now: `So your original version was 'correct'.`

I will revert the change. But since both versions will be available thru git history, let me know which one you end up using!

[2022-06-10 19:08] mialy-defelice opened #785 "RDB: Camelcase mismatch between Schematic and RDB uses."
**Describe the bug**
There is a mismatch in camelcase between how the RDB creates the names and how Schematic creates the names when generating the JSONLD.

Currently there is a workaround that I added to `sql.py`:

[code]

That allows us to update the database with the Manifest data. Without it, there would be no error but the data would not load.

The dictionary we use in the script `sql_query_n

[2022-06-10 20:19] #710 closed

[2022-06-10 20:30] GiaJordan commented on #763
@ychae
`Bulk RNAseq level1` successfully generated from command line without errors, will now be tested by @afwillia with the DCA

[2022-06-10 20:48] afwillia commented on #763
@ychae @GiaJordan it works successfully on https://sagebio.shinyapps.io/data_curator-staging/ for `HTAN BU` `archive` `scRNA-seq Level 1`

[2022-06-10 20:54] GiaJordan commented on #763
@afwillia Good to hear! Can you also try it with `Biospecimen` please?

[2022-06-10 21:28] #752 closed

[2022-06-10 22:18] GiaJordan commented on #752
Manifest validation is performing as expected when run. Validation during metadata entry within Google Sheets is not supported, aside from checks against specified `valid values` and the `regex match` validation rule

[2022-06-10 22:27] ychae commented on #740
@allaway was this error also related to #710 ?

[2022-06-10 22:32] ychae commented on #716
@linglp I missed this back in Sprint 8 but I wanted to ask if this ticket can be closed? I see that it's marked as "Done" on the project board.

[2022-06-10 22:34] ychae commented on #705
@linglp another one from Sprint 8 I missed following up on -- can this be closed since it's marked as "Done" on the project board?

[2022-06-12 14:23] linglp commented on #705
@ychae Yes. Let me close it

[2022-06-12 14:23] #705 closed

[2022-06-12 14:25] #625 closed

[2022-06-13 03:06] #716 closed

[2022-06-13 16:08] afwillia commented on #763
@GiaJordan yes, it works for that as well!

[2022-06-13 16:35] GiaJordan commented on #763
@afwillia perfect thanks!

[2022-06-13 17:29] GiaJordan commented on #763
Resolved as per @afwillia
cc @ychae

[2022-06-13 17:29] #763 closed

[2022-06-13 18:29] allaway commented on #757
Hi all: will the final table on Synapse have "howtoAcquire" or "howToAcquire" as the column header?

[2022-06-13 18:43] #744 closed

[2022-06-13 21:44] mialy-defelice commented on #743
Details of the refactor are [here](https://docs.google.com/document/d/11Mk7ULzmlMgggXs-2bbBTVPigrYJxfRV2Z8nffkAPes/edit#).

[2022-06-13 21:44] #743 closed

[2022-06-13 22:05] mialy-defelice commented on #692
@ychae Tagging to keep you in the loop.

@brynnz22 Hey Brynn! Sorry it took us so long to get this ticket addressed!!

I had a look through your data model and was able to find the source of what was causing `Name` to appear in the `Tool` and `ToolView` manifests. When picking valid values, one unfortunately cannot repeat an attribute name as a valid value (@ychae this might be a good ticket to re

[2022-06-13 22:05] #692 closed

[2022-06-14 16:11] brynnz22 commented on #692
@Sage-Bionetworks/challenge-registry-admins Thank you so much! This makes sense. We have not used "Name" as an annotation so far for Tools, so it worked out removing it as a valid value for inputData and outputData.

[2022-06-14 16:42] tschaffter opened #786 "Review the dev environment of Sage-Bionetworks/schematic"
One of my objectives is to improve the development environments of software developers at Sage by sharing my expertise in software architecture and development. A good first candidate is a repo with contributions from 2+ active developers and who use a programming language such as Python, Java or TypeScript (the programming languages I'm most experienced with). Milen took up the offer and asked me

[2022-06-14 16:43] tschaffter commented on #786
Additional context:

Thomas:

Milen:

[2022-06-14 16:48] mialy-defelice opened #787 "Error surfaces after creating a manifest."
**Describe the bug**
In the newest version of `Develop` a bug is surfacing after making a manifest. The manifest is still successfully made and a URL is provided to the google sheet but following this the following error code pops up:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  In config define data model to use as well as the manifest. For testing can make the `Tool` manifest
2

[2022-06-14 18:01] mialy-defelice commented on #764
@rrchai can you provide me with the `master_fileview` you were using?

[2022-06-14 19:03] anngvu opened #788 "Manifests pull in extra annotations on the files outside of actual data model template definitions"
**Describe the bug**
 Manifests promiscuously pull in extra annotations on the files, ignoring what's actually defined by the data model.

**Some context**
In NF, we define the annotations that users are supposed to submit via the DCA as "user annotations". Behind the scenes, we add a number of automated annotations to help with file filtering on the portal; let's call these "DCC annotations". The

[2022-06-14 19:08] ychae commented on #757
@allaway do you need it to be something specific?

[2022-06-14 19:17] allaway commented on #757
It doesn't really matter, I can just change the column name on Synapse after it's uploaded to "howToAcquire" which is what Jay's team is expecting. :)

[2022-06-14 19:25] mialy-defelice commented on #768
Found the folder they were saved to. It's all good.

[2022-06-14 19:25] #768 closed

[2022-06-14 20:14] mialy-defelice commented on #757
@allaway  did you manually convert that column name to camelcase? When making the manifest it actually shows up as the display name. I was under the impression the naming was coming directly from Schematic itself...

[2022-06-14 20:43] allaway commented on #757
Sorry for the confusion. The manifests are the same manifests you generated, I just added this column. That error is on me. It should be changed to How to Acquire in the spreadsheet.

[2022-06-14 20:44] allaway commented on #757
Apologies, I did not understand that the spreadsheets are what you all were talking about, I thought you were talking about the schema.

[2022-06-14 22:39] mialy-defelice commented on #757
Also I enabled full text search and a bunch of facets but they may need to be added to or trimmed...

[2022-06-14 23:54] allaway commented on #757
Thank you both! This is great. I am about to step out for a few hours but I will check this evening to let you know.

We may need to transfer the data to syn26438037, since that is the equivalent prod table and is the one flagged OPEN_ACCESS. I'm not sure we can get approval to flag a new entity open access before Friday :)

[2022-06-15 01:54] mialy-defelice commented on #757
Do you know how to do this easily? The ids for all the entries are not the same anymore so a simple update is not possible. The md5_id are generated from all the ID columns so since we have more Ids present the hashes will all be new.

[2022-06-15 06:30] allaway commented on #757
I would do this manually by versioning the table (to save the old version), deleting all of the table rows without deleting the table itself, modify the schema as necessary (for new cols) and upload new rows. :) Does that make sense/am I missing something?

[2022-06-15 14:37] rrchai commented on #764
@mialy-defelice I was using [HTAN's config](https://github.com/ncihtan/HTAN-data-curator/blob/main/schematic_config.yml) and HTAN's file view syn20446927. It looks like the centerA is temporarily disabled from HTAN fileview.

[2022-06-15 16:03] mialy-defelice commented on #757
That makes sense! That was my fear lol. I am always terrified of messing with the actual tables... I'll practice in my test project :) I'll update when the table is up.

[2022-06-15 16:08] mialy-defelice commented on #764
@rrchai Ahh okay...that must explain it. Thats the fileview I was using but it was giving an error (pasted below) so I was just hoping I had the wrong fileview. I'll test with another manifest set.

```*** ValueError: The given dataset (syn26258660) doesn't appear in the configured file view (syn20446927). This might mean that the file view's scope needs to be updated.```

[2022-06-15 16:39] allaway commented on #757
Oh thank you! I was actually offering to do it, sorry for not being clearer. But I am happy to let you handle it!

[2022-06-15 17:58] mialy-defelice commented on #757
Okay its up!

[2022-06-15 18:04] mialy-defelice opened #789 "NF Join not pulling in Biobank Columns"
**Describe the bug**
The NF Tools Database Join `Resource_CellLine_AnimalModel_GeneticReagent_Antibody` and `Resource_CellLine_AnimalModel_GeneticReagent_Antibody_Investigator_Development` take in the `ResourceType` `Biobank`. Join needs to be updated to pull in the columns `Biobank Name` and `Biobank URL`. These are currently manually added to the desired table (`Resource_CellLine_AnimalModel_Gen

[2022-06-15 18:56] mialy-defelice opened #790 "RDB: config file not loading from command line calling sql_query_nf"
**Describe the bug**
In modifying the RDB `sql_query_nf.py` code to work with the Jupyter notebook, some work arounds were added to allow it to still work with the command line. Specifically:
[code]
`self.var` contains the config arguments if running the script from the command line and not through the Jupyter Notebook. We should add the config arguments to `arguments` if they exist. This if state

[2022-06-15 20:43] allaway commented on #757
Nice!! Thanks!

I think that the join is missing the Antibodies - see here: https://nf.synapse.org/Explore/Tools?QueryWrapper0=%7B%22sql%22%3A%22SELECT%20*%20FROM%20syn26438037%22%2C%22selectedFacets%22%3A%5B%5D%2C%22offset%22%3A0%7D

I'll take a closer look now to see if it is good otherwise!

[2022-06-15 21:34] mialy-defelice commented on #757
I think I found why it didn't load. I will work on updating it...so the table might disappear for a bit. Look for it in the version control.

[2022-06-15 21:36] allaway commented on #757
Will do, thanks!

Other than that, the columns I expect to be there are there. I didn't see any other weird issues (e.g. missing data).

[code]

[2022-06-15 22:39] mialy-defelice commented on #757
Okay...I think it might finally all be there?

[2022-06-15 23:34] allaway commented on #757
Looks good @mialy-defelice, @andrewelamb !

Thank you for the help with this! I think we are all set. I will connect with Jay and let you know if there are any other issues, but this looks good to me :)

[code]

[2022-06-15 23:34] #757 closed

[2022-06-16 21:28] linglp commented on #772
I cloned their GitHub repos and can run all their examples locally.

License: MIT

Advantages of using React flow:

Interesting features:
Edit node:
      - Change shape (but if we change the default shape, we will have to redesign placement of text and nodes)
      - Allow user to change color of node: https://reactflow.dev/docs/examples/nodes/update-node/
      - Edit text of the node
      http

[2022-06-17 21:43] linglp commented on #724
Have done it here: https://github.com/Sage-Bionetworks/schema_visualization/tree/develop-table

[2022-06-17 21:43] #724 closed

[2022-06-17 21:43] #772 closed

[2022-06-17 21:45] linglp commented on #723
@ychae Based on my discussion with Milen, Gianna will create the function before I add another API endpoint.

[2022-06-20 18:12] milen-sage commented on #723
@ychae I'm trying to find the issue that captures @GiaJordan's work on the validation function @linglp mentioned. It essentially retrieves the validation rule associated with a given attribute; the rule contains the attribute type.

@GiaJordan if you have the issue handy could you link it here?

[2022-06-20 18:24] GiaJordan commented on #723
It was PR #781 to address issue #710. the method is in the [schema explorer](https://github.com/Sage-Bionetworks/schematic/pull/781/files#diff-9e5c6267d30efc40f243c9a0e65aa32334a61d94c69b1aa7552fdacef8657df5)

[2022-06-20 19:39] andrewelamb commented on #747
I've proposed some possible [improvements.](https://docs.google.com/document/d/1ZeNa9Ord6q3KGHxXz3k_eqv7AQFfmsuzGoTvjuZ6DhY/edit)

[2022-06-20 20:11] milen-sage commented on #784
@ychae prepping the retro is sprint 11 or 12, probably not 10 based on our discussion?

[2022-06-20 20:55] milen-sage commented on #772
@linglp this is an awesome summary! Let's see if they reply on the collapse/expand question. Meanwhile let's keep pushing on the in-house schema viz #715.

[2022-06-20 23:48] ychae commented on #784
@milen-sage scheduled for Wednesday July 13 (Sprint 12)

[2022-06-20 23:48] #784 closed

[2022-06-21 13:54] linglp commented on #772
@milen-sage I have sent them a working example [here](schematic manifest --config ../schematic_package_docs/config.yml get -s -oauth) and let them know our expectation in terms of collapsing and expansion. They said that they will take some time to take a look. I will let you know once they give any updates.

[2022-06-21 16:07] linglp opened #793 "Use NodeJS to connect schema visualization front-end and back-end"
**Is your feature request related to a problem? Please describe.**

- [x] Replace the files with API calls

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g. to save time or for convenience)

**When will use cases depending

[2022-06-21 16:09] milen-sage commented on #715
Let's keep going with this issue in sprint 11! The checkboxes above reflect the remaining work based on conversation with @linglp, with one addition:

- [ ] add support for skip-level connections and use the NF model as an example

This would facilitate the clean-up task in step 3 above (e.g. removing hardcoding, testing with a new model, etc.).

[2022-06-21 17:17] ychae commented on #758
Plan to go over a bit of what the grant is in a Show & Tell

[2022-06-21 17:22] ychae commented on #764
Closing this ticket will lead to coordination work with HTAN, preserve time this sprint for that coordination

[2022-06-21 17:25] ychae commented on #764
Could be related to the error that Brynn and Verena were seeing in CSBC (config file of DCA in CSBC using the old components rather than record vs file manifest) or versioning issue.

[2022-06-21 19:17] mialy-defelice commented on #658
@milen-sage should I go ahead and start moving the documentation over to SH?

[2022-06-21 19:43] milen-sage commented on #658
Yes, thanks @mialy-defelice!

[2022-06-21 21:06] ychae commented on #708
@milen-sage could we schedule this one to be addressed in Sprint 12?

[2022-06-21 22:51] mialy-defelice commented on #764
@rrchai
@ychae (For visibility)
I just tested our current version of Develop and the table uploads work. With the change that was previously introduced to the current branch by @GiaJordan your issues with creating the Tables should not persist.

[2022-06-22 12:51] milen-sage commented on #708
@ychae yes, please feel free to triage it.

Note: first step is improving docs. The base schema by default is biothings, but it's easy to configure schematic to use something else or not use a base schema. SH can include instructions on that; we should also add as an item in the data modeling workshop, perhaps in the things to consider section.

[2022-06-22 16:26] ychae opened #796 "Outline Use Cases for Nesting Values"
This ticket will remain open to track the use cases that come through until a formal use case document can be created

[2022-06-22 16:28] ychae commented on #796
**Use Case 1 from CSBC (https://sagebionetworks.jira.com/browse/CPO-204):**

@brynnz22 and @milen-sage have previously discussed the idea of nesting value values (or implementing a “tree structure”) within manifests. In the context of CSBC/PS-ON, a use case for this would be InstitutionName, where more specific names could be nested as potential valid values. A (fake) example:

University of Texas

[2022-06-22 16:30] ychae opened #797 "Schedule Meeting with Platform"
Schedule a meeting with the web dev team to discuss collaborating around nesting metadata and faceting

[2022-06-22 16:36] ychae opened #798 "Nesting valid values (implementation)"
**Is your feature request related to a problem? Please describe.**
Currently there's no way to nest values in a manifest under another. You can have conditionally require values, but not nesting.

**Describe the solution you'd like**
From @aclayton555:

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g. to save time or fo

[2022-06-22 16:37] ychae commented on #798
@aclayton555 I marked this as becoming relevant in the mid-term (2-4 months) but please update the timeline here if that assumption is incorrect

[2022-06-22 20:17] mialy-defelice commented on #658
@milen-sage  Thoughts on [current progress](https://sagebionetworks.jira.com/wiki/spaces/SCHEM/pages/2651553822/FAIR+Data+Development+Workflow+and+Versioning)?

[2022-06-22 21:04] #732 closed

[2022-06-24 20:55] andrewelamb opened #799 "Endpoint for valid values."
**Describe the solution you'd like**
Given a project, component, and a attribute from a manifest file, I would like an endpoint that returns the list of allowed values for that attribute. Basically the "Valid Values" column from [here.](https://github.com/Sage-Bionetworks/schematic/blob/develop/tests/data/example.model.csv#:~:text=DataProperty-,list,-Biospecimen)

**How important is this feature?*

[2022-06-24 20:58] andrewelamb opened #800 "Add support to import date entries as type `datetime`"
**Describe the solution you'd like**
It would be nice to have either date or datetimes as a possible validation rule. This would allow ProjectLive2 to plot these types of attributes as date instead of strings as they are currently. They should have a consistent format like 01012021 (1/1/21).

Also, provide a list of possible options on what constitutes a date (e.g. there are values that are not da

[2022-06-27 18:38] milen-sage commented on #543
@andrewelamb let's keep track of the changes we discussed here. A screenshot of the [whiteboard](https://us02web.zoom.us/wb/doc/iCi_ZpkPSuK4ZcjZiR4pKQ/p/172294691880960) in case useful (not sure how long Zoom keeps whiteboards active...):

<img width="1637" alt="Screen Shot 2022-06-27 at 11 31 14 AM" src="https://user-images.githubusercontent.com/41303818/176012236-28f26b73-9594-4ec2-8dc9-6fd61287

[2022-06-27 22:42] aclayton555 opened #801 "Specify order of valid values in manifest (e.g. most common/recently used)"
Filing this issue on behalf of Milen following discussion on a CSBC/PS-ON stakeholder call on June 27, 2022. Meeting notes: https://docs.google.com/document/d/1To9uR_2krLPAHonXnd3EWZaK3_V8m0hdCs6s1tuAL1Q/edit?usp=sharing

**Describe the solution you'd like**
Similar to being able to specify the order of valid values alphabetically, it could be helpful to have a data curator be able to specify the

[2022-06-28 23:42] mialy-defelice opened #803 "Ensure validation will work with data_type list"
**Describe the bug**
In debugging a different issue ran into the issue of getting an error if the data_type was submitted as a list (as in the config file).

Make sure the validation takes in the data type from the config as a single value, or runs validation for each data_type specified.
**To Reproduce**

**Expected behavior**

something like this:

[code]
**Priority** (select one)
- [ x] Minor ⬇

[2022-06-28 23:42] mialy-defelice opened #804 "Ensure data_type lists work with Schematic model validation."
**Describe the bug**
In debugging a different issue ran into the issue of getting an error if the data_type was submitted as a list (as in the config file).

Make sure the validation takes in the data type from the config as a single value, or runs validation for each data_type specified.
**To Reproduce**

**Expected behavior**

something like this:

[code]
**Priority** (select one)
- [ x] Minor ⬇

[2022-06-30 17:51] andrewelamb commented on #543
@milen-sage @mialy-defelice A few more questions:

- Am I adding the strict argument to just `get_property_label_from_display_name`, or `get_class_label_from_display_name`?
- Is it OK to add a test [here?](https://github.com/Sage-Bionetworks/schematic/blob/develop/tests/test_schemas.py)
- I'm a still mixed up on display name vs the output from these methods. Could you quickly go over where these.

[2022-06-30 20:10] andrewelamb commented on #543
I'm still a little confused on what the display name is vs the output. The column name in the manifest is "howToAquire". Is the display name coming from the schema?

I've started writing some unit tests to capture the wrong output:
[code]

[2022-06-30 21:23] GiaJordan commented on #756
Finished the slides we discussed in the 6/22 workshop meeting, first draft is complete and can be reviewed

[2022-06-30 21:23] #756 closed

[2022-06-30 21:49] mialy-defelice commented on #543
We haven't pulled from Develop in a while but it shouldn't really affect the RDB codebase. So you could Pull Develop and Merge with RDB then work on this issue from a branch off develop. Thoughts @milen-sage ?

[2022-06-30 21:52] mialy-defelice commented on #543
Both I believe.

That seems fine.

[2022-06-30 22:43] milen-sage commented on #543
@andrewelamb I second @mialy-defelice's proposal on the code that goes in the explorer.py:

Just to clarify by "Merge with RDB", @mialy-defelice you mean merge into [this branch](https://github.com/Sage-Bionetworks/schematic/tree/develop-rdb-export-joins) right?

[2022-07-01 15:50] mialy-defelice commented on #543
Yep!

[2022-07-01 20:34] afwillia opened #805 "Output validation requirements as JSON for data curator"
**Is your feature request related to a problem? Please describe.**
To remove the google sheet dependency for data curator we need to get the manifest templates from schematic in another format. We are looking to use [cellEdit](https://github.com/ejbeaty/CellEdit) which requires takes column information as JSON. Here is an example for the HTAN patient metadata:

[code]

**How important is this feat

[2022-07-01 23:00] brynnz22 opened #806 "Manifests give validation errors for list attributes"
**Describe the bug**
When attempting to fill out manifests generated by Schematic, the Google Sheet will give an error that says something like, "The data you entered in cell G101 violates the data validation rules set on this cell." The only way to list values is to copy and paste the desired list of values over from another spreadsheet into the manifest. See [this example manifest](https://docs.

[2022-07-05 14:53] #787 closed

[2022-07-05 16:28] linglp commented on #715
@milen-sage @ychae I have refactored the part related to links and also have most of the collapse and expand interaction work for NF in the past sprint. There are still some problems when I try to expand the higher level after collapsing and expanding the lower level nodes.

[2022-07-05 16:38] linglp opened #807 "expose load_df function as an API endpoint"
**Is your feature request related to a problem? Please describe.**
This issue is related to the feature request mentioned [here](https://github.com/Sage-Bionetworks/schematic/issues/723).  Based on our discussion during code review, we will use the load_df function [here](https://github.com/Sage-Bionetworks/schematic/blob/develop/schematic/utils/df_utils.py#:~:text=def-,load_df,-(file_path%2C))
 t

[2022-07-05 17:07] andrewelamb opened #808 "RDB NaN issues"
**Describe the bug**
The way the database is being built at the moment, ‘NaN’ strings are getting introduced to various tables. Apparently these get converted to NULL when ingressed into synapse, so it’s not always apparent if the query to make those tables are simple. The problem right now is that this is happening to tables that are foreign keys. When two tables are joined, and the key column in

[2022-07-05 17:16] linglp commented on #807
Also explore the functionality of synapse client and see if we could use some functions to determine the data types of columns.

[2022-07-05 17:17] linglp commented on #723
Close this issue for now. After discussion, we figured out that we could not always use validation rules to to infer column types.

[2022-07-05 17:38] linglp opened #809 "Release to PYPI"
**Is your feature request related to a problem? Please describe.**
Release develop branch to PYPI

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work without it; but it's important (e.g. to save time or for convenience)

**When will use cases depending on this b

[2022-07-06 00:31] anngvu opened #810 "Manifest validates yet can't submit due to bad lookup in schema explorer / networkx call"
**Describe the bug**
Interestingly, our test manifest validates just fine, but at submit time there is some additional rules lookup that fails (?).

**To Reproduce**
:point_right: _Steps and stack trace here:_ https://github.com/nf-osi/nf-metadata-dictionary/pull/172

**Expected behavior**
Should be able to submit...

**Priority** (select one)
- [ ] Minor ⬇️
- [X] Major 📢
- [ ] Critical 🆘

**Scree

[2022-07-06 18:01] GiaJordan commented on #676
Raising the priority on this ticket; when #814 is merged this feature will then apply to the `list` rule which brings the total affected rules to:

- `list`
- `protectAges`
- `unique`
- `inRange`

Currently scheduled for sprint 13.
cc: @ychae @milen-sage

[2022-07-06 18:42] andrewelamb commented on #747
[Example](https://docs.google.com/document/d/11Mk7ULzmlMgggXs-2bbBTVPigrYJxfRV2Z8nffkAPes/edit#)

[2022-07-06 21:46] #653 closed

[2022-07-11 20:23] mialy-defelice commented on #658
@milen-sage Rebumping my previous question :)

[2022-07-11 20:35] linglp commented on #809
Release was done. Documentation could be found here: https://github.com/Sage-Bionetworks/schematic/pull/817

[2022-07-12 19:58] allaway commented on #216
It looks like this sorting is case-sensitive. Is this expected?

[2022-07-12 22:30] ychae commented on #809
@linglp congrats on the release! If there's no more remaining work for this ticket, please feel free to close 😄

[2022-07-12 22:44] ychae commented on #775
hi @GiaJordan I see that this is marked Done on the project board, can this ticket be closed?

[2022-07-13 16:49] allaway opened #819 "List like validation not working as expected"
**Describe the bug**
There are two list validation issues we are encountering with the latest version of develop. With a 'list like' validation for modelSystemName and cellType, we get the following errors when we supply valid values from this test manifest:

`
 [[2, 'cellType', "['schwann'] is not one of ['GABAergic neurons', 'NeuN+', 'CNON', 'astrocytes', 'NeuN-', 'iPSC-derived telencephalic org

[2022-07-13 18:12] linglp commented on #809
@ychae thanks Yoree! Let me close this one for now

[2022-07-13 18:12] #809 closed

[2022-07-13 19:11] milen-sage commented on #757
In the context of the retrospective, it looks like a detail like this would have been helpful to include in the github issue from the very beginning?

This may require update of the data model and regenerating the DB tables; or, just an update of join results (or both).

[2022-07-14 19:39] brynnz22 opened #820 "Bulk upload locally saved manifests"
**Is your feature request related to a problem? Please describe.**
Since migrating to using Schematic, for CSBC we split our legacy annotations that used to exist in one project table into individual manifests based on projects. Since there are hundreds of manifests, it would be very helpful to be able to upload these in bulk, instead of one at a time through Schematic or the DCA.

**Describe the

[2022-07-15 20:24] linglp commented on #793
@ychae this is partly done. I have replaced the hard-coded files with API calls. But there are new API that need to be developed before I move on and replace all the hard-coded code.

[2022-07-15 22:06] lopierra opened #821 "Character string "NA" being converted to blank"
**Describe the bug**
When I upload a filled metadata template to the Data Curator App, the character string "NA" is converted to blank. I would like to preserve the "NA" string so that empty columns will be uploaded to Synapse as String instead of Double (to match with String columns from other datasets).

This is currently preventing me from building a proper File View in Synapse. Eg. in the atta

[2022-07-15 22:14] lopierra commented on #821
Possibly related to #808 ?

[2022-07-18 17:29] #775 closed, assigned to GiaJordan

[2022-07-18 17:56] linglp commented on #807
@ychae this is almost done. I am waiting for Gianna to double check one line of code since that would change a function she wrote. Also, I think we could decrease the priority level of this issue since Andrew has paused his work on project live.

[2022-07-18 19:21] mialy-defelice commented on #748
@ychae Closing this issue for now. Have done a refactor, but may need to be reworked depending on the data that we need to provide to Linglings front end design.

[2022-07-18 19:29] #741 closed

[2022-07-18 19:38] linglp opened #822 "Resolve CORS error in Flask"
**Is your feature request related to a problem? Please describe.**
Resolve CORS error using flask

**Describe the solution you'd like**
Have Flask API communicate directly with the visualization front-end.

**How important is this feature?** Select from the options below:
• 🌋 Important - it's a blocker and can't do work without it

**When will use cases depending on this become relevant?** Select

[2022-07-18 19:38] #793 closed, assigned to linglp

[2022-07-18 19:45] linglp opened #823 "New schema visualization interactions"
**Is your feature request related to a problem? Please describe.**

- [x] add attribute table to the same page as tangled_tree in schema viz
- [x] filter attribute table by node clicking
- [x] make the text clickable
- [x] add an icon right next to the node to indicate that which nodes are expandable

**How important is this feature?** Select from the options below:
• 🌗 Medium - can do work withou

[2022-07-18 19:47] linglp commented on #823
@ychae For sprint 3, I already have enough on my plate. I will keep this issue as low priority for now. In the future, the priority of this one would be changed (especially after Adam from the design team finalize the final design)

[2022-07-18 21:56] ychae commented on #216
@GiaJordan can we make the alphabetization case-insensitive for Sprint 13?

[2022-07-18 22:00] ychae commented on #769
Closing after conversations with @milen-sage. Will continue to maintain and revisit the jupyter notebooks after the refactor.

[2022-07-18 22:00] #769 closed

[2022-07-18 22:08] GiaJordan commented on #216
Sure, we can add it!

[2022-07-19 00:06] milen-sage opened #824 "Capture schematic schema refactor work in issues"
AC: capture work related to this [milestone](https://github.com/Sage-Bionetworks/schematic/milestone/30) in a set of issues.

A subset of these are already started as stubs: #825, #826, #827, #828, but there are a few more. Let's flesh out some of the specs laid out in the refactor [notes ](https://docs.google.com/document/d/11Mk7ULzmlMgggXs-2bbBTVPigrYJxfRV2Z8nffkAPes/edit?pli=1#heading=h.7k0ywqe

[2022-07-19 00:13] milen-sage opened #825 "Implement new data mode graph node and edge classes"

[2022-07-19 00:13] milen-sage opened #826 "Implement new JSON-LD object, property and class classes"

[2022-07-19 00:13] milen-sage opened #827 "Implement data model parser class"

[2022-07-19 00:13] milen-sage opened #828 "Implement data model graph class"

[2022-07-19 00:35] milen-sage commented on #715
For step 6, @linglp could you coordinate with @mialy-defelice this sprint on what functions the backend REST API needs to provide, if any, in addition to the existing endpoints in order to recapitulate the current schema visualization state and the information in the attribute table?

If there's work needed on the backend let's capture and prioritize it for this sprint.

[2022-07-19 00:41] milen-sage commented on #748
The refactor notes make sense. See [note](https://github.com/Sage-Bionetworks/schematic/issues/715#issuecomment-1188469173) in #715. Let's make sure the current and refactored codebase provide the functionality the schema viz and attribute table need from the backend.

[2022-07-19 17:17] ychae commented on #708
@milen-sage will set up meeting with @brynnz22

[2022-07-19 17:50] ychae commented on #747
next steps: start a new repo to create and track issues.

[2022-07-19 19:04] linglp commented on #822
I have resolved the CORS issue. Here are the notes:
* Launch API by using branch `develop-schema-viz-tool-cors`. This branch was created by using Mialy's original branch `develop-schema-viz-tool`. I added additional packages and some code for handling CORS
* Use branch `develop-flask-api` in schema_visualization github repo

About API performance:
* It took around 1-2 seconds for "select dataset t

[2022-07-19 20:21] GiaJordan commented on #216
Addressed in #830, generated manifests now look like:
![image](https://user-images.githubusercontent.com/61707471/179820773-ba01fa0b-8e02-4c71-a35c-fa9ce5fe95c4.png)

[2022-07-20 20:32] #216 closed

[2022-07-21 00:22] aclayton555 opened #832 "Add a validation rule for character limit"
This issue follows a discussion with Milen about introducing a potential validation rule to specify character limit. Given that Synapse has a 500 character limit on annotations, the ability to (1) specify this limit on attributes with values that have lengthy character counts (e.g. grant abstract, tool description) and (2) throw an error if a contributor exceeds this limits would help ensure that

[2022-07-21 02:00] milen-sage commented on #658
@mialy-defelice this is great - thanks! We can maintain there, and if we have develop the same docs on GH readmes (e.g. schematic release process @linglp documented) we can remove text and link to GH.

[2022-07-21 02:00] #658 closed

[2022-07-21 14:16] milen-sage commented on #708
This is an easy fix if one is using the developer mode of schematic (to be covered in our workshop). However, we can make it easier.

Currently, a user can go to `schematic/utils/io_utils.py` and change

`data_path = "data_models/biothings.model.jsonld"`

to

`data_path = "data_models/schema_org.model.jsonld"`

This would just load schema.org. If a user has a simpler schema to start with (or no sc

[2022-07-21 18:08] linglp opened #833 "Create new endpoints for data viz"
**Is your feature request related to a problem? Please describe.**
Currently, I have to hard-coded some data and assume each node knows its children in the code. In addition, I also have to loop through the nodes and figure out the direct children. It would be better if the back-end could handle this part.

This issue is about creating the following endpoints:

- [x] get_viz_nodes_children

- [x]

[2022-07-21 18:11] linglp commented on #715
@milen-sage Here's the issue for Mialy: https://github.com/Sage-Bionetworks/schematic/issues/833

[2022-07-21 20:25] brynnz22 opened #834 "Weird Table Manifest Annotations Uploading"
**Describe the bug**
When attempting to use the table feature, instead of uploading manifests as Synapse annotations, the table leaves empty metadata values that were included in the csv. When uploading another manifest, it may, or may not, correctly fill in the table. When reuploading the same csv (with missing metadata in the table) it will update the metadata correctly, but also append the same

[2022-07-21 20:34] mialy-defelice commented on #834
@brynnz22 can you give me access to your table?

Naively, I think the problem is, the manifests will all be called the same thing, since they are all referencing the same component (the name is generated from the component name). This will cause synapse to keep adding to the same table on Synapse. Schematic in this case is anticipating that per project you would have one version of each manifest.

[2022-07-21 20:39] brynnz22 commented on #834
@mialy-defelice I added you as an administrator. These manifests would be added to the appropriate projects on synapse, so these two example manifests would technically be uploaded to different projects. We just tried this for testing purposes. So are you saying that we would just need to keep adding onto the same manifest if uploading via Schematic? I think perhaps we would be doing this. I can t

[2022-07-21 20:45] vpchung commented on #834
Thank you for the insightful reply, @mialy-defelice !

@brynnz22 yes, I think in the long run, we would (should?) always add and make changes to an existing manifest. I believe that's how the DCA works, in that, the manifest generator would link the user to an existing manifest if it already exists.  Is my understanding correct, @mialy-defelice ?

[2022-07-21 20:55] brynnz22 commented on #834
@mialy-defelice I attempted to just add new rows to the same manifest with a different batch that created [this table](https://www.synapse.org/#!Synapse:syn33344808/tables/), and it is still doing the same thing. So I am thinking that is not the problem?

[2022-07-21 22:32] mialy-defelice commented on #834
I am getting a little confused on what what is being uploading, what is happening and what is expected. Its always tricky trying to convey this all via text.

I'll summarize what I understand so far:
1. @brynnz22 you are trying to upload several manifests of the same component type (`PublicationView`) as tables (or are possibly okay with adding to the same table) in Synapse.
   1. My expectation w

[2022-07-21 23:11] mialy-defelice commented on #826
Create a skeleton for the following:

- [ ] Create `create_json_ld.py`
- [ ] Add `Class JSONLD_object`
    - [ ] [Decorator class design](https://refactoring.guru/design-patterns/decorator)
    - [ ]   __init_()
    - [ ] self.to_template() -> returns a dictionary or a string thats a JSON-LD object
    - [ ] Returns jsonld_class_template or jsonld_property_template
    - [ ] Call on JSONLD_project

[2022-07-21 23:21] mialy-defelice commented on #824
- [ ] 825
- [ ] 826
- [ ] 827
- [ ] 828

[2022-07-21 23:25] mialy-defelice commented on #828
Create a skeleton for the following:
- [ ] schema/data_model_graph.py
- [ ] Class DataModelGraph:
    - [ ] Following a [singleton class design](https://refactoring.guru/design-patterns/singleton)
    - [ ] init():
    - [ ] generate_data_model_graph()
    - [ ] convert data_model_parser output into a networkx schema.
    - [ ] Analogous to function that converts JSONLD to networkx schema (load_sc

[2022-07-21 23:28] mialy-defelice commented on #827
Create skeleton for the following:

- [ ] schema/data_model_parser.py

- [ ] Class DataModelParser:
Get the relationships and attributes from the user submitted CSV or JSONLD.
    - [ ] init():
    - [ ] get_model_type():
    - [ ] parse_model():

- [ ] Class DataModelCSVParser:
Take and input csv and gather all relationships and their attributes
Return in a form that can then be used to load into

[2022-07-21 23:30] mialy-defelice commented on #825
Create a skeleton for the following:

- [ ] schema/data_model_nodes.py
The point of these classes is to take in relationships and attribute data to create the nodes and edges for the network graph.
- [ ] Class DataModelNodes:
    - [ ] init
    - [ ] generate_node():
    - [ ] edit_node()

- [ ] schema/data_model_edges.py
- [ ] Class DataModelEdges:
    - [ ] init
    - [ ] generate_edge()
    - [

[2022-07-21 23:55] brynnz22 commented on #834
@mialy-defelice I am not sure I fully understand what you mean, but I will try to explain:

-  We are fine adding new rows onto the same manifest. We were not sure if it had to be one manifest, or if we could submit a new manifest every time we wanted to add new rows to the table. So I think this was part of the confusion, but we understand that it needs to be the same manifest, which is fine.
- T

[2022-07-22 17:14] mialy-defelice commented on #834
Okay, as far as I can understand,... I think given what you are describing what you are doing, it's actually working as intended. So let's discuss how to do this in a way that gets you what you want.

Feel free to schedule some time with me on my calendar next week!

[2022-07-22 18:16] brynnz22 commented on #834
@mialy-defelice Thanks for meeting with me!

As discussed, I tried another test run using different manifests and not trying to upload the same manifest twice. Unfortunately, the same error is occurring where annotations are missing. Please see the [folder](https://www.synapse.org/#!Synapse:syn33382831) I uploaded the two manifests to, and the [corresponding table](https://www.synapse.org/#!Synaps

[2022-07-22 19:53] brynnz22 opened #835 "Feature to allow table updates"
**Is your feature request related to a problem? Please describe.**
Related to #834 issue where updating tables in Synapse does not work properly. CSBC needs a table feature that allows for multiple manifests to be submitted using the table feature. The new manifest will append the rows onto the table, not replace them, and many manifests can be saved (instead of one manifest).

**Describe the solu

[2022-07-25 15:39] #807 closed

[2022-07-25 17:33] GiaJordan commented on #819
@ychae Cause of problem diagnosed, working on general solution to prevent similar issue with future changes

[2022-07-25 20:29] linglp commented on #822
Documentation here: https://flask-cors.readthedocs.io/en/latest/

I added `CORS(app, resources={r"*": {"origins": "*"}})`  in `run_api.py`. But alternatively, you could also put `@cross_origin()` to allow CORS on a given route.

[2022-07-25 22:07] GiaJordan opened #838 "Ints cast as floats when empty cells also present in column"
**Describe the bug**
Encountered when working on an issue related to NF. If `int` values are present in a column with empty cells, when the empty cells get cast as `np.nan`s, the `int`s get converted to `float`s to support the `nan` datatype.

**To Reproduce**
Steps to reproduce the behavior:

1. Import manifest with column containing `int`s and missing values
2. `Int`s get converted to type `floa

[2022-07-25 22:15] GiaJordan opened #839 "Data Type params get truncated from CLI"
**Describe the bug**
When validating a manifest from the CLI and specifying the dataType from the same, instead of the `config.yml`, the datatype gets truncated to the first letter and an error gets raised.

**To Reproduce**
Steps to reproduce the behavior:
1. Validate manifest and specify dataType from the CLI, for example `-dt MockComponent`
2. The below error is encountered

[code]

**Expected

[2022-07-25 22:25] GiaJordan commented on #838
@allaway I noticed this issue when I was working with the manifest you provided for #819, so if it's something you've encountered since then, it's being addressed!

**cc:** @ychae and @milen-sage

[2022-07-25 22:25] GiaJordan commented on #839
**cc:** @ychae

[2022-07-26 00:22] allaway commented on #838
Oh interesting! I wonder if this is related to #664?

[2022-07-26 15:49] mialy-defelice commented on #839
PR #831 should have fixed this error.
Though PR #836 also looks like a good solution. Just trying to make sure you have all the latest updates on your develop.

[2022-07-26 16:33] GiaJordan commented on #839
@mialy-defelice I still get the error message on develop, but it should be up to date. It's showing the last merged PR as #815

[2022-07-26 17:00] GiaJordan commented on #819
@ychae the solution is in place in the parts of code that were causing this error to surface, and the `list like` validation rule now works as expected.
Will now go through and update the other parts of the code that would use the general solution implemented above

[2022-07-26 17:22] GiaJordan commented on #838
@allaway Most likely not, I think it was different cause than in #664, but still on the topic of how dataframes are imported

[2022-07-26 17:42] ychae commented on #810
@anngvu can you test with [removing BioThings](https://github.com/Sage-Bionetworks/schematic/issues/708#issuecomment-1191541035) and let us know if that resolves the issue?

[2022-07-26 20:57] mialy-defelice commented on #839
@GiaJordan that's odd that your latest merged PR was #815. Can you try pulling it again? The other fixes in #831 are important and will need to be included in your develop branch.

[2022-07-26 21:04] GiaJordan commented on #839
@mialy-defelice Sorry for the confusion! #831 was present on develop when I experienced it. At the time of the last comment, the previous three merges were 815, 817, and 831. 831 just wasn't the most recent

[2022-07-27 17:18] #839 closed

[2022-07-27 18:12] #838 closed

[2022-07-29 17:52] brynnz22 opened #845 "Table feature error"
**Describe the bug**
When attempting to upload a manifest as a table, the following error occurs `error: Component 'None' is not present in '/Users/bzalmanek/Documents/csbc_schematic/schematic/tests/data/csbc.model.jsonld', or is invalid.`Attached are the data model and an example manifest.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the command to upload a manifest as a table `schem

[2022-07-29 19:02] linglp opened #846 "Fix example data model list validation rule"
**Describe the bug**
When generating a manifest by using the example data model, "familyHistory" which is defined as a "list" in the data model should allow people to enter multiple values. But it is currently showing as "dropdown" and only allows one entry. This might because in the data model, we specify "familyHistory" as a "list", and we should change "list" to either "list strict" or "list li

[2022-07-29 19:04] linglp commented on #846
@GiaJordan for your awareness too

[2022-07-29 19:22] GiaJordan commented on #846
related to [#76](https://github.com/ncihtan/data-models/issues/76)

[2022-07-29 22:05] mialy-defelice commented on #845
@brynnz22 Can you upload your `config.yml` file too?

[2022-08-08 16:10] brynnz22 commented on #845
yml files are not supported here, so I can't upload it. I've attached a screen shot:
<img width="843" alt="Screen Shot 2022-08-08 at 9 10 16 AM" src="https://user-images.githubusercontent.com/46435419/183463436-20b1ab91-ae9b-4f6e-a506-553b4f20d4c9.png">

[2022-08-08 20:02] linglp opened #848 "Draw a diagram for manifest generator refactor"
**Is your feature request related to a problem? Please describe.**

- [x] Review design pattern: bridge/decorator (see link here: https://refactoring.guru/design-patterns/bridge)
- [x] Create a diagram to show the new design of manifest generator class (including how the existing functions should be structured and potentially rename some of the functions)

**Describe the solution you'd like**
A cl

[2022-08-08 20:02] #822 closed

[2022-08-08 20:04] linglp commented on #742
I documented the existing functionalities of Manifest Generator here: https://docs.google.com/document/d/1dXG8aQHK8qhEcIjIRvyU5VdvyTDlGUu6JAhWtKyOYqk/edit#

[2022-08-08 20:04] #742 closed

[2022-08-08 20:05] linglp commented on #715
Close this issue for now since most of the code cleaning has already finished. I will open new issues to document new tasks.

[2022-08-08 20:05] #715 closed

[2022-08-08 20:20] linglp commented on #848
Note: this issue is also related to [#334](https://github.com/Sage-Bionetworks/data_curator/issues/334) and [#356](https://github.com/Sage-Bionetworks/data_curator/issues/356)

[2022-08-08 20:55] andrewelamb opened #849 "Endpoint for SchemaExplorer.get_nx_schema()"
**Describe the solution you'd like**
Endpoint for SchemaExplorer.get_nx_schema()

**How important is this feature?** Select from the options below:
• 🌋 Important - it's a blocker and can't do work without it

**When will use cases depending on this become relevant?** Select from the options below:
• Short-term - 2-4 weeks

[2022-08-08 20:56] andrewelamb opened #850 "schematic: endpoint for SchemaExplorer.get_property_label_from_display_name()"
**Describe the solution you'd like**
Endpoint for SchemaExplorer.get_property_label_from_display_name()

**How important is this feature?** Select from the options below:
• 🌋 Important - it's a blocker and can't do work without it

**When will use cases depending on this become relevant?** Select from the options below:
• Short-term - 2-4 weeks

[2022-08-08 20:59] andrewelamb opened #851 "schematic: endpoint for SchemaGenerator.get_node_range()"
**Describe the solution you'd like**
Endpoint for SchemaGenerator.get_node_range()

**How important is this feature?** Select from the options below:
• 🌋 Important - it's a blocker and can't do work without it

**When will use cases depending on this become relevant?** Select from the options below:
• Short-term - 2-4 weeks

[2022-08-08 21:01] andrewelamb opened #852 "Endpoint for SchemaGenerator.get_subgraph_by_edgetype()"
**Describe the solution you'd like**
Endpoint for SchemaGenerator.get_subgraph_by_edgetype()

**How important is this feature?** Select from the options below:
• 🌋 Important - it's a blocker and can't do work without it

**When will use cases depending on this become relevant?** Select from the options below:
• Short-term - 2-4 weeks

**Additional context**
Add any other context or screenshots abo

[2022-08-08 21:05] andrewelamb opened #853 "Endpoint for SchemaGenerator.get_subgraph_by_edge_type()"
**Describe the solution you'd like**
Endpoint for SchemaGenerator.get_subgraph_by_edge_type()

**How important is this feature?** Select from the options below:
• 🌋 Important - it's a blocker and can't do work without it

**When will use cases depending on this become relevant?** Select from the options below:
• Short-term - 2-4 weeks

[2022-08-08 21:07] andrewelamb opened #854 "Endpoint for SchemaExplorere.find_class_specific_properties()"
**Describe the solution you'd like**
Endpoint for SchemaExplorere.find_class_specific_properties()

**How important is this feature?** Select from the options below:
• 🌋 Important - it's a blocker and can't do work without it

**When will use cases depending on this become relevant?** Select from the options below:
• Short-term - 2-4 weeks

[2022-08-08 21:09] andrewelamb opened #855 "schematic: endpoint for SchemaGenerator.get_node_dependencies()"
**Describe the solution you'd like**
Endpoint for SchemaGenerator.get_node_dependencies()

**How important is this feature?** Select from the options below:
• 🌋 Important - it's a blocker and can't do work without it

**When will use cases depending on this become relevant?** Select from the options below:
• Short-term - 2-4 weeks

[2022-08-09 20:42] #824 closed

[2022-08-09 22:41] milen-sage opened #856 "In JIRA: schematic: expose default schema load in config"
Provide a config option for the default schema to load; we can still use biothings as a default for now, but can also move to schema.org or a different schema in the future.

AC:
- allow empty schema
- allow a specific schema

[2022-08-09 22:42] milen-sage commented on #856
This is a follow up on #708

[2022-08-09 22:53] milen-sage commented on #747
I think we have everything needed to start captured [here](https://docs.google.com/document/d/159EwbR1jJ2uRyVPJVBvZ1JPER4RKU8-Z3JeiKktUGFM/edit?usp=sharing).

[2022-08-09 22:53] #747 closed

[2022-08-09 23:12] mialy-defelice commented on #826
Created skeleton for classes

[2022-08-09 23:12] #826 closed

[2022-08-09 23:22] milen-sage commented on #733
It looks like we can have a parameter flag that determines whether blanks are uploaded as annotations or not. In some cases the expectation is that blanks will be uploaded as annotations (e.g empty strings); and some where blank annotations should not be submitted. We can expose that as an option with a backward compatible default (i.e. blank annotations are uploaded).

[2022-08-09 23:24] mialy-defelice commented on #825
Created skeleton classes.

[2022-08-09 23:24] #825 closed

[2022-08-09 23:24] mialy-defelice commented on #827
Created skeleton files and classes.

[2022-08-09 23:24] #827 closed

[2022-08-09 23:25] mialy-defelice commented on #828
Created skeleton classes.

[2022-08-09 23:25] #828 closed

[2022-08-09 23:26] milen-sage commented on #506
Yes, this makes sense! We can simplify the CLI for some of the most common operations and have more sensible defaults, starting with this one.

[2022-08-09 23:30] mialy-defelice opened #857 "Refactor data_model_parser"
Actually start writing all the code for the new data model parser, which takes in either a JSONLD or CSV data model and returns a dictionary that can be used to create nodes and edges in a network graph.

For @MiekoHash and others, there are two main user scenarios we want to enable with this work (each comprising multiple user stories):

"As a RSE, I want to be able to add new features of schema

[2022-08-09 23:31] mialy-defelice opened #858 "Refactor Node/Edge Classes"
Actually begin writing code to take data from the data_model_parser and create nodes and edges through node and edge classes.

[2022-08-09 23:37] milen-sage commented on #803
#804

[2022-08-09 23:38] #804 closed

[2022-08-10 16:56] milen-sage commented on #587
@adamjtaylor we are reprioritizing this issue from sprint 15 to the current sprint 14. This would address problems related to synapse entity IDs that no longer exist.

[2022-08-10 17:04] linglp commented on #846
This is also related to the issue that @afwillia mentioned today for endpoint /validate/manifest. We noticed that the endpoint on `develop` branch is not working properly (an example of error message: "['Breast', 'Lung'] is not one of ['Lung', 'Prostate', 'Colorectal', 'Breast', 'Skin', '']")

[2022-08-10 18:19] ychae commented on #587
Additionally: skip the deleted entity and provide a warning that that file no longer exists

[2022-08-10 18:21] ychae commented on #587
Related: https://github.com/Sage-Bionetworks/data_curator/issues/188

[2022-08-10 18:22] ychae commented on #696
This has been resolved

[2022-08-10 18:22] #696 closed

[2022-08-10 18:38] ychae commented on #806
Can use the first sheet of the CSBC data model google sheet

[2022-08-10 18:45] ychae commented on #770
Forward plan to @trberg for review after final read-through

[2022-08-10 18:45] ychae opened #860 "Clean up stale branches in schematic's repo"

[2022-08-10 20:44] mialy-defelice commented on #845
Hey @brynnz22 ,
I have been trying to replicate your error but am not experiencing any issues with uploading the manifest as a table to synapse.
[Here](https://www.synapse.org/#!Synapse:syn34262758/tables/) is where the table uploaded in my scratch space. [Here](https://www.synapse.org/#!Synapse:syn34262763) is where the CSV loaded.

Can you remake your JSONLD then try uploading the table again?
I

[2022-08-10 21:06] #819 closed

[2022-08-10 21:12] ychae opened #861 "Convert entities to tables for HTAN"
**Is your feature request related to a problem? Please describe.**
The entities in HTAN are ready to be migrated over to the new tables feature

**Describe the solution you'd like**
Migrate the entities in HTAN over to tables

[2022-08-10 21:38] GiaJordan commented on #821
@lopierra There are a number of strings that pandas interprets as `NULL` whenever CSVs are imported as dataframes. To prevent this conversion, could you please specify your values as `Not Applicable` as opposed to `NA`?

Thanks!

[2022-08-10 22:25] #846 closed

[2022-08-10 22:34] linglp commented on #806
@brynnz22  Could you test it out again?  After our recent bug fixes (#847  and #840), this issue should have been resolved. From my end, I also tested it out by generating an empty manifest for GrantView (see here: https://docs.google.com/spreadsheets/d/1KTrMo08XmqkiNAStEJpK2VXDu-N6qevHVrxaAECdjZo/edit#gid=0), and I could enter multiple values for columns that accept list, such as Grant Institutio

[2022-08-10 23:30] #821 closed

[2022-08-11 00:48] lopierra commented on #821
Thanks @GiaJordan!

[2022-08-11 17:57] brynnz22 commented on #845
@mialy-defelice thanks for looking into it. I remade the JSONLD. I also installed the latest version of Schematic and I am continuing to get the same error. I am not trying to re-upload a table after making a change to the manifest. I am just trying to do the initial upload. The JSONLD from the CSBC Github is not up to date. Could you try downloading it from [this google sheet](https://docs.google

[2022-08-11 18:57] mialy-defelice commented on #845
I do not have access to ^this google sheet.

I did remake the JSONLD from the CSV model you originally provided.  Is this one different? I added the GitHub one as an extra test to see if there was a difference.

[2022-08-11 19:31] brynnz22 commented on #845
That's weird. It says you have access. Maybe I linked something different. Here is the correct link: https://docs.google.com/spreadsheets/d/1hbG1vdi8a0gc-6psn5VgsBgyMl6IOhDSbHWDuC_8EXo/edit#gid=59750547

Oh yes that is the same csv as the google sheet.

[2022-08-11 19:50] mialy-defelice commented on #845
Okay... can you send me your JSONLD via Slack? If that does not get me to the error maybe I will try to see if we can get someone else to try to reproduce it.

[2022-08-11 20:20] brynnz22 commented on #806
@linglp yes it works! Thank you!

[2022-08-11 20:40] #806 closed

[2022-08-11 20:40] linglp commented on #806
@brynnz22 thanks for testing!

[2022-08-11 21:58] mialy-defelice commented on #845
@linglp can you try to reproduce the error that @brynnz22 is experiencing? I have been testing it, but have not had any issues uploading the manifest table to Synapse.

[2022-08-11 22:19] brynnz22 commented on #708
@milen-sage sorry to come back to this issue. I changed the io.utils file as specified above, and I tried changing our data model back to using "Cell" as one of our valid values that clashed with biothings, and I am continuing to get a displayName error. Is it possible that "Cell" is clashing with Schema.org as well?

[2022-08-12 15:50] milen-sage commented on #708
@brynnz22 could you post the updated json-ld schema? Thanks!

[2022-08-12 17:15] brynnz22 commented on #708
@milen-sage I sent it to you via slack. jsonld is not supported here. The only differences are that I changed the `Plain Text` valid value for the `Tool Input/Output Data` attributes to `Text`. This impacts the generation for the ToolView and Tool manifests. I also changed the `Cell (Journal)` valid value for the `Publication Journal` attribute to `Cell`. This impacts the generation of the Publica