[2019-04-04 19:38] milen-sage opened #1 "Skeleton code"
Add skeleton code example matching specification
- example code style
- example Python 3 type annotations
- example docs style

Use MetaModel class to start with.

Overall system specs draft are here:
https://docs.google.com/presentation/d/19nPj3yqvoefvaGWclzu8bdGJO1QoWIfjyVRxZzwdF0Q/edit?usp=sharing

#roadmap

[2019-04-04 19:44] milen-sage opened #2 "Contribution guidelines"
Start repo contribution guidelines.

@xdoan, @jcorn427, @smrgit perhaps we can discuss the logistics of contributing to this repo here.

Would the following general process work for you?

Repo setup:
- Fork this repo
- Clone the forked repo locally
- Push on dev branch
- Create pull requests to this repo (dev branch)
- Occasionally merge dev with master on this repo (we can think about releases la

[2019-08-23 19:20] milen-sage opened #20 "Schema creation and maintenance tools"
Backend utilities for Schema.org representation of data models.

Allows encoding of various assay, biosample, clinical data and project (e.g. governance, study) data models as schema.org extensions benefitting from schema.org downstream tools and services (e.g. data model exploration UIs, data discovery via structured data, etc.) and iterative updates to the data model (e.g. via new extensions, ad

[2019-08-23 19:37] milen-sage opened #21 "Add schema.org creator, editor, and explorer utilities"
#roadmap

[2019-08-23 19:42] milen-sage opened #22 "Add support for node interdependencies in schemas"
Allow specifying requirement relationships between various terms (e.g. expressing logic like 'if assay is scRNASeq require LibraryPreparationMethod').

#roadmap

[2019-08-23 19:53] milen-sage opened #23 "Build requirement dependencies and value constraints schema parser"
#roadmap

[2019-08-23 19:55] milen-sage opened #24 "Metadata validation tools"
Add utilities for automatic validation of curated metadata against a data model defined in Schema.org schema.

This feature-set facilitates curation by avoiding communication overhead related to erroneously entered metadata by data contributors. Data contributors receive appropriate validation errors as they are entering metadata

#roadmap

[2019-08-23 19:59] milen-sage opened #25 "Export requirement dependencies and controlled vocabulary value constraints to JSONSchema"
Serialize dependency requirements graph to JSONSchema, so that off-the-shel JSONSchema validator libraries can be used to validate metadata.

#roadmap

[2019-08-23 20:01] milen-sage opened #26 "Functions converting tabular metadata (e.g. csv) to JSON for validation"
Add functions to the MetadataModel class allowing
- converting metadata in tabular format to JSON suitable for validation against JSONSchema schemas
- validating resulting JSON against schemas
- reporting errors in a clean format

#roadmap

[2019-08-23 20:09] milen-sage opened #27 "Flatten schema dependencies graph"
#roadmap

[2019-08-23 20:09] milen-sage opened #28 "Metadata manifest generation"
Generate a tabular/flattened representation of metadata entry forms and data models.

- [x] Allows UIs to be built based on simple formats like csv (e.g. Google Sheets, Shiny DataTables, etc.), facilitating curation by data contributors.

- [x] Allow data models to be encoded in simple format like csv so that we can programmatically convert them to schemas.

#roadmap

[2019-08-23 20:15] milen-sage opened #29 "Integrate manifest generation with Google Sheets python API"
Research google sheets API and determine if it can be integrated with HTAN pipeline as a curation UI. Use flattened representation of metadata requirements to call google sheet API and construct metadata template spreadsheet on the web.
#roadmap

[2019-08-23 20:18] milen-sage opened #30 "Functionality to update already filled in manifest"
Given a filled in manifest (e.g. csv file), provide functionality to prepopulate a manifest (e.g. on google sheets.

#roadmap

[2019-08-23 20:25] milen-sage opened #31 "Encode dependencies between values assigned to metadata fields and additional terms required."
Note that the backend schemas support this functionality, however Google sheets currently does not.

Only show columns in Google sheet manifest if they are required given currently selected values in other columns. E.g. require cellBarcodeRead only if ReverseTranscription in a scRNASeq assay is set to CellBarcode.

We may or may not want this functionality in the final UI, but it would be nice if

[2019-08-23 20:31] milen-sage opened #32 "Data model as a service"
Add OpenAPI exposing various data model utilities (e.g. creating & extending schemas, schema serialization and visualization, etc.).

This would allow external services to communicate with the HTAN data model (e.g. Synapse, Google Cloud Platform apps, CDA) enabling services like the CDA to interoperate.

#roadmap

[2019-08-23 20:35] milen-sage opened #33 "Add OpenAPI layer to schema explorer methods via flask and conexion"
Start simple - let people interogate an existing data model (or extension). E.g. get all nodes in a schema graph; find all nodes descendents from scRNASeq node, etc. + reflect needs of the frontend data curator and other use cases.

Spec document here:
https://docs.google.com/document/d/1teBHX0SHVfJoaBqttYhoDASBVnzx0w2y7S5UdqELjIY/edit?usp=sharing

#roadmap

[2019-08-23 21:58] milen-sage opened #165 "Authentication and authorization"
Handle authentication and authorization using Synapse credentials. Allow Google accounts login.

This is a high priority feature - a lot of backend (Synapse) services depend on authentication (to Synapse).

[2019-08-23 22:19] milen-sage opened #34 "Dataset + metadata collection abstraction"
Schematize a collection interface tracking links between metadata and objects in
- dataset
- study
- publication
- governance tiers
- etc.

A collection abstraction would allow generation of schemas for BigQuery and Synapse structured queries. For now we do that adhoc assuming a tabular matrix linking dataset objects (e.g. files) with metadata fields. A proper abstraction would be less dependent o

[2019-08-23 22:24] milen-sage opened #35 "Collection construction"
Dataset + metadata collection object - a map between datasets and metadata.
Dataset abstraction already exist on the backend, but it is a stub.

#roadmap

[2019-08-23 22:26] milen-sage opened #36 "UID generation per bundle and per data object"
Generate UIDs associated with each HTAN object and bundle.
Store UIDs as part of the bundle object.

#roadmap

[2019-08-23 22:28] milen-sage opened #37 "Bundle serialization"
BigQuery and Synapse compatible schema serializations of a bundle to enable structured queries.

#roadmap

[2019-08-23 22:29] milen-sage opened #38 "Bundle update"
Handle updates of metadata via the bundle abstraction (instead of current ad hoc Synapse csv manifest).

#roadmap

[2019-08-23 22:34] milen-sage opened #39 "Expose bundle functionality as an OpenAPI via flask and conexion"
#roadmap

[2019-08-23 22:34] milen-sage opened #40 "Structured queries API"
Expose API allowing simple structured queries routed to Synapse or BigQuery depending on data storage.

This would be useful for interoperating with atlas services and other services like the CDA.

#roadmap

[2019-08-23 22:37] milen-sage opened #41 "A couple of BigQuery schema examples"
Collect 2-3 BigQuery schema examples (csv and JSON format) for systems already in use.

So that we can abstract the right features in the bundle object and structured queries API.

#roadmap

[2019-08-23 22:47] milen-sage opened #42 "Free text queries API"
Provide metadata indexing service on the backend and expose API for returning ranked hits to free text queries.

Useful for CDA and atlas services.

#roadmap

[2019-09-04 21:49] xdoan opened #50 "getModelManifest single file error"
running getModelManifest with only one file in the filelist returns this error:
[code]

#roadmap

[2019-09-05 18:16] xdoan opened #51 "Validation fails with new HTAPP metadata"
when I run the python script metadata_model_test_driver.py I get this error at the validation step:

[code]

#roadmap

[2019-09-12 19:53] milen-sage opened #52 "Synapse Google cloud interoperability"
Synapse file-handles functionality for files hosted on Google Cloud buckets. The feature is developed by the Synapse team, and is now in alpha. Let's test it!

#roadmap

[2019-09-12 20:08] milen-sage opened #53 "Test if Synapse handles files on Google cloud buckets"
@jcorn427, could you try testing Synapse - GC functionality?
We can discuss more at our DCC West meeting, but perhaps these would be good initial tests:

- [x]  setup a Google cloud bucket for interop with Synapse - follow the instructions here:
https://github.com/Sage-Bionetworks/synapseDocs/pull/584/files
Let @milen-sage or @xdoan know if there you don't have access to the doc

- [x] try uploadi

[2019-09-12 21:46] milen-sage opened #54 "Test integration with productplan roadmap"
This is an epic with no estimate.

#roadmap

[2019-09-12 21:47] milen-sage opened #55 "Test percentage completion in prodcutplan from issues related to an epic"
This is an issue within the roadmap testing epic with estimate 2

#roadmap

[2019-09-12 21:50] milen-sage opened #56 "Test linking of issues w/o # for productplan"
This is an issue not going into productplan, but with estimate of effort associated with an epic (#54) going into productplan

[2019-09-13 19:49] milen-sage opened #58 "Add a DisplayValue property to schema terms/nodes"
We want to maintain two schema term labels: one in PascalCase for internal schema node labeling; another one in regular capitalization and spacing for displaying in manifests, dictionaries, etc..

Validation should take into account this duo. That way for instance @jcorn427 would be able to fill in HTAPP metadata manifests with more human readable values, instead of using the PascalCase (but for n

[2019-09-13 20:24] milen-sage opened #59 "Data upload and curation documentation"
Create various SOPs and landing pages related to data curation and documentation so that we can begin sharing workflows with centers for testing.

#roadmap

[2019-09-13 20:42] milen-sage opened #61 "Documentation for data upload"
This is **step 1** of our deposition pipeline.

Prepare screenshots from web UIs for data upload
- using Synapse
- using Google Cloud

Prepare code vignettes for data upload
- using Synapse
- using Google Cloud

These will be included in the data upload funnel detailed SOP (suitably rearranged parts of which may be part of the HTAN data deposition pipeline on the HTAN website, as applicable).

Let

[2019-09-13 21:02] milen-sage opened #62 "Documentation for data curation"
This covers step 2 and 3 of our data deposition process.

Prepare screenshots illustrating using the curation app for HTAPP data. The screenshots and accompanying text should be detailed enough to explain what the various checkboxes, dropdowns, and tabs represent in the app; what is the sequence of actions users should go through when curating their data; how do validation errors look like and wha

[2019-09-13 21:11] milen-sage opened #63 "FAQ"
We have some FAQ material (@xdoan could you link the latest version here?).

@liz-williams what do you think are some missing pieces, if any, we want to include in v0 (I guess aside from linking to detailed SOPs, if we want to have an FAQ for initial distribution soon)?

#roadmap

[2019-09-13 21:20] milen-sage opened #65 "Spreadsheet to schema.org tool"
Implement a tool that parses a csv with a prespecified format and produces a schema.org schema.

This will be useful for producing a data-model-definition SOP.

#roadmap

[2019-09-13 21:25] milen-sage opened #66 "Schema visualization tools"
Customize and use existing tools to
- [ ] visualize schema dictionary on the web
- [ ] visualize data models

@milen-sage to provide examples; @jcorn427 and @xdoan (and potentially other people as we are resourcing) to help with customization.

@liz-williams, do you think we can hand-off a barebones data model visualization site along the lines of what we showed at the DCC west meeting and have so

[2019-09-25 22:19] xdoan opened #72 "bug in permissions to populateModelManifest"
linked to https://github.com/Sage-Bionetworks/HTAN-data-pipeline/pull/71

Something weird with the google.appengine even though I have the sdk installed.

The link gets generated, there are just lots of warnings/errors

[code]

[2019-09-27 22:17] milen-sage opened #78 "Exclude manifest file from a list of files prepopulated in metadata template"
Currently the manifest file lives in the same folder as data contributor files and shows up in the manifest template for annotation.

Need to exclude since we don't need to annotate the annotation file!

[2019-10-02 21:00] milen-sage opened #81 "Codebase infrastructure"
Setup repo
- so that code is easily reusable and deployable by others
- codebase follows best practices (unit test, CI, etc.)

[2019-10-02 21:01] milen-sage opened #82 "Write requirements.txt and package the repo"
Package backend code so that it's installed as a python package.

[2019-10-03 00:48] milen-sage opened #83 "Remove Google API credentials and related files from repo"
Remove from the repo and subsequently change credentials for the Google HTAN-pipeline account using Google's API services. (Especially before making the repo public.)

This also requires minor refactor in the manifest generator code.

#roadmap

[2019-10-08 18:44] milen-sage opened #86 "Add branching synapse login to SynapseStorage"
Currently SynapseStorage supports a single way of Synapse login. Add logic to support a set of login types.

#roadmap

[2019-10-09 19:11] milen-sage opened #87 "File rename based on HTAN IDs and unique string (e.g. base62)"
Following the SOP here

https://docs.google.com/document/d/1K6jjWQdvtGRKUMmjC7jvt69hd3CbnSyryVWpNJVndDA/edit?usp=sharing

we want to change the original filename to a guaranteed unique one upon upload to Synapse.

#roadmap

[2019-10-09 22:51] milen-sage opened #88 "Check the color coding of labels"
@xdoan, as you suggested let's check label color coding (both the default on github and also zenhub - maybe start a dummy repo with zenhub, since ours is still private and we can't use the full-featured zenhub with it).

Right now for me the label colors that have meaning are the bug red and the Shiny UI purple (and maybe blue for enhancement).

[2019-10-10 20:02] milen-sage opened #89 "Automatically create a dataset fileview when a dataset metadata is successfully uploaded"
Each dataset corresponds to a folder in a project belonging to a particular center.

Automatically create a fileview that's faceted on the annotations of files in each folder/dataset upon successful submission of metadata for that dataset.

Create a master fileview for each center and add the above datasets to the scope of the file view.

#roadmap

[2019-10-10 21:38] milen-sage opened #100 "Switch data-pipeline source code repository to public"
It would be good to enable communication with centers and also facilitate full featured ZenHub functionality.

[2019-10-10 22:04] milen-sage opened #101 "Tool for extracting metadata from TIFF files"
We need to validate that the metadata included in a TIFF file for a particular assay matches the data model for that assay.

For that we need to extract the metadata from a TIFF file and pass it for validation along with any other metadata submitted for a particular imaging file.

We can easily add logic to the curation backend so that if a dataset includes files from a set of imaging assays we tr

[2019-10-24 22:19] milen-sage opened #128 "Convert all in-code documentation to match style guide"
For example on well documented class with the correct style to be used by the documentation generator:

https://github.com/Sage-Bionetworks/HTAN-data-pipeline/blob/dev/MetadataModel.py

We need to convert all of our incode documentation to this level and using that style.

[2019-10-25 00:04] milen-sage opened #130 "Enable iterative completion of metadata components"
Currently we require the validation of a single template associated with a dataset.

We need to enable filling in multiple templates (e.g. Biosample, Clinical Data, Assay) separately; and track progress over all components.

[2019-10-25 21:54] milen-sage opened #133 "A folder should not be created for each new file uploaded to GCP-backed Synapse project"
According to @vthorsson in #53 a new folder is created for every file upload.

We need to avoid that! If a person uploads a new file straight in a bucket; or uploads a file in an existing folder, Synapse shouldn't create a new folder by default.

[2019-10-29 22:32] milen-sage opened #135 "Add assay type to metadata manifest"
Currently this is just an option in a dropdown, but we need to keep track of assay type in the manifest as well.

[2019-10-29 23:12] milen-sage opened #136 "Synapse file handlers for existing files/folders on S3/GCP buckets"
Let's find out if there are scripts/documentation on how to add files/folders to a Synapse project w/o changing their hierarchy in a bucket.

That's related to the discussion in #133.

[2019-10-31 20:08] milen-sage opened #138 "File health validation"
Aside from metadata, we might want to have a tool that verifies a file can be open and read successfully (e.g. imaging or sequencing files of different types).

See @dgutman 's suggestion https://github.com/Sage-Bionetworks/HTAN-data-pipeline/issues/133#issuecomment-547106060

[2019-11-04 21:02] milen-sage opened #141 "Programmatic end-to-end example of data upload and curation"
We have documented the Data Curator App usage and provided data upload examples for Synapse (both via WUI and client): https://github.com/Sage-Bionetworks/HTAN-data-pipeline/blob/dev/DOCUMENTATION.md

Once we package the backend (#82) we should provide fully-programmatic data upload & data curation example as well, and link it in the documentation above (at least one site has requested support for

[2019-11-07 18:52] milen-sage opened #145 "Refactor Synapse REST call retrieving users data storage projects"
Synapse REST API changed - now returning paginated results when retrieving projects. Need to refactor REST call in HTAN data pipeline to expect pages of results and traverse the pages (currently getting only one page of results; unlikely to affect users unless they have multiple dozens of projects, but better save than sorry).

[2019-11-11 18:00] vthorsson opened #146 "Sandbox Data Curator and Synapse Project for HTAN members"
A general area for HTAN members to get familiar with metadata and the data curator will be of value.

- should be available to a wide group using an existing synapse team, such as `HTAN_KICKOFF`
- should not have content that needs to be preserved (stepping on data should be OK)
- users should use unrestricted data
-not tied to a particular center or project

[2019-11-11 20:17] milen-sage opened #147 "Link documentation (SOPs, FAQ, etc.) to HTAN website"
This is related to #60

@rlevyKSG, could we include links to FAQ, data-ingress and other related documentation on the HTAN website?

E.g.

data ingress doc link: https://github.com/Sage-Bionetworks/HTAN-data-ingress-documentation-draft/blob/master/DOCUMENTATION.md#data_transfer

FAQ (work in progress) link:  https://docs.google.com/document/d/1ZtY8owPTkSHlLOA45HaeA0uELADC9yPcJofzF-ITmxA/edit?usp=s

[2019-11-18 00:57] xdoan opened #154 "bug in dropdown strings in gsheets/excel sheets"
so the dropdown in googlesheets seems to be in a specific format, if I type in the string in excel sheets it looks different and doesn't validate.

Probably need more stripping to get the values, don't know what formatting goes into the cells.
<img width="532" alt="Screen Shot 2019-11-17 at 4 54 39 PM" src="https://user-images.githubusercontent.com/15043209/69017337-2d01fb80-095b-11ea-9704-2c8e7b6

[2019-11-23 00:09] #147 closed, assigned to milen-sage

[2019-11-23 00:26] milen-sage opened #158 "Test issue"

[2019-11-23 00:28] #158 closed, assigned to nobody

[2019-11-23 00:46] milen-sage opened #159 "Query services"
All items needed for a full featured query service.

[2019-11-23 00:51] milen-sage opened #160 "Cloud interoperability"
Interoperation of Synapse and Google cloud.

#roadmap

[2019-11-23 00:55] milen-sage opened #161 "Documentation"
Production of self-documenting code SOPs for various workflows (data upload, data model definition, code contribution, etc.) demos/webinars/guides

#roadmap

[2019-11-23 01:01] milen-sage opened #162 "Metadata infrastructure backend"
Data structures and tools for specifying data models, storage, validation, and association of metadata with data; exploration of data models (e.g. dictionaries, metadata relationships).

#roadmap

[2019-11-24 22:11] milen-sage opened #163 "Data model specification"
Work items related to constructing HTAN data model's modules and schema semantics.

[2019-11-24 22:13] #58 closed, assigned to milen-sage

[2019-11-24 22:42] #72 closed, assigned to xdoan, milen-sage

[2019-11-24 22:43] #26 closed, assigned to milen-sage

[2019-11-24 22:43] #25 closed, assigned to milen-sage

[2019-11-24 22:43] #23 closed, assigned to milen-sage

[2019-11-24 22:52] #78 closed, assigned to milen-sage

[2019-11-24 22:52] #30 closed, assigned to milen-sage

[2019-11-24 22:52] #29 closed, assigned to milen-sage

[2019-11-24 22:52] #27 closed, assigned to milen-sage

[2019-11-24 23:11] #133 closed, assigned to vthorsson, milen-sage

[2019-11-24 23:13] #53 closed, assigned to vthorsson

[2019-11-24 23:18] #62 closed, assigned to xdoan, milen-sage

[2019-11-24 23:19] #61 closed, assigned to vthorsson, xdoan, milen-sage

[2019-11-24 23:21] #88 closed, assigned to xdoan

[2019-11-24 23:21] #86 closed, assigned to milen-sage

[2019-11-24 23:21] #83 closed, assigned to milen-sage

[2019-11-24 23:24] milen-sage opened #164 "Handle translation between data models"
Some data models contain overlapping set of terms (i.e. synonymous terms). These overlapping terms can be translated automatically via json-ld. Implement/expose mapping and translation methods.

[2019-11-24 23:25] #65 closed, assigned to milen-sage

[2019-11-24 23:25] #22 closed, assigned to milen-sage

[2019-11-24 23:25] #21 closed, assigned to milen-sage

[2019-11-25 00:28] #50 closed, assigned to xdoan, milen-sage

[2019-11-25 00:29] #51 closed, assigned to xdoan, milen-sage

[2019-11-26 23:03] #1 closed, assigned to milen-sage

[2019-11-26 23:03] #55 closed, assigned to milen-sage

[2019-11-26 23:03] #56 closed, assigned to milen-sage

[2019-11-26 23:03] #54 closed, assigned to milen-sage

[2019-11-26 23:03] #2 closed, assigned to milen-sage

[2019-12-04 00:59] milen-sage opened #167 "Add a backend method collecting manifests and their location relevant to particular user's projects"
The method should return
- manifests (synapse ids)
- datasets (name + synapse ids)
- projects (name + synapse ids)

belonging to a particular HTAN user.

This would power the DataCurator dashboard, separating backend logic from the frontend.

[2019-12-10 23:08] #146 closed, assigned to xdoan, milen-sage

[2019-12-19 21:15] #154 closed, assigned to xdoan, milen-sage

[2020-01-21 20:47] #145 closed, assigned to xdoan, milen-sage

[2020-01-31 18:28] xdoan opened #175 "Data Content Entity data model extension RFC"

[2020-02-04 15:41] nithyav21 opened #176 "Comments Tier 1 Clinical Data RFC - Review and Processing"
Document all comments received during comment phase of Clinical Data Tier 1 RFC and discuss actions

https://docs.google.com/document/d/1nkJa20qcaGxKoObBIGw9HYtXB5gU77IEX0FVk9xPEQ8/edit#heading=h.gx3ixasq6b6k

RFC (Tier 1) comment Phase: 2019-12-16 to 2020-01-31

[2020-02-04 16:01] nithyav21 opened #177 "Released Tier 1 Clinical Metadata - Based on RFC Feedback"
Released version of RFC Tier 1 clinical data.

[2020-02-10 20:32] nithyav21 opened #178 "Data Ingress Tier 1 - Clinical Data"
Document processes considered for Clinical Data Tier 1 Ingress

[2020-02-11 18:00] milen-sage opened #179 "Add restriction of valid values based on selection of other added values"
Currently we have data model dependencies requiring attributes depending on selected values for other attributes. However, another use case is restricting the values that can be selected for one attribute, based on a selection of values for another attribute.

We can handle these additional DAG dependencies in different ways on the backend, but need to specify an implementation. However, this is y

[2020-02-11 21:43] #177 closed, assigned to nobody

[2020-02-11 21:48] #178 closed, assigned to nobody

[2020-02-12 19:08] #176 closed, assigned to nobody

[2020-02-12 19:18] #175 closed, assigned to nobody

[2020-02-13 21:24] dgutman opened #180 "Define Notification API on Synapsefor Images To Process"
Synapse ingests everything.  DSA needs to have mechanism to know when an imaging data set is ready to be viewed in the DSA.  This means the system is at least pre-validated (i.e. file is on Synapse...)

Ideally API is such as:

1) Data is tagged as "Validation", "PreValidation"

2) API can be queries to get list of SynapseID,  S3Bucket Location, Synapse Filename, any other provenance
   JSON!!!
3)

[2020-02-13 21:33] dgutman opened #181 "Define Pre-Validation Metadata returned from the DSA per imaging type.."
Each imaging type, based on the RFC, will have different embedded imaging metadata we extract directly from the header.

For example, DICOM != OMETIFF != WSI file.

We will expose all imaging header metadata in the DSA so it can be queried and then returned during the validation process.

[2020-02-13 21:37] dgutman opened #182 "Folder Level Permission Integration"
OAuth provides used identity;  also need to develop service/API/method to sync DSA folder permissions with Synapse Folder PErmissions..

This can likely be done as a service on the SYNAPSE side

[2020-04-01 19:35] #130 closed, assigned to milen-sage

[2020-04-01 19:36] #167 closed, assigned to milen-sage

[2020-04-01 19:46] #135 closed, assigned to milen-sage

[2020-04-13 16:02] #41 closed, assigned to Gibbsdavidl

[2020-04-14 00:28] milen-sage opened #196 "Testing adding google storage buckets to Synapse projects"
A few months ago we had an issue related to adding google storage buckets to Synapse projects: #53

The Synapse team has tried to improve the documentation of this feature:
https://docs.synapse.org/articles/custom_storage_location.html#setting-up-an-external-google-cloud-storage-bucket

@vthorsson or @clarisse-lau would you (or someone else on ISB's team) try to test if this documentation is suffi

[2020-04-15 15:29] milen-sage opened #198 "Validate all types of IDs"
E.g. in addition to schema validation and the existing per-attribute validation rules in schematic, we have use cases for the following cross-manifest validation rules:

- [ ] matchAtLeastOne(<source_component_name>.<source_attribute_name>, <target_component_name>.<target_attribute_name>): if defined for an attribute in the schema, find if among all accessible datasets there exists at least one ma

[2020-04-15 20:24] xdoan opened #199 "Dev App Testing Schema"
looks like the HTAN IDs of the clinical components are dropdowns, not freetext
https://docs.google.com/spreadsheets/d/1P8se86gVA0WMQ5YHolb1fxR4JmBaPxJIEoFwkkarTaE/edit#gid=0

Also would be useful to get a list of the current templates that are ready to be filled out to make sure I have the right ones in the app (dev version which is currently running).

[2020-04-22 15:22] #199 closed, assigned to xdoan, milen-sage

[2020-04-27 17:39] #31 closed, assigned to milen-sage

[2020-05-01 23:17] clarisse-lau opened #209 "S3 Bucket Sync to Synapse"
Sync files stored in external S3 buckets to Synapse projects

-  set up AWS Lambda function to be triggered by object changes in S3 bucket
-  Lambda function will index files to Synapse via Filehandles based on example in docs: https://docs.synapse.org/articles/custom_storage_location.html#adding-files-in-your-google-cloud-bucket-to-synapse

[2020-05-05 22:19] clarisse-lau opened #210 "GCP Sync to Synapse"
- Set up cloud function subscribed to Pub/Sub notifications from cloud storage bucket
- Object finalize/delete events trigger GC function to index files to Synapse

[2020-05-11 22:45] milen-sage commented on #136
@clarisse-lau given we tested this I think we can close and focus on indexing file handles using lambda/functions triggers.

[2020-05-11 22:45] #136 closed

[2020-05-20 17:12] milen-sage commented on #100
done - repo also forked in https://github.com/ncihtan/HTAN-data-pipeline

[2020-05-20 17:12] #100 closed

[2020-05-20 17:14] milen-sage commented on #196
I think this is good to close!

[2020-05-20 17:14] #196 closed

[2020-05-22 05:23] clarisse-lau commented on #209
Base usage implemented here: https://github.com/ncihtan/s3-synapse-sync
Would love to get feedback on the setup/deployment process and lambda function!

[2020-05-22 22:05] clarisse-lau commented on #210
Code for base usage is here: https://github.com/ncihtan/gcs-synapse-sync
Would appreciate any feedback!

[2020-05-22 22:06] clarisse-lau commented on #209
To Do: Add AWS CLI deployment steps

[2020-05-22 23:13] milen-sage opened #214 "In JIRA: Reflect attribute dependencies logic in manifest column ordering"
Currently columns are ordered based on the schema definition, placing all unconditionally required columns first. However, the order of the conditionally required columns does not reflect their relationship with unconditionally required columns. We can try to improve the column ordering logic to address that. Some thought's needed wrt what would be most user friendly.

[2020-05-22 23:19] clarisse-lau commented on #210
@wlongabaugh @Gibbsdavidl @smrgit would love your feedback as well!

[2020-05-22 23:22] clarisse-lau commented on #209
@wlongabaugh @Gibbsdavidl @smrgit
Any feedback here would also be much appreciated

[2020-05-22 23:27] milen-sage opened #215 "Develop QC module part of the HTAN data pipeline"
This should support:
- logical relationships between attributes (e.g. birth date shouldn't be after date of death)
- regular expression and data types (e.g. a date should be formatted properly; a numeric field shouldn't have text values)
- ID checks (e.g. a biosample ID referred to in assay data, should be present in list of biosamples)
- validation routines for various file types (e.g. imaging, g

[2020-05-22 23:31] milen-sage opened #216 "Make valid values dropdowns in manifest be alphabetical"
Currently valid values for an attribute are derived from a dictionary based on the schema hence the order is not guaranteed. Order valid values alphabetically instead or preserve order of values based on the schema - this can be exposed via parameter to the manifest generation method.

[2020-05-22 23:45] milen-sage opened #217 "Data Ingress Level 2 - bulk RNA seq"
bulk RNA-seq level 2 provided by @Gibbsdavidl here: https://docs.google.com/spreadsheets/d/1J79pdP27JGvC1GAd9wMHyKas70z6YGZoiA3ZvvY-LhY/edit#gid=1332857128

has been incorporated in the schema definition here:
https://docs.google.com/spreadsheets/d/1tBK7lBcWU3FvdB2awtHLWbRuK6od3k4h60grDzydX8k/edit#gid=0

Thanks @Gibbsdavidl - the format of the RFC metadata was very close to the one required by the

[2020-05-22 23:49] milen-sage opened #218 "Data Ingress Level 3 - bulk RNA-seq"
bulk RNA-seq level 2 provided by @Gibbsdavidl here: https://docs.google.com/spreadsheets/d/1J79pdP27JGvC1GAd9wMHyKas70z6YGZoiA3ZvvY-LhY/edit#gid=1332857128

is being incorporated in the schema definition here:
https://docs.google.com/spreadsheets/d/1tBK7lBcWU3FvdB2awtHLWbRuK6od3k4h60grDzydX8k/edit#gid=0

[2020-05-26 17:07] sujaypatil96 opened #220 "Use of Python virtual environments"
Use of Python virtual environments (using `venv` module) to ensure that we can appropriately install specific versions of the third-party module(s) that the application currently requires, and test the driver(s) / example usage files.

**To create a virtual environment**:

`python3 -m venv virtual-env`

[2020-05-27 20:55] clarisse-lau opened #223 "S3/Synapse Sync Testing"
Testing of Lambda function to sync S3 buckets and Synapse  (#209 )
Repository: https://github.com/Sage-Bionetworks/s3-synapse-sync

Things to test:
- Setup/deployment procedure
- Lambda functionality
- Bugs
- or any other suggestions for improvement

[2020-05-27 20:57] clarisse-lau opened #224 "GS/Synapse Sync Testing"
Testing of Google Cloud function to sync GS buckets and Synapse (#210 )
Repository: https://github.com/ncihtan/gcs-synapse-sync

Things to test:
- Setup/deployment procedure
- Code functionality
- Bugs
- or any other suggestions for improvement

[2020-05-28 20:45] #217 closed

[2020-06-02 02:04] vthorsson commented on #224
Tested gcloud CLI tool instructions.
gcloud functions proceeded , but asked
[code]
(answered N)
and also threw a warning
[code]
but deployment looks successful

[2020-06-02 02:08] vthorsson commented on #224
Test file creation on GCS , which was successfully mirrored on synapse web interface. Tested GCS file deletion as well, also successfully reflected on synapse project.  Auxiliary files often created with each such operation
![image](https://user-images.githubusercontent.com/2837859/83472071-35bfa800-a43b-11ea-9542-19c9af756bcc.png)

![image](https://user-images.githubusercontent.com/2837859/834720

[2020-06-02 14:29] vthorsson commented on #224
Test repeated , with change made that instead of the 7 digit ‘Synapse user folder’ distinct folders at same level were specified for foldersToSync.  Files loaded to GCS again successfully reflected in synapse, and the auxiliary files were relegated out of the way to the synapse user folder

[2020-06-02 19:53] vthorsson commented on #223
- Tested Lambda function set up via AWS Console
- Loaded files into test folder in test bucket and they appeared on synapse project web interface
- Sent some edit suggestions for README to @clarisse-lau

[2020-06-04 03:18] xdoan opened #225 "Validation errors missing columns"
No column name is stated in the message portion of the output in error messages.

e.g for optional field and the dates were also deemed invalid because I put null in.

![Screen Shot 2020-06-03 at 7.59.26 PM.png](https://images.zenhubusercontent.com/5d8a98e53902630001ea7bc4/47e88cfe-6541-40ab-a5b8-768fa8092686)

When I just run the python code :

[code]

For upcoming beta testers I fixed it in R bu

[2020-06-04 05:10] milen-sage commented on #225
Hmm, that's weird - we no longer have Library Layout in the scRNA-seq schema.
In the current scRNA-seq schema dates are all required, i.e.
- Library Preparation Date
- Single Cell Dissociation Date
- Sequencing Library Construction Date
- Nucleic Acid Capture Date

I can't reproduce optional fields being tagged as wrong when left empty/null. Could you attach here the manifest, component, and the j

[2020-06-05 16:59] xdoan opened #227 "Communication w/HMS Jeremy for Minerva"
Please share communications/planned communications for Minerva and HTAN DCC here.

[2020-06-05 17:20] xdoan opened #228 "refresh button on app"
refresh button to update foldernames and file lists within the app without refreshing the page as @milen-sage pointed out.

[2020-06-05 20:00] xindiguo opened #229 "getStorageDatasetsInProjects returns empty list"
I tested with both synapse IDs of a file view and a project. The function did not return the expected list of folders in the file view.

Note: my file view scope is a folder that has sub folders.

[2020-06-09 21:00] sujaypatil96 commented on #229
Could you show us the code/snippet, which you used to call the method?

Did you check that there were no problems when trying to establish connection to Synapse (using the `synapseclient`)?

[2020-06-09 22:14] xindiguo commented on #229
I was testing using [storage_test_drive.py](https://github.com/Sage-Bionetworks/HTAN-data-pipeline/blob/dev/storage_test_driver.py). Before executing, I commented out everything after line 39 and used my own file view synapse ID.

And I saw the welcome message for logging into Synapse, so I would assume my connection was established.

My file view's scope is a folder instead of the entire project.

[2020-06-10 02:49] sujaypatil96 commented on #229
Hi @xindiguo!

Could you the following steps:

- Change the value of "masterFileview" key in [config.py](https://github.com/Sage-Bionetworks/HTAN-data-pipeline/blob/dev/config.py) on [line #9](https://github.com/Sage-Bionetworks/HTAN-data-pipeline/blob/dev/config.py#L9) to "syn21823263".

- Pass the synID of the project i.e., "syn21542798" to the getStorageDatasetsInProject() function.

- Log the

[2020-06-15 15:21] sujaypatil96 commented on #220
The use/setup of virtual environment is described in the documentation for PR #230.

[2020-06-16 23:39] clarisse-lau opened #231 "Set up tracking for genome reference page"
Track progress of assay-specific sections on [genome reference page](https://www.synapse.org/#!Synapse:syn22156721):

- which assays will have provided filtered files
- whether they require a storage area to upload large index files

[2020-06-16 23:40] clarisse-lau opened #232 "Index file storage area"
Figure out where contributors can stage ~GB index files needed for the [genomic reference document](https://www.synapse.org/#!Synapse:syn17022193/wiki/588096)

[2020-06-17 17:04] #220 closed

[2020-06-17 19:50] milen-sage commented on #225
@xdoan is this still an issue (if so, I still can't repro and inputs above would be helpful).

[2020-06-17 21:53] xdoan commented on #225
May have been output from the code in metadata_model_test_driver.py that used a provided jsonSchema.

Now the error looks like this: are there supposed to be that may of the same messages?

[code]

[2020-06-17 23:02] milen-sage commented on #225
I see; yes, if it was using a provided jsonSchema, we can ignore it.

I am not so sure about the multiple rows though... could you attach/link the manifest, schema, and component that resulted in this validation output?

[2020-06-17 23:35] xdoan commented on #225
code:
[code]

[2020-06-19 00:34] vthorsson commented on #231
@clarisse-lau would you be able to follow up with Josh on the preferred way of getting example files up for the RNA seq section of this page ? Would incorporate some mix (TBD) of

- what we learned from discussions from the past Friday (June 12 ) subgroup discussion
- thinking about how to move the large index file (file folder) into place
- what you have learned from running cellranger  (if you a

[2020-06-19 16:02] clarisse-lau opened #234 "Metadata Tables"

[2020-06-19 17:25] clarisse-lau opened #235 "Clinical Data Tables"

[2020-06-19 17:33] clarisse-lau opened #236 "Biospecimen Data Tables"

[2020-06-19 17:34] clarisse-lau opened #237 "scRNA-seq Tables"

[2020-06-19 17:35] clarisse-lau opened #238 "Bulk RNA-seq Tables"

[2020-06-19 17:46] clarisse-lau opened #239 "bulk DNA-seq Tables"

[2020-06-19 18:00] clarisse-lau opened #240 "scATAC-seq Tables"

[2020-06-19 18:03] clarisse-lau opened #241 "Imaging Tables"

[2020-06-19 19:39] xdoan commented on #225
I also did a fresh git clone of the dev branch and it gave me the same error as above. It works on my local machine so I think there might be some server specific things going on.

[2020-06-20 00:22] clarisse-lau commented on #231
I have followed up with Josh, who proposed I generate the filtered cellranger GTF and index files for scRNA-seq using default parameters and instructions from the [10X page](https://support.10xgenomics.com/single-cell-gene-expression/software/pipelines/latest/advanced/references#mkgtf) and post to Synapse. Josh will then download and verify the files.

A couple areas currently under consideration:

[2020-06-26 16:35] sujaypatil96 commented on #82
Closing this as it has been addressed here: https://github.com/Sage-Bionetworks/HTAN-data-pipeline/tree/organized-into-packages

[2020-06-26 16:35] #82 closed

[2020-07-08 17:45] milen-sage commented on #33
@sujaypatil96  let's use this issue to start tracking progress on API specification.

Looping @jaeddy on this thread.

Not bad - work commences less than a year after the issue was opened :)

[2020-07-16 23:36] xdoan opened #252 "Bug when config doesn't have a synapse username/pwd"
On the server I remove any hardcoded synapse username/pwd info that you might use locally because its a shared. In the config I commented it out or have left it blank.

I get this error on the server where I already have these files (credentials.json)

Traceback (most recent call last):
  File "ingresspipe/models/metadata.py", line 14, in <module>
    from ingresspipe.schemas.explorer import Schem

[2020-07-23 22:31] xdoan commented on #180
DSA API: https://imaging.htan.dev/girder/api/v1

[2020-07-23 23:04] milen-sage commented on #180
For points 1, 2, 3, and 4 above, we can try hashing out the details in chunks. For the first chunk we can consider operating in one of these scenarios - and we can decide which scenario is most easily implementable/most relevant for HTAN (please feel free to add other scenarios if these don't make sense):

- scenario 1: I have images of type X (e.g. H&E) on Synapse (living on bucket x on AWS); I h

[2020-07-24 21:42] xdoan commented on #180
Notes frm meeting with Dave:

- He'll share a HTAN oriented set of APIs, can even customize eventually.

- Things are stored as folder > item > file/files on DSA and all can have metadata

- only takes a few seconds to return thumbnail/metadata

- DSA can have buckets in the assetstore and technically to check header metadata/file health/get thumbnail the files only need to be touched

- How to ge

[2020-07-27 16:19] #252 closed

[2020-07-29 19:32] milen-sage opened #257 "Add validation for multiple metadata values per manifest cell"
- [x] add validation rule in schema definition specifying that an attribute might be set to a list of values (i.e. multiple values/checboxes in a manifest)
- [x] add manifest generation code that implements checkbox interface in the manifest (i.e. google sheet)
- [x] add validation code that checks if metadata values filled in by a curator (i.e. comma separated multiple values in a cell) are a sub

[2020-08-17 18:17] xdoan commented on #180
APIs walkthrough here: https://github.com/ncihtan/dsa-htan/tree/master/dsaSynapseIntegration

[2020-09-02 16:12] xdoan commented on #209
Now moved to https://github.com/Sage-Bionetworks/s3-synapse-sync for the Sage production server using CloudFormation to manage it. Currently testing file upload with this process.

[2020-09-15 20:52] allaway opened #270 "conda env does not build on mac"
The provided environment.yml file will not build on a mac (at least, not mine) because it lists linux specific dependencies.

Here's an environment that (to the best of my knowledge) will work for `schematic` but build on a mac:

[code]

[2020-09-15 20:55] milen-sage commented on #270
Thanks @allaway ; @sujaypatil96 could you take a look?

[2020-09-15 20:57] #229 closed

[2020-09-15 21:05] allaway commented on #270
Just to clarify, I was using the `environment.yml` file in the HTAN_data_curator repository - if there's a different one in this repo, maybe that's just my mistake :)

[2020-09-15 21:40] xdoan commented on #270
I think this issue is in the wrong repo, the environment.yml @allaway refers to is part of the HTAN_data_curator repo and the latest version of the data curator is on shiny-server branch which is really built for linux servers (not explicitly stated but should be) and this could be added to shiny-local branch as an option once that's updated or somewhere in the docs as an option.

[2020-09-15 21:40] milen-sage commented on #270
@allaway thanks for the clarification! Ok - let's for now track here, and I'll be more careful moving issues around in the future :)

[2020-09-15 21:55] milen-sage commented on #270
good point @xdoan ... we did decide to prioritize development and documentation of the data curator app on the shiny server and local environments for the data curator shiny app for now are on the back burner. Let me move the issue back to the data curator app.

@allaway would it be problematic to test on the shiny server (e.g. for HTAN we have two shiny apps - one for development and one for rele

[2020-09-16 22:03] milen-sage opened #272 "Decide on schematic and data curator repos structure"
@xdoan and @sujaypatil96  since we brought structuring forks/branches in slack, @allaway and @xindiguo have had questions, suggestions and ideas regarding how to go about this.

Slack is bad for getting chat history so hopefully here we'll get all in the same conversation.

The main issue is github no longer supports forking a repository in the same organization under the same account (even if the

[2020-09-16 22:20] allaway commented on #272
No, but we could create one.

These first two are _possible_ but not super straightforward (at least for me, others may think it's easy). It requires some extra work on the command line, and (i think) is pretty easy to get stuck or confused with multiple remotes.

I'm not sure if it's important, but I think that diverging commit histories could get hairy quickly...

All in all, I think that the th

[2020-09-16 22:30] milen-sage commented on #272
Good point - I'll talk to James and/or Aaron to see how do we keep track of proliferating code; perhaps we shouldn't be too worried as long as the code that ends up in the Sage repos is peer-reviewed by someone at Sage.

[2020-09-17 11:09] xindiguo opened #274 "synapse_storage_manifest.csv generated incorrectly; no annotation applied"
I tested to annotate one file entity and the annotation file was validated and uploaded. However, the synapse_storage_manifest.csv looks incorrect - the first two variables in the annotation file got removed and other values are shifted to the left.
![Screen Shot 2020-09-17 at 4 07 04 AM](https://user-images.githubusercontent.com/16565812/93462606-6cf77f00-f89b-11ea-88f1-364e11f3b846.png)

You can

[2020-09-17 16:28] clarisse-lau commented on #231
From 08/14/2020 DAWG Meeting and 08/19/2020 DCC Coordination call:
- Gene model proposal (allow centers to use filtered GTFs derived from GENCODE 34 GTF for gene annotation) was well received
- But centers did not think it was realistic to reprocess data that are already part of developing manuscripts. This means the DCC may have to support two versions of a given data set.
     1) the version tha

[2020-09-17 20:23] BrunoGrandePhD opened #276 "Unable to generate link to Google Sheets templates"
I'm trying to set up the Data Curator App and schematic using the [instructions](https://docs.google.com/document/d/1MoTVogc5JouziQ9i7otf74qzBRIBHHNCJda6NAbRU_M/edit) that I wrote. I also recreated the file view to include both files and folders because it initially only included folders. However, my Shiny instance doesn't seem to be able to generate links to Google Sheets templates. Here's what i

[2020-09-17 20:30] allaway commented on #276
Looking at the current version of your instructions, I think you'll also need to do this (in the repo instructions but not yet in your google doc):

[2020-09-17 20:33] milen-sage commented on #276
@BrunoGrandePhD also, if @allaway 's hint doesn't work, could you try running schematic/manifest/examples/generator.py from command line?

This will particularly test manifest generation and verify that given the config.yml file
- the schema is located correctly
- the manifest type in the manifest generation example is defined in the schema
- the google credentials work
- the google sheet API is s

[2020-09-17 21:29] BrunoGrandePhD commented on #276
Thanks for the tip, @allaway! That did the trick. I also confirmed that authentication was set up using the `generator.py` script that @milen-sage pointed to.

When running `metadata_model.py`, I used my personal Sage Google account to authenticate. In general, would a Google account be created for each network for use with schematic?

[2020-09-18 01:15] milen-sage commented on #276
I think we need to have clear documentation on how to create a google account for each network; and how to get the needed credentials for that account, so that each network would have their own credentials files. (Google credentials instructions are convoluted and I don't think it is sufficient for the documentation to ask the user to create a google account and retrieve the google service account

[2020-09-18 22:51] milen-sage commented on #274
ok it looks like I can reproduce enough

- if you are seeing folders (uuid names) created when a manifest is uploaded, it’s because entityId column is not inserted in the manifest, by the data curator; could you check that the template type you are selecting triggers the entityId column insertion in the data curator (I think Xengie has a list of data types in the app that would trigger inserting e

[2020-09-18 23:54] milen-sage commented on #274
- second bullet should be fixed by #278
- related fixes to first bullet identified; @xindiguo resolving in her data curator app code

[2020-09-21 23:32] xdoan opened #279 "develop vers of schematic does not return previously submitted manifests"
Testing the develop version of the schematic with the data curator app on the dev server here: https://www.synapse.org/#!Wiki:syn20930961/ENTITY and when getting the template previously updated manifests are not returned, an empty new manifest is instead returned.

[2020-09-22 16:38] #279 closed

[2020-09-22 19:41] milen-sage commented on #274
- it looks like despite the fixes above, files still do not get annotated with this specific manifest through the data curator app code Xindi is using
- the filename column is also still not populated with filenames

[2020-09-22 21:26] milen-sage commented on #274
I can confirm that the the backend code on 'develop' works

Given the manifest Xindi has provided, her folder structure, and trying to annotate a subset of the files in the folder, schematic associates annotations with the files and stores the manifest in the folder as expected:

Test result here:
https://www.synapse.org/#!Synapse:syn22727193

[2020-09-23 18:57] milen-sage commented on #276
Sounds like we are on our way of documenting and the manifest generation was resolved, so closing the issue.

[2020-09-23 18:57] #276 closed

[2020-09-24 05:26] BrunoGrandePhD opened #283 "Rename the `Requires` (with an 's') CSV schema column"
The motivation for renaming the `Requires` (with an `s`) column is to avoid confusion with the `Required` (with a `d`) column. Quick glances at the documentation can miss that one-letter difference. Alternative names include:

- `DependsOn`
- `Implies`
- `ImpliedAttributes`
- `RelevantAttributes`
- `AssociatedWith`

I think one important factor to consider when picking a new name is that the liste

[2020-09-24 22:20] milen-sage commented on #223
Since Ethan already tested as well I think we are all good and can close this issue.

[2020-09-24 22:20] #223 closed

[2020-09-24 22:32] milen-sage commented on #180
I think this is covered by the plan here: https://github.com/sage-bionetworks/htan-coordination/issues/69

[2020-09-24 22:32] #180 closed

[2020-09-25 22:58] BrunoGrandePhD opened #284 "`load_utils` submodule is a duplicate of `io_utils` submodule"
While browsing the code base, I noticed that the `load_utils` submodule is identical to the `io_utils` submodule.

[code]
However, `load_utils` isn't imported anywhere in the repo. Searching for `(load|io)_utils` only turns up `io_utils` imports. I wanted to check if this is expected. If not, I can delete the duplicate `load_utils` in my next PR.

[code]

[2020-09-28 18:49] xdoan opened #285 "Uploaded same Clinical Manifest but a new folder was created"
in this folder https://www.synapse.org/#!Synapse:syn22694607 you can see the manifest CSV had a version history. The first manifest is just patient 12, the second is 12 and 15, and the third is also 12 and 15. I uploaded the same manifest to test syncing and a new folder was created for patient 15, so there are now two patient 15 folders.

[2020-09-28 18:54] milen-sage commented on #285
Yes, I'll need to fix that as part of the #198.

[2020-10-01 18:44] milen-sage commented on #101
Ok I think this is now resolved as part of work here: https://github.com/Sage-Bionetworks/HTAN-coordination/issues/69

[2020-10-01 18:44] #101 closed

[2020-10-01 18:57] milen-sage commented on #218
This is now complete.

[2020-10-01 18:57] #218 closed

[2020-10-01 18:58] milen-sage commented on #257
done #266

[2020-10-01 18:58] #257 closed

[2020-10-01 19:07] milen-sage opened #292 "scATAC-seq level 1 data curator testing"
- [ ] Check if the generated template and validation in the data curator matches the scATAC-seq RFC requirements.

[2020-10-01 19:10] milen-sage commented on #292
@xdoan the scATAC-seq template is ready to go in prod.

The only people that can further verify the requested metadata works well for their actual data submission are data contributors (and some of them already requested trying that).

@xdoan, could you add scATAC-seq to the prod drop down? (I don't think we need to wait for all recently added data types to be verified, to start adding the templat

[2020-10-01 21:08] xdoan commented on #292
testing generation/validation/errors on dev and will add to prod once it passes

[2020-10-01 22:08] xdoan commented on #292
I am seeing columns on the manifest that are not in the the RFC, Attribute Table, or in the Changelog. If they were added after the RFC was closed can you add them to the Changelog? In lieu of having the official data standard the RFC is the place to look up attribute descriptions, and some like, "Nuclei Barcode Length | Nuclei Barcode Read" don't have any descriptions when you hover over them in

[2020-10-01 22:40] milen-sage commented on #292
These are added to the manifest because they are required columns specified for the attribute Nucleus Identifier in the RFC (also here: https://docs.google.com/spreadsheets/d/1soV03G4-rXiG-XAzbs6CrIvz-n2RJc6jRajyNsGY_Mo/edit#gid=0&range=12:12)

True, in follow up revisions the RFC editors need to add descriptions for these columns and define them as separate attribtues; for now I assumed most peop

[2020-10-01 23:36] BrunoGrandePhD opened #295 "Modularize package configuration"
I'm creating an issue to discuss what and how to modularize `schematic`'s configuration. Most of the work was done in #282 (merged and then reverted in #288), but a few things are left to do. If we start with where #282 left off, this is what needs to be done (influenced by discussion in #288):

- [x] **Move any changes to CLI scripts to a separate branch.** This way, we can confirm that the new c

[2020-10-01 23:37] BrunoGrandePhD commented on #295
I think part of this work might want to include reorganizing the config key names to be a bit more intuitive.

[2020-10-01 23:40] BrunoGrandePhD commented on #295
To continue our conversation from #288, I noticed a [new branch](https://github.com/Sage-Bionetworks/schematic/branches) called `develop-config`. However, I don't have access to the repo, so I wouldn't be able to commit to this branch (only to my fork). How do you want to proceed?

[2020-10-02 00:43] xdoan commented on #292
Yes I understand that you have added them for valid reasons, those reasons just are not captured in the RFC or in the Changelog. So when I go to validate it I have no idea what is the source of truth. When I look at the manifest there are very different fields in the manifest than in the RFC. For example if you change the names of an attribute, add things like, "scATAC-seq Read1,  scATAC-seq Read2

[2020-10-02 01:11] milen-sage commented on #292
Hmm it looks like the attribute table is different than the RFC table. I'll add the missing fields and will correct the description - good catch.

I can add description to Nuclei Barcode Length, Nuclei Barcode Read; though that's not been provided in the RFC either, so hopefully the description would be accurate.

[2020-10-02 01:25] sujaypatil96 commented on #295
Let's leave the **cli-related** discussion for another thread/issue @BrunoGrandePhD.

I think that's okay, right? In that you would issue commits to a branch on a local fork (fork on your account/profile), and then you can issue a PR to the `develop-config` branch?

[2020-10-02 01:36] sujaypatil96 opened #296 "CSV to (JSON-LD) schema generation optimization strategy"
One possible solution to improve the overall performance of the schema generation process, besides actually trying to improve the existing parser would be to follow this strategy:

- The JSON-LD schema will need to be generated once (for the first time) using the current parser (using either `create_schema_classes()` or `create_nx_schema_objects()`) for a CSV file.
- For future updates to the CSV

[2020-10-02 01:42] sujaypatil96 opened #297 "CSV to JSON-LD generation automation using GH Actions"
We can setup a Github Action that automatically runs the `csv_to_schemaorg.py` script (via command-line utility) and generates the JSON-LD schema every time there is a new schema specification (CSV) that is pushed to the repo.

[2020-10-02 16:23] milen-sage commented on #292
see updated PR #294

[2020-10-02 17:37] xdoan commented on #292
thanks for adding those missing columns.

are we also accepting fastqs for this? If so the system you have set up to make both "scATAC-seq Read1 | scATAC-seq Read2" required with no NA option does not make sense.

[2020-10-02 17:58] BrunoGrandePhD commented on #295
Sounds good. I'll submit PRs from my fork.

During our HTAN stand-up this morning, you mentioned working with the new config code (and possibly the CLI scripts). Could you clarify what I could help with? Or am I off the hook for now (and if so, you can ping me whenever to help out with something)?

[2020-10-02 18:07] milen-sage commented on #292
let me double check - since we have similar options for scRNA-seq level 1 and we are accepting fastq's there.

[2020-10-02 18:14] milen-sage commented on #292
we are good with the way the two reads are currently defined for scATAC-seq

[2020-10-02 18:52] sujaypatil96 commented on #295
Oh, I'll work on the CLI scripts (inspired by the `csv_to_schemaorg.py` script that you modularized), and issue a PR sometime next week (for one or two of the modules). You can review them and let me know how we can improve them, and then we can propagate the same changes for the rest of the `examples` scripts. Does that sound like a plan @BrunoGrandePhD?

[2020-10-02 18:56] BrunoGrandePhD commented on #295
👍

[2020-10-02 19:42] xdoan commented on #292
ok

[2020-10-02 20:32] milen-sage commented on #292
for reference

https://divingintogeneticsandgenomics.rbind.io/post/understand-10x-scrnaseq-and-scatac-fastqs/

[2020-10-02 22:37] xdoan commented on #292
approved #294

[2020-10-05 18:38] clarisse-lau commented on #224
Google cloud sync function was also tested by Ethan, closing this issue.

[2020-10-05 18:38] #224 closed

[2020-10-06 19:00] milen-sage opened #303 "Add scoping of dataset to subfolders"
Currently schematic supports dataset scope defined in two ways:

1. top-level (root) project folder - all files in a root folder (and its subfolders) are considered part of the same dataset and are annotated together (i.e. all files are listed in the same metadata template)

2. a folder with annotation 'contentType' set to 'dataset' - all files in the 'dataset' folder (and its subfolders) are cons

[2020-10-06 20:03] xdoan commented on #303
just a note, might be helpful to edit bullet points to checkboxes so they can be marked off when complete

[2020-10-07 20:57] ecerami commented on #87
Follow-up discussion with @milen-sage.  When we say "we want to change the original filename", we are really just changing the "display name" within Synapse.  The original file in the cloud bucket will remain the same.

[2020-10-07 21:08] milen-sage commented on #87
@jguinney @vthorsson @schultzn - just FYI the discussion on filenames is resolved^ and we can review as part of the data ingress workflow during the next DCC call.

[2020-10-08 22:10] Aryllen commented on #179
We have a use case for AD. For example, if we have `assay == rnaSeq`, then we want to enforce that `dataType == geneExpression`.

[2020-10-09 15:46] milen-sage opened #305 "Disconnect from server on metadata template generation"
@xdoan I was looking at CHOP data, e.g. folder MLL_877476_scRNA (but really anything else I've tried too, including non-CHOP data folders), 'Click to Generate Google Sheet Template' results in 'Disconnected from server' message. Any logs on the server?

[2020-10-09 16:48] xdoan commented on #305
somehow its actually only the scRNAseq assay that isn't working, I am able to get other templates on the app. I pulled the latest updates from main.

[code]

[2020-10-09 16:56] milen-sage commented on #305
hmm let me check on my end as well.

[2020-10-09 17:03] xdoan commented on #305
now the backend is viewing an old version `cd0d26a` (merging hotfix tables) before the #304 stuff and it worked, that's the version on the prod app now. I did not check other template generation when testing 304.

[2020-10-09 17:03] milen-sage commented on #305
I can confirm the backend works for ScRNA-seqLevel1 with the [latest schema PR](https://github.com/Sage-Bionetworks/schematic/pull/304/files).

[2020-10-09 17:29] xdoan commented on #305
I'm going to leave it at `cd0d26a` for now since it works, will continue to look into issues with the #304 being merged.

[2020-10-09 17:54] milen-sage commented on #305
Sounds good - I see it works now. Can you confirm you experience (or not) the same issues with #304 on the curator dev app?

[2020-10-13 00:09] xindiguo commented on #303
- The dataset has always been scoped on a subfolder.

- I have added the annotation `contentType = dataset` to the data folder and tested with the main branch code, and it gave me a empty list of folders.
<img width="554" alt="Screen Shot 2020-10-12 at 5 07 35 PM" src="https://user-images.githubusercontent.com/16565812/95800938-91cdef00-0cad-11eb-8e17-9f1969d446bc.png">

Data folder - https://www.

[2020-10-13 22:47] milen-sage commented on #37
This is no longer on the roadmap we will handle bundles via schemas.

[2020-10-13 22:47] #37 closed

[2020-10-13 22:49] milen-sage commented on #39
The bundle functionality will be handled via schema collections; no need for specific bundle API

[2020-10-13 22:49] #39 closed

[2020-10-13 22:49] milen-sage commented on #36
This will be handled by collection objects created based on schemas

[2020-10-13 22:49] #36 closed

[2020-10-13 22:51] milen-sage opened #306 "Collec"

[2020-10-13 22:51] #306 closed

[2020-10-13 22:53] #38 closed

[2020-10-13 22:53] milen-sage commented on #38
This will be resolved via collection schemas.

[2020-10-13 23:10] milen-sage commented on #283
Need to decide whether to
- drop support for Requires once this is implemented and tested
- leave Requires in the code base, remove from examples, and mark it as obsolete in docs (so that people don't create new schemas using it)
- support Requires providing backward compatibility for existing schemas (so that people don't need to regenerate new schemas)

I lean towards either of the first two opt

[2020-10-13 23:14] milen-sage commented on #284
@sujaypatil96  I vaguely remember this resolved in one of the later PRs (but definitely possibility to have have imagined that :) )? Not super high priority, but something on our radar.

[2020-10-13 23:19] milen-sage commented on #232
Not sure if we figured that out :) ?

[2020-10-13 23:42] milen-sage commented on #182
The synapse OAuth service also provides authentication that a given user has download access to a particular set of entities on Synapse. So we should be able to resolve folder permissions this way. Closing for now.

[2020-10-13 23:42] #182 closed

[2020-10-13 23:45] BrunoGrandePhD commented on #283
Since it's a single-field fix that users only need to do once per schema floating around (which are limited in number), I vote for option 1 with a meaningful error message if `Requires` is ever detected in the CSV header. The error message can be something along the lines of:

[2020-10-13 23:57] milen-sage commented on #138
Also see the specs for DSA/Synapse workflow that cover this: https://github.com/sage-bionetworks/schematic/issues/138
Will keep open since this is still a chunk of work we'd need to account for.

[2020-10-14 20:58] allaway opened #312 "Pre-populate manifest template with existing Synapse annotations (only applies if manifest is missing)"
I think that populating the manifest with annotations that exist on the files already (for keys that are in the manifest, and for valid values) could be useful in a few use cases:

1) user is annotating old files that may have partial/noncompliant annotations (this is our biggest use case at present)
2) user inadvertently annotates files via a different mechanism with some annotations such as sync

[2020-10-14 21:26] kthrog opened #311 "pre-populated annotations"
This feature would pre-populate some annotations based on existing information associated with the file.

Examples:

- If `filename` ends in .fast.qz, then set `fileFormat` to fastq
- Use location of files selected for annotation to populate `studyID`, `studyName`, and `fundingAgency`

It's possible this issue could have some overlap with what Robert just filed, Sage-Bionetworks/HTAN_data_curator#

[2020-10-14 23:10] xdoan commented on #305
bug fixed! not part of the other issue.

[2020-10-14 23:10] #305 closed

[2020-10-15 00:31] milen-sage commented on #141
Marking as feature since this is both documentation and a user interface.

[2020-10-15 19:54] nithyav21 opened #308 "Comments Tier 3 Clinical Data RFC - Review and Processing"
Document all comments received during comment phase of Clinical Data Tier 2 RFC and discuss actions
https://docs.google.com/document/d/1WWRvpWTtgp2TiWfNL-iLoz1ZnmDGncfb39ZeiImToQo/edit#

RFC (Tier 3) comment Phase: 2020-09-01 to 2020-10-09

[2020-10-15 19:56] nithyav21 opened #309 "Data Ingress Tier 2 and Updates to Tier 1 Clinical Metadata"
Document processes considered for Clinical Data Tier 2 Ingress

[2020-10-15 21:54] #181 closed

[2020-10-15 21:59] milen-sage commented on #228
Issue moved to [Sage-Bionetworks/HTAN_data_curator #98](https://github.com/Sage-Bionetworks/HTAN_data_curator/issues/98) via [**ZenHub**](https://www.zenhub.com/)

[2020-10-15 21:59] #228 closed

[2020-10-15 22:07] allaway commented on #179
+1 to this feature

[2020-10-16 22:45] milen-sage opened #314 "Wrap validate and submit functionality in submit_metadata_manifest() function"
Currently metadata is submitted via https://github.com/Sage-Bionetworks/schematic/blob/83c8368da9e57d6966332e73bb6d502aaf344c96/schematic/synapse/store.py#L363

This function by itself does not perform manifest validation, which is good.

Expose a wrapper function submit_metadata_manifest(<manifest_path>, <dataset_id>, validate_component = <data type> ) that provides an option to validate the mani

[2020-10-17 00:39] milen-sage opened #315 "Create a relational database from json-ld schemas defined in schematic"
We can instantiate various databases based on json-ld schemas; one type is relational.

To have a functional database instantiation, we need functionality to
- [x] create a set of tables based on components in a schema
- [x] relate those tables via foreign keys, based on component dependencies in the schema
- [ ] update all necessary tables based on a provided normalized or denormalized table foll

[2020-10-20 00:11] sujaypatil96 commented on #284
Yup! Made note of it, will resolve this is a `hotfix` PR sometime this week.

[2020-10-20 17:58] sujaypatil96 commented on #314
@milen-sage issue/feature addressed in PR #316.

[2020-10-20 19:02] milen-sage opened #317 "Logging to stderr"
Currently schematic outputs all errors, warning and informational messages to stdout.

This is not suitable for debugging w/in the context of shiny apps (there, only logs of stderr are stored) as we found out over the last couple of days with @xdoan; but is relevant to other contexts as well (server environments in general).

How about replacing all print statements with calls to a logging library

[2020-10-21 15:54] BrunoGrandePhD opened #318 "Review and refactor 'recursive dataset search' feature"
This feature was first implemented by @allaway [here](https://github.com/nf-osi/NF_data_curator/commit/ad7f1c81b8d54486d1963ce448c17e16a4add30c) in the Data Curator App. This issue tracks the implementation of this feature in the backend (_i.e._ schematic). Briefly, this feature extends the scope of datasets to any folder within a target Synapse project (rather than just the top-level folders).

[2020-10-21 17:07] allaway commented on #318
Just for context, my implementation was a front end hack, but it works. I agree that this should be handled on the backend!

[2020-10-27 18:45] sujaypatil96 opened #328 "CLI scripts architecture discussion"
Issue to discuss where the CLI scripts will fit in, given our current directory/folder structure of our package.

Overall objective: Identify atomic functionalities, i.e., the functionalities should make sense as a "unit" by itself, and add as a script to the CLI module.

Example of "atomic functionality": `$ python cli/generate_manifest.py pos_args --opt_args`

The above command generates a manif

[2020-10-27 20:02] allaway opened #329 "Feature request: provide way to autopopulate Valid Values from children"
For example, we have attributes defined for a parent `tissue` with children:

`medial dorsal nucleus of thalamus, posterior inferior parietal cortex, midbrain, cerebral cortex, frontal lobe, hippocampus, nerve tissue, dorsolateral prefrontal cortex, anterior cingulate cortex, frontal pole, parahippocampal gyrus, superior temporal gyrus, inferior frontal gyrus, cerebellum, occipital visual cortex,

[2020-10-27 20:03] allaway commented on #329
BTW - I'd add a label for this, but don't have the appropriate permission to do that. :)

[2020-10-28 00:31] milen-sage commented on #329
@allaway you should have access to labels now?

[2020-10-28 00:48] milen-sage commented on #329
This is an interesting feature request since we had that functionality and deprecated it... (actually the code is even still in but we don't expose it through the csv logic).

The parent:children relationship works to autopopulate valid values the way Sage vocabulary is organized currently, but not necessarily for other types of schemas (e.g. there are often valid values that are not children of a

[2020-10-28 18:49] sujaypatil96 commented on #328
Results of discussion:

1. Some of the scripts will be moved from the `examples/` folder (in their current state) to the `cli/` folder. Some others will need modification(s) before moving.

2. Remove the current example scripts that showcase the usage of all the methods/APIs in the core modules. The `examples/` folder will provide usage examples only for the useful functions (i.e., those functions

[2020-10-28 18:51] milen-sage commented on #128
We need to generate usage docs.

[2020-10-28 21:34] allaway commented on #329
@milen-sage i can now, thanks!

Yeah, it makes sense that you would want to explicitly define the values in some cases. I think your proposal makes sense, though a lot of the terms I'm thinking about where we have a lot of terms (eg model systems) don't have good ground truth ontologies.

[2020-10-28 21:53] milen-sage commented on #329
Yes, in those cases we'd like to be able to point to "non-standard" sources (e.g. the values in Sage controlled vocabularies for a given term/key) stored in a standard format (e.g. jsonschema or json-ld). As long as we have consistent format that we can read from, we can pull from our own references.

I think that's one case where triaging would help @ychae?
I.e. how important is this feature
- "L

[2020-10-28 23:25] allaway commented on #329
From the NF perspective:

The priority is low to medium - time saver, and nice to have (but
definitely less of an issue now that it only takes a few minutes to
generate the json-ld after making changes to the csv).
The timing - It's relevant in the short term (for our use case).

On Wed, Oct 28, 2020 at 2:54 PM milen-sage <notifications@github.com> wrote:

[2020-10-29 19:26] BrunoGrandePhD opened #333 "Error when creating Google Sheets manifest template when using "Bulk RNA-seq" data type (Level 1 or 2)"
**Describe the bug**

When I try to generate a Google Sheets manifest template using "Bulk RNA-seq" data type (Level 1 or 2), I run into the following error (taken from the Shiny logs). This causes the Data Curator App to disconnect. Note that I'm using the HTAN schemas. On the other hand, I'm able to generate a template if I use one of the following types for the same dataset: "scRNA-seq Level 1"

[2020-10-29 20:00] xdoan commented on #333
good catch, thought I fixed the schema names on previous updates but with dev/prod duality the prod was using old schema names. has been updated now, lmk if you run into the same issue after refreshing.

[2020-10-29 21:02] BrunoGrandePhD commented on #333
I can confirm that the new `config.json` fixes the issue. Thanks for the quick bug fix, @xdoan!

[2020-10-29 21:02] #333 closed

[2020-10-29 22:03] milen-sage commented on #328
@sujaypatil96 thanks for getting the discussion started on this.

Wrt get_manifest, let's expose only one method - i.e. the wrapper one with its corresponding parameters.

To the table above, let's also add methods to
- get valid values for a given attribute, based on the display name or the label of that attribute (i.e. the user can supply either display name or label)
- get required attributes f

[2020-10-30 17:46] #89 closed, assigned to milen-sage

[2020-10-30 19:00] milen-sage commented on #164
E.g. HTAN uses the GDC clinical data model; other consortia at Sage use CDISC specification; and yet other consortia use a mixture of data models. Often diseases designations have synonyms across all these data models.

JSON-LD mechanisms could be used to resolve synonyms via vocabulary terms "expansion" (e.g. to different, synonymous terms can be expanded to the same URI):
- https://json-ld.org/s

[2020-11-02 17:47] ychae commented on #179
@milen-sage sure! I'll ping a couple of the users and put the results in the comments here.

[2020-11-02 17:57] allaway commented on #179
How important is this feature?
• Low-Medium - can do work without it; but it’s important (e.g. to save time or for convenience) - mainly to save time for our users :)

When will use cases depending on this become relevant?
• Short-term - 2-4 weeks - relevant to manifests we are using right now.

Let me know if you need any more info!

[2020-11-02 18:49] ychae commented on #179
From @Aryllen:

**Is your feature request related to a problem? Please describe.**
Data contributors may not understand the relationships between our terms. Contributors have previously annotated raw rnaSeq data with `resourceType = analysis` instead of `experimentalData` . Trying to find all of the incorrect pairings in tens of thousands of files by hand is not scalable.
**Describe the solution y

[2020-11-02 19:15] milen-sage commented on #179
@Aryllen thanks! This is useful information to know independent of whether APM-AD will end up using schematic.

[2020-11-02 19:25] BrunoGrandePhD opened #335 "Improve the key/field names in the config.yaml file"
Once PR #334 is merged, we can think of improving the key/field names in the config file so they're more intuitive. This could entail reorganizing the YAML structure. Here are a few suggestions:

- Reorganize the structure so that everything Synapse-related is under the `synapse` top-level key and everything Google-related is under a `google` top-level key.
- Add the file types that are expected i

[2020-11-02 21:26] BrunoGrandePhD opened #336 "Write script that generates the config.yaml file"
**Is your feature request related to a problem? Please describe.**
I'm thinking of how the config file will be distributed once `schematic` is deployed via PyPI. It would be confusing if the user installed `schematic`, but they still had to either download the `config.yml` file from the repo.

**Describe the solution you'd like**
One possible approach is to expose a CLI script (that would get adde

[2020-11-02 23:04] xdoan opened #337 "can't submit scATACseq/imaging metadata due annotation name"
**Describe the bug**
scATAC-seq table can't be made since there is an invalid character in the annotation name:

[code]

**To Reproduce**
1. go to dev app https://www.synapse.org/#!Wiki:syn20930961/ENTITY
2. fill out scATACseq Lvl 1 metadata for HCA Immune Cell Cenus scATACseq Lvl 1 folder
3. validate and try to submit to Synape

**Expected behavior**
It should submit to Synapse and have a table c

[2020-11-02 23:15] xdoan commented on #337
similar issue for imaging when I try to submit:

[code]

[2020-11-02 23:53] milen-sage commented on #337
Good catch!! Yes, Synapse does have limitations on annotations... I'll change the attribute names in the schema to reflect that.

[2020-11-03 00:01] milen-sage commented on #336
Thanks for bring this up @BrunoGrandePhD! I've been thinking about some of the parameters in the config as well, and how we can be more flexible wrt what's hardcoded/included during installation vs what is generated vs what can be specified even further downstream as methods' arguments potentially overriding config values (which is likely a separate question from config generation).

Let's think a

[2020-11-03 17:26] jaeddy opened #338 "Add unit tests"
Not really a "feature", but adding a ticket here for reference. 🙂

[2020-11-03 18:30] milen-sage commented on #338
This could be an epic on its own :) but yes for now we can keep it as an issue that's not about a feature.

[2020-11-03 22:45] #337 closed

[2020-11-04 17:32] xdoan opened #340 "scRNAseq Lvl2 &3 schema issues"
**Describe the bug**
1) https://docs.google.com/spreadsheets/d/1UapgIJxBRjLgpomdkteWGHLDKbawcnTwriQUiSiLC8E/edit#gid=0

https://docs.google.com/document/d/12GMuwm4cIbJSymX6VQJIGrc9d-BgWegsA0nSL57auko/edit#

For lvl 2 did you mean to change

`Aligned read length | Read length used for alignment if hard trimming was applied`

to `Applied Hard Trimming`? they seem to cover slightly different use case

[2020-11-05 00:07] kthrog opened #341 "Show warning about invalid values (instead of rejecting input)"
In metadata template CSV, warn user about invalid value(s) instead of rejecting the invalid input. This would allow the user to override the warning and enter an invalid value.

_NF use case:_ our schema is always evolving, and we sometimes have new data types that are not yet represented in our schema. We want to allow our contributors to enter these values, even if they're invalid, if need be (a

[2020-11-05 02:21] milen-sage commented on #341
Thank you  for the comments and transferring - this will be fairly straightforward enhancement I think.

We might want to expose this as a google sheet style option in config: some users might prefer strict data validation enforcement in google sheets; others might prefer flexibility. (I'd be the latter.)

[2020-11-05 16:17] kthrog commented on #341
I agree, @milen-sage -- making this a config option would probably be the best option, to allow different groups different levels of enforcement.

[2020-11-07 00:09] jaeddy commented on #328
+1 for `click`. It's really nice for _composing_ a CLI. However, that also implies a structure that's not as "flat" as what's proposed above. For example, with `click`, it's pretty easy to define a pattern like this:

[code]
or
[code]

Where the structure is generally:
[code]

While I can see pros and cons to this structure (it's totally subjective, and I've seen plenty of examples of both approac

[2020-11-07 00:15] milen-sage commented on #328
I am also one of those people who likes more of a composed CLI vs a flat structure and agreed that it would get us closer to a REST API. +1 on click as well :)

[2020-11-09 18:54] xdoan commented on #340
see that 1) is fixed by #343 but still missing `workflow version` from Level 3 when I tested. I'll push Level 2 to prod!

[2020-11-09 20:17] BrunoGrandePhD commented on #295
Being addressed in #334

[2020-11-09 20:23] BrunoGrandePhD commented on #295
To help keep these issues atomic, I'm going to move the sub-task related to bundling files in the repository to its own issue.

[2020-11-09 20:54] BrunoGrandePhD opened #344 "Bundle accessory JSON(-LD) files (and others) as package resources"
**Is your feature request related to a problem? Please describe.**
The current setup requires that the user downloads/clones the repo in order to use accessible JSON(-LD) files included therein. However, this approach won't work once the package is published on PyPI, unless you force the user to also still download the repo, which would be a terrible UX. Another reason is that addressing this issu

[2020-11-09 21:01] BrunoGrandePhD commented on #283
This will be done in the `bgrande/rename-requires-column` branch.

[2020-11-09 21:50] BrunoGrandePhD commented on #312
Given that this is the biggest use case at the moment, the first version of this feature could exist as a toggle—as @allaway suggested—that would cause `schematic` to build a "draft manifest" from all annotations of the corresponding files rather than considering any existing CSV manifest in the folder in question.

At the implementation level, this "draft manifest" would be exported to a CSV file

[2020-11-09 22:20] BrunoGrandePhD commented on #311
From my understanding, this request appears distinct from what Robert is requesting in #312 (moved to this repository from the Data Curator repository). Here, we want to allow some logic/rules to dynamically auto-complete values in the manifest based on other values in the manifest (or even values from outside of the manifest, such as the parent Synapse project, which often encodes information on

[2020-11-09 22:43] BrunoGrandePhD commented on #344
I suggest creating a `etc/` subdirectory within the `schematic/` subdirectory.

[2020-11-09 22:48] BrunoGrandePhD commented on #344
Consider renaming the bundled files to use more intuitive names. For example, `schema.json` is fairly generic.

[2020-11-09 22:51] BrunoGrandePhD commented on #336
I'm thinking of taking a stab at this once @sujaypatil96 is done working on #344. This script could become the first component for the `schematic` CLI using the `click` package, as described in #328.

[2020-11-10 03:16] #295 closed

[2020-11-10 18:09] milen-sage commented on #344
I agree with the proposed solution above. Let's add example.jsonld schema to the bundled jsonld files - that would enable users to play around with the package immediately after installation. We can add more examples of schemas for different use cases later as well.

[2020-11-10 18:15] milen-sage commented on #340
Thank you for spotting that @xdoan -  #346 should address it.

[2020-11-10 21:23] milen-sage commented on #312
Yes - that's a neat idea! Assuming the toggle would be reflected in the the corresponding CLI/API calls (e.g. the modules you suggest below) as well

The overall plan^ sound good - but let's discuss implementation: how do we want to structure the synapse store.py and the get/retrieve functionality. I've been thinking that we might want to refactor a bit (not too much :) ) the synapse/store.py modu

[2020-11-10 21:45] milen-sage commented on #311
Yes, that's accurate.

I'd be curious to see if we can even capture just "this value here implies this value there" types of rules. Right now, I don't think we have a suitable relationship mechanism in the json-ld schema to do that, so we might need to add that on the data model specification side. On the data validation side, @BrunoGrandePhD could you check if [jsonschema](https://json-schema.org

[2020-11-10 22:06] BrunoGrandePhD commented on #328
There isn't a timeline on this since this issue was created before the templates were instituted.

I just thought I would mention that imCORE will eventually need the ability to validate metadata at the command-line at the end of a workflow (for generating downstream level-2 and -3 data) before uploading the metadata to Synapse. Because I don't want to contribute to an end-of-year rush, I would sa

[2020-11-10 22:16] milen-sage commented on #328
The timeline is a bit tighter from HTAN's perspective. HTAN would require programmatic workflow functionality in couple of weeks.

Technically all of the functionality is available through the package when installed even now, and as long as that's documented and we have usage examples that people can follow in their workflows, that would be sufficient for HTAN. That's a possible short-term solutio

[2020-11-10 22:35] BrunoGrandePhD commented on #328
I mostly just wanted to vocalize what would be ideal from imCORE's perspective. In this case, since I have a vested interest, I could take a first stab at this issue (at least for the feature that I need) in January if @sujaypatil96 hasn't tackled it by then.

[2020-11-10 22:50] jaeddy commented on #328
OK, as promised, here's a quick example to get started with `click`:

In a package I wrote called `wfinterop`, I have a subpackage named `config`. I can start my CLI by adding commands specific to the `config` subpackage.

[code]

... where `commands.py` looks like this:
[code]

I might also wrap another method called `add-queue` that takes a `data` argument:
[code]

Imagine that I took a similar

[2020-11-10 22:50] kthrog commented on #311
I don't think I have anything to add here, @BrunoGrandePhD. @milen-sage covered it more thoroughly than I probably could have, but let me know if you have additional questions!

[2020-11-10 23:20] sujaypatil96 commented on #344
Addressed in PR #347.

[2020-11-10 23:21] sujaypatil96 commented on #284
Addressed in PR #347.

[2020-11-11 00:03] milen-sage commented on #328
Thanks @jaeddy !

[2020-11-11 14:35] BrunoGrandePhD commented on #214
Just to confirm we're on the same page, imagine you had the following CSV data model:

[code]

[2020-11-11 16:13] BrunoGrandePhD commented on #283
Solved by #345.

[2020-11-11 16:13] #283 closed

[2020-11-11 16:29] BrunoGrandePhD commented on #329
I agree that this feature would be useful at cutting down redundancy. D.R.Y. F.T.W.!

A temporary solution until we utilize source ontologies could be a toggle to enable the existing (but currently disabled) functionality via a keyword under `Validation Rules`. For example, users could specify `ValidValuesFromChildren` under `Validation Rules`, and `schematic` would then internally populate `Valid

[2020-11-11 16:32] BrunoGrandePhD commented on #164
This issue will have to wait until I have a firmer grasp on JSON-LD and relevant RDF concepts. I'm slowly getting there.

[2020-11-11 17:37] xdoan commented on #340
fixed by #346!

[2020-11-11 17:37] #340 closed

[2020-11-11 17:57] milen-sage commented on #214
The default expected order for this example should be slightly different:
PatientId,Diagnosis,Sex,FavoriteColor
i.e. required attributes for ClinicalData should follow the user-entered order in DependsOn
@BrunoGrandePhD do you see a different order? If so which branch are you on and could you pull the latest code on for manifest/generator either from develop or main?

Similarly to the above the ex

[2020-11-11 18:03] BrunoGrandePhD commented on #179
I'm thinking of how we could implement this feature, at least at the level of the CSV data model specification.

I'll use the same example as in #214. Briefly, we have a model for clinical data where the unconditionally required columns are `PatientId`, `Diagnosis`, and `Sex`; an entirely optional column is `FavoriteColor`; and a `Cancer` diagnosis requires `CancerType` and `DiagnosisDate`, and in

[2020-11-11 18:16] milen-sage commented on #329
Yes, I think that should work short term @BrunoGrandePhD - could you check if range_value_relationship here

https://github.com/Sage-Bionetworks/schematic/blob/41c181fcc3e56fbc879aaecc053f357f184030d2/schematic/schemas/generator.py#L24

is set to 'parentOf', the list of valid values gets populated correctly? A lot of time has passed since I wrote the code and then I  updated it, so hopefully the o

[2020-11-11 18:31] BrunoGrandePhD commented on #214
Sorry, I spent too much time looking at the code for `ManifestGenerator.sort_manifest_fields()` and ended up assuming that the ties are broken using alphabetical order because of the first line.

https://github.com/Sage-Bionetworks/schematic/blob/2cd104d4f1e6a9152511233eb788a8b174313b3a/schematic/manifest/generator.py#L691

I should have actually run the code to confirm the order; I just haven't s

[2020-11-11 18:34] milen-sage commented on #179
Shouldn't the universe implode when a sentence that has never been uttered and should have been unutterable is uttered? :)

[2020-11-11 18:52] milen-sage commented on #179
@BrunoGrandePhD I see the proposed logic, to make it more precise wouldn't we want

[code]

That way we'd know that the restriction of valid values based on Lung or Colon applies to CancerClassification? This opens up the question what if we have multiple attributes in 'DependsOn' for 'Lung' (or 'Colon'). In that case, we should check if the valid values for Lung/Colon are a subset of the valid va

[2020-11-11 20:13] milen-sage commented on #214
The easiest way to generate the template is manifest/examples/generator_usage.py

Just make sure the schema in the config is what you want and it contains the TEST_NODE label that you specify. E.g. ScRNA-seqLevel1 is the label of an attribute in HTAN.jsonld, so that should work for testing. You can try using example.jsonld and say Patient (for a smaller schema).

[2020-11-11 23:34] BrunoGrandePhD commented on #179
From what I've gathered so far, it seems like we aim to minimize the number of required "data type attributes" when designing data models. Given this preference, I thought it would be helpful to make it optional to list the associated "data type attribute" in the `DependsOn` column since in some cases (like in my example above), you might not care as much to know about `CancerClassification` if it

[2020-11-11 23:56] BrunoGrandePhD opened #348 "Refactor `synapse/store.py` submodule to allow for different asset stores (like Gen3)"
**Is your feature request related to a problem? Please describe.**

@milen-sage wants us to start thinking of how we can add support for additional asset stores such as Gen3 (in addition to Synapse). This will come after #312 is implemented.

**Describe the solution you'd like**

One possible solution is to design a base class with method signatures that raise `NotImplementedError` by default. The

[2020-11-12 00:20] milen-sage commented on #348
Just to clarify, Gen3 is only one option; there could be other asset stores (e.g. cancer digital slide archive (DSA)). In addition, the refactor would be beneficial even if Synapse is the only supported asset store.

[2020-11-12 00:54] BrunoGrandePhD commented on #312
Based on our discussion during the code review today, I think we settled on having an argument to determine the expected behavior if there are conflicts between the Synapse annotations and the CSV manifest file. (We're ignoring the Synapse table for now because sanity.) I propose four different "modes" that could be exposed as a dropdown menu in the front-end:

- Warn about conflicts between CSV m

[2020-11-12 00:56] milen-sage commented on #179
1) Yes, all valid values are added as nodes in the graph
2) A valid value is not uniquely tied to a data type attribute (i.e. it could be reused as a valid value in other data type attributes)

In the schemas we have now, we haven't bumped yet in a case where we this ambiguity would arise. So, I'd be ok with giving this a try. If there ambiguity we can throw an error that the ambiguity needs to be

[2020-11-12 00:56] BrunoGrandePhD commented on #214
Thanks! I think we have a plan for how to tackle this issue once the time comes.

[2020-11-12 01:33] BrunoGrandePhD commented on #179
I agree that a warning (or even an error) in the unlikely case of an ambiguity would be essential.

Alright, I think we have a way forward with this issue.

[2020-11-12 01:33] BrunoGrandePhD opened #349 "allow a default value to be specified for a metadata attribute"
@smrgit commented on [Wed Apr 29 2020](https://github.com/Sage-Bionetworks/HTAN-coordination/issues/133)

for some of the imaging metadata attributes, although they need to be required, in many instances the appropriate value might be easily guessed at (eg FALSE, or 1), so it might be useful to allow the metadata spec (and the ingress code) to be able to handle a default setting

---

@BrunoGrande

[2020-11-12 01:40] BrunoGrandePhD commented on #349
The more I think about it, the less I like my lightweight solution. I'm just worried that those pre-populated values will be missed if we automatically do it for all attributes that have valid values. Maybe an optional `Default` column isn't so bad after all. The column can be omitted from the templates people start off with to avoid overwhelming new users.

[2020-11-12 16:53] allaway opened #350 "Recursive retrieval of files"
**Is your feature request related to a problem? Please describe.**
Our data contributors have been uploading a lot of severely nested directories. They don't have the computational savvy to flatten these directories. However, they'd like to have a "flat" manifest of these files for annotation purposes (e.g. like what you'd see in a fileview, where the directory structure is more or less no longer

[2020-11-12 19:17] milen-sage commented on #350
@allaway if I understand it correctly, you are interested in this functionality: https://github.com/Sage-Bionetworks/schematic/pull/301 ?

If you update the NF data curator app, pulling schematic from the main branch, this PR^ should do the trick? We are already using it for HTAN. E.g. here is an example of a folder with two levels of nesting (see path to file relative to dataset directory in File

[2020-11-12 19:22] allaway commented on #350
Thanks! this is, from what I can tell, basically what I was asking for! I'll assign this issue to me and close it if this is indeed what I was asking for.

[2020-11-12 19:22] allaway commented on #350
D'oh, I now see that conversation that we had on that PR. I think i'm losing it :)

[2020-11-12 19:49] milen-sage commented on #350
2020 has its ways to warp everything for sure :)

[2020-11-14 21:05] #344 closed

[2020-11-14 21:06] #284 closed

[2020-11-18 19:42] milen-sage commented on #328
@sujaypatil96 will take a stab at the CLI implementation using click for the methods outlined above.

[2020-11-18 20:03] milen-sage opened #354 "Prune and moduralize examples that are currently w/in each subpackage of schematic"
- Include all CLI functionality in the python schematic examples for each subpackage.
- Include all features functionality from the schematic [docs](https://docs.google.com/document/d/1gNUA1BpSP09LmU4GHp3Qrg3SocF5v1uR1XQdg3yiInA/edit?usp=sharing) in the python schematic examples for each subpackage.
- Remove functionality in the current examples that are outside the scope of the above
- Split up e

[2020-11-30 19:50] sujaypatil96 opened #355 "Bug in metadata manifest association because of out-of-sync Synapse table"
**Describe the bug**
When there are updates to the JSON-LD schema (due to changes made in the CSV file that generates it), for example, a class that had some name previously now has a different name. One example, is the latest schema update changed the name of a column, `HTAN Patient ID` to `HTAN Participant ID`, and that has affected many methods downstream such as the `associateMetadataWithFiles

[2020-12-02 19:36] xdoan opened #357 "Google spreadsheets are generated in personal acct"
**Describe the bug**
New google spreadsheets are generated in my sagebase.org acct, not the HTANpipeline account

**To Reproduce**
Generate a template on the app and you'll see I'm the owner (or you won't be able to see bc you aren't the owner)

**Expected behavior**
HTANpipeline should be the owner

**Screenshots**
<img width="1173" alt="Screen Shot 2020-12-02 at 11 30 12 AM" src="https://user-im

[2020-12-02 20:00] BrunoGrandePhD commented on #312
Friendly bump for @allaway.

**Note to self:** Update that the code that updates Synapse annotations such that it can guarantee (as much as it can) that the annotations are in sync with the manifest CSV file. In other words, if any errors comes up during the process of updating annotations (_e.g._ because a attribute name isn't a valid annotation key on Synapse), update the annotations using the p

[2020-12-03 02:43] allaway commented on #312
Sorry for the delay, I was slammed the past couple of weeks!
Thanks for the ping.

I agree with your proposal. I think this would cover all of the use cases.

I think " I think we should just pull in all annotations, even those that don't appear in the data model, in case different names are used for the same concept (e.g. patient as the Synapse annotation key and patientId as the JSON-LD data mod

[2020-12-03 02:44] allaway commented on #312
I agree with making the first behavior the default if possible. In the second option (just overwrite Synapse annotations), I could see there being some potential issues with concurrency as discussed in my previous comment.

[2020-12-04 01:30] BrunoGrandePhD commented on #312
No worries!

I didn't know what the ETags were for until I looked it up just now. I had been conveniently ignoring them. 😅
Thanks for bringing them to my attention!

So, based on my little bit of testing, each entity (_e.g._ file, folder, project) is given an ETag, which is updated every time the contents or the annotations of the entity are changed. This ensures that if two changes are made at th

[2020-12-04 02:07] milen-sage commented on #312
Oh the joys of etags!
Especially in table updates.

afaik, Synapse should handle "locking" of each entity whose annotations are changed, if entities are changed one by one.

A potential problem could arise (thank you @allaway for spotting that) if multiple entities are updated one by one on schematic's side (after a request by the Data Curator App): by the time schematic requests update of entity

[2020-12-04 03:08] allaway commented on #312
Milen's comment more or less mirrors what I was thinking, though there's
one other scenario that I was considering that could be problematic:

annotations

slow

My read of this is that schematic would apply annotations regardless of
whether the etag had changed in the interim. So I guess I was envisioning
the following scenario:

December 3 - person a generates a manifest and goes home for the da

[2020-12-04 16:51] milen-sage commented on #312
Yes, this is a scenario that could happen (don't even need the ambitious postdoc in the picture; it could be the same person that goes home for the day and then changes the annotations on Synapse, but three days later uploads the manifest via the schematic app :)

When we were thinking about it for HTAN (and in general regarding using different interfaces to update metadata), we decided that we ha

[2020-12-04 17:50] milen-sage commented on #357
Steps to resolve this issue:
- download credentials from Synapse in schematic's repo root directory, per instructions in readme
-- synapse get syn21088684
-- synapse get syn22316486
-- ensure that the credentials and quickstart just downloaded actually overwrite whatever existing ones there are

- regenerate the token pickle and authorize the application (you'd need to rename/remove your existing

[2020-12-04 18:17] xdoan commented on #357
@sujaypatil96 @milen-sage so what happened was the `data_curator` instructions that have not been updated to include the quickstart file. The instructions in the `data_curator` also points to an example https://github.com/Sage-Bionetworks/schematic/blob/main/examples/metadata_model.py to generate the `token.pickle` and do not see it running the quickstart file in the code to actually generate the

[2020-12-04 18:27] xdoan commented on #357
@sujaypatil96 some thoughts for the data_curator docs, it seems too hard to maintain two schematic installation docs so maybe we should just point to schematic instructions and make that a little more robust to include installation for data_curator

[2020-12-04 19:33] sujaypatil96 opened #360 "Rewriting subpackage-specific README and example scripts"
**Is your feature request related to a problem? Please describe.**
Per our discussions, we want to change the content within the README's in each of the sub-packages in [`schematic`](https://github.com/Sage-Bionetworks/schematic/tree/develop/schematic)'s core folder.

**Describe the solution you'd like**
We decided that it would be best if the `examples` folder within each sub-package had a script

[2020-12-04 23:33] BrunoGrandePhD commented on #312
Based on my discussion with @milen-sage from earlier today, I looked into the behavior of file views and their row-wise ETags. Unfortunately, the `ROW_ETAG` value is simply the `etag` of the given file/folder. Updating the annotation of a file caused both the `ROW_ETAG` and `etag` values to change (and remain the same). Hence, we cannot rely on `ROW_ETAG` as a way to specifically detect changes to

[2020-12-04 23:50] BrunoGrandePhD commented on #312
I also wanted to confirm what @milen-sage said regarding the file view schema: new annotations on a file included in a file view doesn't automatically cause the file view to include the new annotations as columns. 😞 You can edit the file view schema and click "All All Annotations" to add new annotation columns. Fortunately, this can be done programmatically by using `addAnnotationColumns=True` (th

[2020-12-04 23:56] allaway commented on #312
Hey both, would you be willing to meet sometime next week to discuss this
further? I think we're saying the same thing, but I just want to make sure
and think we could probably discuss more clearly over a call :)

I would expect the etags to update whether the file was changed or just the
annotations (as you note above) - I just wanted to make sure that the
implementation of things on the `schemat

[2020-12-04 23:58] allaway commented on #312
"I also wanted to confirm what @milen-sage <https://github.com/milen-sage>
said regarding the file view schema: new annotations on a file included in
a file view doesn't automatically cause the file view to include the new
annotations as columns. 😞 You can edit the file view schema and click "All
All Annotations" to add new annotation columns. Fortunately, this can be
done programmatically by usin

[2020-12-07 18:41] sujaypatil96 commented on #357
So the `metadata_model.py` file  has a line that makes a call to the `getModelManifest()` method which instantiates an object of `ManifestGenerator` class, that makes a call to `build_credentials()` which is the method that takes care of creating the `token.pickle` file, or if `build_service_account_creds()` is called then there is no need for a `token.pickle` file altogether. You're right @xdoan

[2020-12-07 18:46] sujaypatil96 commented on #357
@xdoan: Yes, I agree. The `data_curator` docs are lacking with respect to comprehensive installation instructions. Maybe it would be a good idea to have another tab on the data ingress docs (that @ychae maintains) with comprehensive installation instructions (screenshots and what not)?

[2020-12-07 20:09] milen-sage commented on #357
@sujaypatil96 and @xdoan let's handle the docs in a separate issue.

@xdoan my impression is that the specific google sheet ownership issue is resolved on the HTAN data curator end?

[2020-12-07 20:23] milen-sage opened #362 "Documentation of schematic and data curator app installation and usage"
Let's keep the user-facing[ instructions for data ingress](https://ncihtan.github.io/HTAN-Data-Ingress-Docs/) (which will be de-HTAN-ed) separate from installation instructions for the data curator app. They have different use cases.

I.e. the documentation that has been built up [here](https://docs.google.com/document/d/1MoTVogc5JouziQ9i7otf74qzBRIBHHNCJda6NAbRU_M/edit?ts=5f64dbd0#) on installing

[2020-12-07 20:45] BrunoGrandePhD commented on #312
**Note to self:** Handle deleted files.

[2020-12-07 20:51] xdoan commented on #362
So I see that this gdoc works as within DCC general setup guidelines and installation instructions. This is different from the required steps for repo installation in the READMEs of the schematic and data_curator repo. Already in the doc there isn't a differentiation of use-cases for setup (server, personal, shared, etc) so I agree they should be added.

This needs to be integrated with the README

[2020-12-07 21:42] milen-sage commented on #362
Yes, agreed most people look at the README of a repo for installation instructions. The integration though can potentially happen in two directions:
a) repo README is source of truth; Jekyll documentation modules link to README for installation instructions (as you suggest)
b) the Jekyll documentation modules are source of truth; the repo README links to Jekyll module on installation (and other) i

[2020-12-09 18:12] sujaypatil96 commented on #355
Closing this issue since it was handled in PR #358.

[2020-12-09 18:12] #355 closed

[2020-12-11 19:49] xdoan commented on #357
@milen-sage @sujaypatil96 note to add in the step to actually generate the token.pickle in the README: `python examples/manifest_generator.py `https://github.com/Sage-Bionetworks/schematic

[2020-12-15 05:19] allaway commented on #350
I'm trying to test this, but I get the error @xdoan mentioned in #286

I just tried to run the NF Data Curator app off the `schematic` develop branch and got this same error. Can you please advise as to whether I'm doing something wrong, or if they are currently incompatible?

[2020-12-15 05:20] allaway commented on #350
Nvm, I now see in a comment above that #301 was merged into main, not develop!

[2020-12-15 05:31] allaway commented on #350
This appears to work for us as well! thanks!!

[2020-12-15 05:31] #350 closed

[2020-12-15 05:34] milen-sage commented on #350
Yes, the functionality is already in main.

It is also in develop, but the schematic develop branch is in development (no pun intended :) - there are features on the develop branch that have not been tested with the data curator app, so I'd expect crashes due to say refactor.

Just saw that it worked for you on main - cool!

[2020-12-15 20:58] milen-sage opened #366 "Reuse column header sorting from existing manifest"
Currently schematic attempts to sort columns based on schema both when new manifests are created and when an existing manifest has already been provided and is just being updated.

If meanwhile the schema has been changed, the columns in the existing manifest and the attributes in the new schema may be mismatching - this may lead to an uncaught errors.

If there is an existing manifest we need to

[2020-12-18 17:40] sujaypatil96 opened #370 "No manifest file in Synapse dataset"
**Describe the bug**
Create descriptive error message when there is no manifest (CSV) file that can be found in the Synapse dataset folder. Problem/issue was encountered when running CLI command: `schematic manifest get --dataset_id syn23643254`.

Now there is a dummy CSV file in the folder. But there needs to be an error message when the user tries to run `schematic manifest get` on a dataset fol

[2020-12-18 18:15] milen-sage commented on #360
@sujaypatil96 not related to the issue specifics (which are good), when opening new issues could you select 'New Issues' (under Pipelines in upper right corner in zenhub), otherwise by default the issues are placed in the first zenhub workspace lane, which happens to be long-term epics and makes them harder for PMs to see.

[2020-12-18 18:18] sujaypatil96 commented on #360
Thanks @milen-sage, will keep that in mind. I used to create issues through GitHub's interface (and not Zenhub), but I'll start using the Zenhub interface from now.

[2020-12-18 23:43] BrunoGrandePhD opened #372 "Create Google service account to host Google Apps Script for schematic"
Tracked in [IT-1024](https://sagebionetworks.jira.com/browse/IT-1024).

[2020-12-30 21:04] BrunoGrandePhD opened #374 "Handle the case when a manifest already exists for a different data type"
### Describe the bug

I was trying to generate a Google Sheets template for a "Bulk RNA-seq Level 1" dataset on Synapse, but the [result](https://docs.google.com/spreadsheets/d/1XPOGBBDqi4WZ58G2yQoE3MJaIMGzhHZuFh4xcEr61z8/edit?usp=sharing) was messed up. The columns names seem out of order (compared to [what](https://docs.google.com/spreadsheets/d/1pyPMkdEW-OD79tWyum2dlLbI6BOE2QFbwaxb8xRtlX0/edit?

[2021-01-06 18:21] milen-sage commented on #210
I think we are at a point where centers are testing the functionality, so any new feature/bug requests can be handled separately. I think we are good to close this one!

[2021-01-06 18:21] #210 closed

[2021-01-06 18:22] milen-sage commented on #209
Similarly to #210 new feature/bug requests can be handled in a separate issue.

[2021-01-06 18:22] #209 closed

[2021-01-08 21:17] xdoan opened #376 "Badly Formatted CSVs with empty column names throw an error upon validation"
**Describe the bug**
Jackynn from MSK had this CSV she got from exporting from Excel (can't upload but its on slack if you want it)
<img width="493" alt="Screen Shot 2021-01-08 at 1 14 35 PM" src="https://user-images.githubusercontent.com/15043209/104064831-7a6ea700-51b3-11eb-8920-b527d6e59930.png">
 that has trailing column spaces (all the ,,,,, after the column names) that are incorrectly read a

[2021-01-08 22:06] sujaypatil96 commented on #376
Hi @xdoan. Can you attach a screenshot of the error you're seeing (on the R Shiny app, backend also if tested). I'm seeing the same set of errors on the backend when I run `validateModelManifest()` on the manifest file you've shared, with and without the trailing commas in the column names.

<img width="1112" alt="Screen Shot 2021-01-08 at 2 05 22 PM" src="https://user-images.githubusercontent.com

[2021-01-08 22:12] sujaypatil96 commented on #376
Hi @xdoan. Could you attach a screenshot of the error message you're seeing on the Shiny frontend? I validated (`validateModelManifest()`) the attached manifest against the `Demographics` component, and I'm seeing the same set of errors, both with the trailing commas and without them.

_Note: I did trim out the empty rows after line 58 before running this though._

<img width="1112" alt="Screen Sh

[2021-01-11 19:33] xdoan commented on #376
What you have is the expected output, hopefully you can just trim any completely empty columns so this doesn't happen.

The server timed out before I got the validation error returned. It just was processing forever (it is 9k rows etc).

Log attached:
The first part is basically how I read in the preview for the table, then it hung for like 2min and then upon refreshing it crashed and I had to ref

[2021-01-12 06:30] xindiguo opened #377 "Disconnect from the server during Synapse submission"
**Describe the bug**
The metadata file has passed the validation but it showed an error message "Disconnect to the server" when trying to submit to Synapse

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [HIV Data Curator App](https://www.synapse.org/#!Wiki:syn21823262/ENTITY)
2. Pick the 20201218_Pikachu folder in step 1
3. Go to Submit & Validate Metadata tab (please ask Xindi for th

[2021-01-12 06:47] xindiguo commented on #377
Updates: the submission was successful when tested with the first 9 rows of the file.

[2021-01-12 22:18] xdoan commented on #377
it looks like we're getting a similar error and it seems like a common error in now pandas/python parses CSVs and expects them to follow the first row's pattern...adding @milen-sage bc it seems relevant to back end.

[2021-01-14 23:29] sujaypatil96 commented on #377
This issue was resolved in this [PR](https://github.com/Sage-Bionetworks/data_curator/pull/105).

[2021-01-20 00:21] vthorsson opened #382 "Protein Expression Assay RFCs"

[2021-01-20 00:51] vthorsson commented on #234
@clarisse @Gibbsdavidl we have Epics for Clinical , Biospecimen, and Assays-specific tables . Do you think we still need this Epic?

[2021-01-20 17:05] sujaypatil96 opened #383 "tests folder setup"
**Is your feature request related to a problem? Please describe.**
`tests` folder should include a `data` folder within that has only those minimal files that are necessary for `schematic` to function properly (and all the test cases to run). In this process identify the files that are required for minimal setup and move project-specific files (RFC CSVs, manifests, schemas, validation schemas, etc

[2021-01-20 21:15] xindiguo commented on #377
The collaborator has ran into this error again using Safari Version 14.0.2. I will post the log later.

[2021-01-20 21:49] #376 closed

[2021-01-21 00:13] milen-sage commented on #377
@xindiguo yes, please post the log snippet when you have a chance (could be a different issue than the above).

There is also another [PR](https://github.com/Sage-Bionetworks/schematic/pull/381) that @sujaypatil96 merged in 'main' about 2 hours ago; that might help, but would be nice to see the logs in any case.

[2021-01-21 06:17] xindiguo commented on #377
The user was not certified.

[2021-01-21 06:17] #377 closed

[2021-01-21 21:13] milen-sage commented on #377
@ychae is there a way to programmatically find if a user is certified (e.g. is there an error we can catch from the synapse client)?

[2021-01-21 21:14] milen-sage commented on #377
ah - just saw the @xdoan has opened an issue on that https://github.com/Sage-Bionetworks/data_curator/issues/106 - we can track there.

[2021-01-22 01:33] thomasyu888 commented on #215
These are definitely things that are done in GENIE.  Currently there is a `genie_registry` package: https://github.com/Sage-Bionetworks/Genie/tree/master/genie_registry, which contains all of this logic per filetype.

The improvement I want to make in the future is to use `jsonschema` validator.  We can convert the `csv` into `json` and send it through the validator.  There will be things that won

[2021-01-22 02:17] milen-sage commented on #215
That's where the plug-in framework kicks-in. It'd be nice to be able to trigger workflows eventually, and make it more Synapse-independent,  but starting w/ custom modules could work.

[2021-01-22 20:01] sujaypatil96 opened #385 "Error message when credentials missing from .synapseConfig"
**Describe the bug**
Provide a descriptive error message when credentials (username, password, API key) are not provided in the `.synapseConfig` configuration file.

**To Reproduce**
Steps to reproduce the behavior:
Use the CLI to reproduce the behaviour. Execute this command at the command line:

`python -m schematic model --config config.yml submit --manifest_path /path/to/manifest --dataset_id

[2021-01-23 17:16] vthorsson commented on #234
closing as per above

[2021-01-23 17:16] #234 closed

[2021-01-29 21:00] sujaypatil96 commented on #362
Updated a few `README`'s in the `schematic` project repo which you can look at here: https://github.com/Sage-Bionetworks/schematic/tree/develop-main-README.

[2021-02-05 23:46] milen-sage opened #397 "Allow user to specify whether to use metadata attribute schema label vs. schema display name when storing annotation keys"
**Is your feature request related to a problem? Please describe.**
At present schematic uses schema label (e.g. CamelCase for attributes; camelCase for properties) when storing metadata attributes as annotation keys. This may not always play nicely w/ downstream services like portals (e.g. that always assume camelCase annotation keys).

**Describe the solution you'd like**
Can provide an optional

[2021-02-05 23:49] BrunoGrandePhD opened #398 "Streamline user experience for authenticating with Synapse"
**Is your feature request related to a problem? Please describe.**
Currently, the user needs to update the `.synapseConfig`, whose path is in the `config.yml`. It would be a more streamlined experience if the user can provide their credentials whenever they try to use a command that interfaces with Synapse. It would also help simplify the config file.

**Describe the solution you'd like**
When thi

[2021-02-06 01:02] allaway commented on #397
Hi Milen,

Yes, I think this accurately describes our conversation!

This is more imminently a need for us as we'd really like to enable the end
users to apply annotations (considering their time and skillset
constraints); at present we'll probably have to manually intervene in order
to facilitate annotations.

That said, I think this is simple enough that I can tackle (hackle?) on my
end and then

[2021-02-06 01:30] milen-sage commented on #397
thanks for going through Robert! that would be awesome, please feel free to PR and tag me, Sujay or Bruno.

[2021-02-06 01:32] milen-sage commented on #397
so feature is important, urgent and easy to implement - perfect combo! (though I guess important, not urgent and easy to implement would be even better :)

[2021-02-06 19:06] #397 closed

[2021-02-06 20:41] allaway opened #401 "Improve handling of annotation type changes"
**Describe the bug**
When updating an annotation, if the new annotation is of a different type than the one currently on Synapse, synapseclient throws an error that causes the app to crash. I am posting this here because I assume it should be addressed at the `schematic` level, rather than just improved error handling in the shiny app.

I think this could be an issue in scenarios such as:
 * key h

[2021-02-06 20:51] allaway opened #402 "Do not upload "nan" for blank values in manifest"
**Describe the bug**
This is related to #401 but distinct - blank values are currently uploaded as `nan`. This can cause issues with adding annotations in the future because synapse interprets nan as a `DOUBLE`.

**To Reproduce**
Steps to reproduce the behavior:
1. Leave a field blank that is not required
2. Validate and upload manifest
3. Annotation on synapse is `nan` for the blank field.

**Exp

[2021-02-06 20:57] allaway commented on #341
I believe this is the default behavior now, perhaps this issue can be closed.

[2021-02-09 23:41] vthorsson commented on #382
Does not belong in this repo.

[2021-02-09 23:41] #382 closed

[2021-02-10 22:47] BrunoGrandePhD commented on #303
@xindiguo: Did you ever got around this issue? If so, what was your solution in the end?

[2021-02-11 19:09] allaway opened #405 "Add configuration disabling use of multi-selection script while retaining list validation"
**Is your feature request related to a problem? Please describe.**
I am testing out the `list` validation rule and have encountered a few issues with the resulting manifests:
 * multi select doesn't appear to work properly in firefox
 * multi select requires authorization of script to see all sheets (likely to cause a lot of customer service overhead)
 * multi select script only works in google sh

[2021-02-11 19:32] milen-sage commented on #405
@allaway try removing the master template config variable from the config (or leaving it as ''). The list validation should still work, though the multi-select feature would not be part of the google sheet (still the validator would expect comma-separated list of valid values, if an attribute has 'list' in 'Validation Rules' of the schema).

[2021-02-11 19:34] allaway commented on #405
Will try this! What you describe is (I think) the same as what I am asking for!

[2021-02-11 21:07] allaway commented on #405
Unfortunately this breaks @ manifest generation via the app:

Remove template ID variable, leave as '':

[code]

remove variable entirely:

[code]

[2021-02-11 21:16] milen-sage commented on #405
Thank you for trying this out! I see, yes - will make this configurable.

Also after trying setting the master template ID to just an empty google sheet, which works, I realized that the sheet notes on cells allowing lists, still point you to the 'Selection option' menu item. The menu items is no longer there since I am no longer using the master template that supports that... so we'd need to make

[2021-02-15 17:48] sujaypatil96 opened #407 "Improved design for CSV to JSON-LD parser module"
1. Move the current `csv_utils` code to `schematic.schemas.df_parser`
2. Add a method to the `schematic.schemas.df_parser` module called parse_csv() or parse_from_csv() that:
- takes an input filepath or url to a csv and reads to a df
- calls `create_nx_schema_objects()` to parse the df into the relevant python objects
3. Add another module called `schematic.schemas.file_converter` that includes a

[2021-02-21 17:51] BrunoGrandePhD opened #410 "Rate limit exceeded with Google's API on large dataset"
## Description of the Bug

I tried generating a manifest template for a large NF dataset ([syn4984604](https://www.synapse.org/#!Synapse:syn4984604)). According to `SynapseStorage.getFilesInStorageDataset()`, there were 3505 files in this dataset (_i.e._ `len(file_list)`). However, schematic ran into rate limits imposed by the Google API. This appears related to the recently opened Sage-Bionetwork

[2021-02-21 20:25] BrunoGrandePhD opened #411 "Speed up annotation retrieval from Synapse for large datasets"
## Description

I noticed that the new annotation retrieval feature (implemented in #361) is slow, especially for large datasets. I generated a run time [profile](https://github.com/Sage-Bionetworks/schematic/files/6018362/profile.txt). It's my first time generating one of these, so bear that in mind. I'm also running into rate limits with Google's API (see #410), but I think I got the information

[2021-02-21 23:43] BrunoGrandePhD opened #413 "Auto-fit Google Sheets columns when pre-populating manifest template"
**Is your feature request related to a problem? Please describe.**

When pre-populating manifest templates on Google Sheets, many values are truncated because the column widths are based on the column headers ([example](https://docs.google.com/spreadsheets/d/1BdOLIcTL6hbhk3H2FxQIGPsyvGN8ELl4gSrnMq2MHGQ)). It would be nice if the columns are auto-fitted to the content after it's been added.

**Desc

[2021-02-22 16:58] milen-sage commented on #411
This is great info @BrunoGrandePhD ! I have a refactor of the getDatasetManifest function laying around that doesn't rely on the Synapse file walker and will commit it today, you can review; it should eliminate this part of the bottleneck. The reason for the current behavior: I initially thought it was a good idea to treat fetching manifest files as a special case of fetching any kind of file - av

[2021-02-24 22:40] sujaypatil96 commented on #328
Thanks everybody for your input on architecting/designing the CLI scripts structure. Closing this issue since we've incorporated this structure in our development workflow.

[2021-02-24 22:40] #328 closed

[2021-02-24 22:45] sujaypatil96 commented on #360
READMEs updated per changes in PR #392.

[2021-02-24 22:45] #360 closed

[2021-02-24 22:48] sujaypatil96 commented on #383
`tests` folder setup as in [`develop`](https://github.com/Sage-Bionetworks/schematic/tree/develop/tests).

[2021-02-24 22:48] #383 closed

[2021-02-25 23:41] sujaypatil96 commented on #317
PR #406 resolves this issue.

[2021-02-25 23:41] #317 closed

[2021-03-05 00:11] allaway opened #424 "annotations supplant valid values when previous annotations exist"
**Describe the bug**
When a key/column has annotation values already defined for a file that is within the manifest, the list of valid values in the resulting manifest is populated using the unique list of column annotations, not the valid values from the schema.

**To Reproduce**
Steps to reproduce the behavior:

1. Use the current `develop` branch.
2. Generate a manifest retreving previous annot

[2021-03-05 00:42] ychae commented on #336
@BrunoGrandePhD trying get a sense of where this is in term of priority -- is it something we'd like to have for the first PyPI release?

[2021-03-05 00:43] ychae commented on #335
@sujaypatil96 can this be closed?

[2021-03-05 00:45] ychae commented on #329
@milen-sage has this issue been resolved?

[2021-03-05 00:59] #59 closed

[2021-03-05 01:01] allaway commented on #413
I agree that this is a nice to have. except `etag`, maybe. :o)

[2021-03-05 01:02] ychae commented on #63
FAQ section in data ingress docs: https://ncihtan.github.io/HTAN-Data-Ingress-Docs/faq.html

[2021-03-05 01:02] #63 closed

[2021-03-05 01:03] ychae commented on #366
@milen-sage is this work for this phase (ending April 15) or next?

[2021-03-05 01:07] ychae commented on #362
@sujaypatil96 can this issue be closed with the additions that you've made?

[2021-03-05 01:10] milen-sage commented on #366
Nope - need to prioritize; likely not on table at least until April (would be a good first issue :).

[2021-03-05 01:11] ychae commented on #354
@sujaypatil96 is this currently in progress?

[2021-03-05 01:14] milen-sage commented on #362
This needs more work (next workstream milestone).

The two modules referred to above now exist on confluence; w/ some of the documentation covered by @sujaypatil96 's github package work.

We need to clean up and reorganize the confluence docs; make them more maintainable and complete.

[2021-03-05 01:15] ychae commented on #338
@jaeddy should we close this issue since the framework is in place? We could also rename the ticket and use it to track unit testing/code coverage for the PyPI release.

[2021-03-05 01:20] ychae commented on #318
@BrunoGrandePhD @milen-sage is this being worked on for this phase?

[2021-03-05 01:23] ychae commented on #315
@milen-sage is this work for this phase (April 15) or next?

[2021-03-05 01:25] milen-sage commented on #338
Yes, I think the framework is in place and we even [have some going on coverage](https://github.com/Sage-Bionetworks/schematic/runs/2034293543) :)

[2021-03-05 01:26] milen-sage commented on #315
This is actually related to the 'portal tables' objective in our workstream, so I'd say let's have it on the radar for now though it's not on the critical path for HTAN's first release.

[2021-03-05 04:28] BrunoGrandePhD commented on #336
It can wait until after the PyPI release because we can temporarily point to an existing template in the repository.

[2021-03-05 04:30] BrunoGrandePhD commented on #329
I don't think this has been implemented yet. IMHO, this needs to be included in the PyPI release.

[2021-03-05 04:31] BrunoGrandePhD commented on #413
We might eventually hide and/or protect the eTag and entityId columns to avoid confusing the user or giving them the opportunity to change the values.

[2021-03-05 04:38] allaway commented on #413
+1, that sounds like a good solution. It could be helpful to have them
still around (even if hidden) for troubleshooting concurrency issues or
(maybe?) off by one errors, but hiding/protecting makes a lot of sense.

Cheers,
Robert

On Thu, Mar 4, 2021 at 8:32 PM Bruno Grande <notifications@github.com>
wrote:

[2021-03-05 04:53] BrunoGrandePhD commented on #318
IMHO, I wouldn't prioritize this for this phase because there's already a front-end fix and you can specify any dataset folder you want at the command line. I don't see any urgency to implement this.

[2021-03-05 05:19] BrunoGrandePhD commented on #424
This is going to require some additional digging. I just generated a test manifest (see link below) using my latest code, which fixes the issue with the empty `Filename` column. Interestingly, Sheet2 is empty, so it might be using the old approach of storing valid values (_i.e._ in the data validation rule itself).

https://docs.google.com/spreadsheets/d/1mPqShLtw5EPOm6zqL7TyJcSSm1Cplz2x9bw7KhpfPm

[2021-03-05 05:36] allaway commented on #318
I am happy to PR that front-end fix to the shiny app if that would be
helpful (ie. if others need it).

On Thu, Mar 4, 2021 at 8:53 PM Bruno Grande <notifications@github.com>
wrote:

[2021-03-05 15:19] BrunoGrandePhD commented on #318
@allaway: Do you list all folders in a project? Or only folders that meet a certain criteria (_e.g._ that have a special annotation, like `contentType=dataset`)?

[2021-03-05 16:03] allaway commented on #318
We list all folders in the project because we have no folder-level concept of 'dataset' (and it would probably be too challenging to retrofit to our projects). This is basically the change (though don't hold me to this, it's been a while since I made the change so could be forgetting things):

[code]

replace with

[code]

could easily change this:
`syn_tableQuery(sprintf("select name, id from %s

[2021-03-05 18:02] sujaypatil96 commented on #354
@ychae: Much of the items from this issue were resolved in issue #360 (PR #392, #416), so I think we're good to close this issue for now.

[2021-03-05 18:56] #354 closed

[2021-03-05 22:14] #87 closed

[2021-03-05 22:15] ychae commented on #128
@milen-sage does the above PR close this issue?

[2021-03-05 22:19] ychae commented on #141
@milen-sage this is covered in the current HTAN docs. The schematic backend documentation task is being tracked in #362 -- would it be okay to close this?

[2021-03-05 22:33] ychae commented on #164
@BrunoGrandePhD would this be part of the next phase?

[2021-03-05 22:36] ychae commented on #179
Moving this to Backlog for this phase as its associated issue is also in Backlog. @BrunoGrandePhD please move if I'm incorrect!

[2021-03-05 22:44] ychae commented on #296
@sujaypatil96 can this ticket be closed with the above PRs?

[2021-03-05 22:45] ychae commented on #285
@milen-sage is this part of this phase of work or the next?

[2021-03-05 22:47] ychae commented on #216
@sujaypatil96 will this be part of the PyPI release?

[2021-03-05 22:49] ychae commented on #214
@BrunoGrandePhD Is this part of your current work?

[2021-03-05 22:51] ychae commented on #198
@milen-sage is this part of the April release or afterwards?

[2021-03-05 23:02] milen-sage commented on #128
not yet - I think it needs more work...

[2021-03-05 23:03] milen-sage commented on #141
yes, let's close - though I do want eventually to see a notebook containing a working end-to-end example... wish list.

[2021-03-05 23:04] milen-sage commented on #285
this is actually related to portal tables, so this phase.

[2021-03-05 23:05] milen-sage commented on #198
that's simialr to what Ethan is doing w/ HTAN dashboard, so this is not critical for HTAN, but it would be useful to have for portal tables; so let's leave in this phase; we can move later

[2021-03-05 23:13] ychae opened #427 "Notebook containing a working end-to-end example"
**Is your feature request related to a problem? Please describe.**
Currently there's no single end-to-end example of how to upload and curate data. We have extensive how-to documentation but it would be really helpful for centers to see an end-to-end interactive notebook that users could modify for their own use.

**Describe the solution you'd like**
An interactive notebook that centers can use to

[2021-03-05 23:14] ychae commented on #141
Notebook ticket created :) #427

[2021-03-05 23:14] #141 closed

[2021-03-06 00:24] BrunoGrandePhD commented on #164
I'm under the impression that this feature isn't urgent, so it could wait until we have additional bandwidth on the project.

@milen-sage: Your thoughts?

[2021-03-06 00:26] milen-sage commented on #164
Yes, this is definitely next phase feature - when we have hired a person.

[2021-03-06 00:28] BrunoGrandePhD commented on #214
I haven't started tackling this yet, so this might have to wait until the next phase.

[2021-03-08 18:06] sujaypatil96 commented on #296
@ychae: The new graph-based parser does improve the performance, but we haven't tried experimenting with this strategy yet. This issue definitely has much lower priority than others, but it's still useful to experiment and see if we can further improve our CSV to JSON-LD parsers' performance.

[2021-03-08 18:14] milen-sage commented on #424
@BrunoGrandePhD you can take a look at the function [call here](https://github.com/Sage-Bionetworks/schematic/blob/07b589357ee93fcee6c62749d473f5f888d50075/schematic/manifest/generator.py#L590). Note on the develop branch the code only stores valid values in the 2nd sheet if there are [more than 10 items](https://github.com/Sage-Bionetworks/schematic/blob/07b589357ee93fcee6c62749d473f5f888d50075/s

[2021-03-08 23:51] ychae commented on #296
Thanks @sujaypatil96! I'll place it in the backlog for now and maybe can consider changing this to an epic if there are multiple components still needed for it. We can also move this up if it becomes something that's needed in the next month or so.

[2021-03-10 21:03] elysekozlowski opened #430 "Update WashU imaging metadata with blanks in Participant ID field"
As an interim solution for fixing participant IDs in imaging metadata, we will remove these entries and add blanks to this column

[2021-03-11 19:26] inodb opened #431 "Automatically remove empty rows from synapse_manifest.csv files"
**Is your feature request related to a problem? Please describe.**
As part of HTAN we have received some metadata files where there are empty rows in the middle of the file. Currently empty rows are only removed at the beginning and end of the file

**Describe the solution you'd like**
Automatically remove any empty row (instead of just first or last)

**How important is this feature?** Select fro

[2021-03-12 01:36] ychae commented on #431
@milen-sage I assigned this to you but please re-assign as needed. Also, I added it to this phase since the timeline for it being relevant is within the next month.

[2021-03-12 01:40] milen-sage commented on #431
yep - figured :)

[2021-03-12 01:45] ychae commented on #430
@elysekozlowski would you be able to add when this is needed by? Thank you!

[2021-03-16 00:19] allaway commented on #424
Hi all, In case it is of interest or useful, I tested Bruno's changes in #425 and added in the one-line change described by @milen-sage above. This fixes the issues with the hidden sheet, but does not fix the behavior of the valid values being overridden by existing annotations.

In this example, the third row has a pre-existing annotation `fileFormat = foo`: https://docs.google.com/spreadsheets/d

[2021-03-18 06:23] BrunoGrandePhD commented on #424
Thanks for testing this, Robert! My week has been completely consumed by a blocker on HTAN, so I haven't been able to do any schematic development for the past week.

[2021-03-22 17:20] allaway commented on #424
No worries! :) Let me know if there's anything else I can do on my end to help.

[2021-03-30 08:04] #407 closed

[2021-03-31 18:13] rrchai opened #441 "Strategize handling of “na” / “blank” / “nan” values for filled manifest"
As @milen-sage @sujaypatil96 suggest, I post the issue in schematic here.

`'blank'` in filled manifest are read as `'NA'` using `readr` in the front-end, but the `validateModelManifest` uses **absolute path** to read `'blank'` values in manifest as `''`. <del>In addition, `DT::formatStyle` function (used to highlight preview table) will NOT highlight the `'blank'`/`''` values.</del>

- [ ] Decide

[2021-03-31 19:21] inodb opened #442 "Age in Days Validation"
**Is your feature request related to a problem? Please describe.**
We have had a few centers that submitted incorrect Age data (e.g. in years instead of in days). As well as including decimals instead of just integers. There are also some other issues related to privacy, such as according to law age should be indicated as  <18 and >90.

**Describe the solution you'd like**
When any age related dat

[2021-03-31 21:11] #410 closed

[2021-03-31 21:28] allaway commented on #441
I am probably misunderstanding the suggestion, but pushing `" "` instead of NULL values as annotations cause will cause problems in synapse queries, facets, SRC tools.

e.g. the query `SELECT * FROM synXXXX where key is NULL` no longer works if blank values are `" "`. Similarly, the Synapse Portals rely on NULL values to know when something is left blank (e.g.: the `Not Assigned` values here are a

[2021-04-01 14:16] rrchai commented on #441
Hi Robert,

Thanks for explaining the potential problems in synapse if pushing `" "` values as annotations.

Sorry about the confusion and unclear description. For an example, if user's uploaded manifest has an empty/NULL value which is supposed to be filled, the results in R from `validateModelManifest` will like the list below:
[code]
I was suggesting to change the NULL/blank to `" "` just in sh

[2021-04-01 16:20] allaway commented on #441
Thanks for clarifying, Rong! That makes sense, it sounds like i was misunderstanding.

I think your proposal makes sense. Another option for your consideration is switching to `reactable`, which has pretty comprehensive support for conditional styling, and might work without having to having recode data `NA`s or `""`s to something else: https://glin.github.io/reactable/articles/conditional-styling

[2021-04-01 16:21] allaway commented on #441
Here is a related issue to my last sentence, but it sounds like you are talking in this issue only about the front end: https://github.com/Sage-Bionetworks/schematic/issues/402

[2021-04-01 19:50] rrchai commented on #441
Thank you for the suggestion, Robert! `reactable` looks like a powerful tool to customize styling of data tables. I will look into it and I think it will be super useful when we need more styles on data table.

I just realize it is not reproducible, so I can just simply change "NA" to `""` in the front end and have updated the issue.

[2021-04-08 03:46] allaway opened #445 "Revise schematic_service_account_creds.json documentation to help users understand what this is and why they might do it"
**Describe the bug**
Documentation doesn't sufficiently describe how to do this step: "Use the schematic_service_account_creds.json file for the service account mode of authentication (for Google services/APIs)."

**To Reproduce**
Read the docs :)

**Expected behavior**
I would expect this section to describe how to create or obtain this json.

**Screenshots**
n/a

**Desktop (if applicable, please

[2021-04-08 03:54] allaway commented on #445
I guess a related thing that I do not understand in the docs: is the OAuth2 credentials/token.pickle method of authentication sufficient, or do I also need to define `schematic_service_account_creds.json`? As far as I can tell, the answer is yes, both need to exist to run schematic.

[2021-04-08 15:59] hweej opened #446 "Missing synapse_config key when running tests"
**Describe the bug**
Running the tests on a fresh schematic install produces the following error. It appears to be using the `tests/data/test_config.yml` which doesn't have this key.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `pytest `
2. See error

**Expected behavior**
The tests pass

**Screenshots**
<img width="734" alt="Screen Shot 2021-04-08 at 11 57 53 AM" src="https://user-im

[2021-04-08 21:04] #424 closed

[2021-04-08 21:57] sujaypatil96 opened #447 "Make config.yml file concise"
**Describe the bug**
Currently, the [config.yml](https://github.com/Sage-Bionetworks/schematic/blob/develop/config.yml) file has more keys/attributes than are necessary. We need to improve the `config.yml` so that it is minimal and there are only as many keys that are absolutely necessary. Once we streamline the Synapse credentials specification process (issue #398), we can remove `["definitions"]

[2021-04-10 00:00] milen-sage opened #448 "json_schema_logs directory not found"
**Describe the bug**
On a new installation of the develop branch of schematic. When issuing the command

schematic model --config <path to config> submit --manifest_path <path to manifest> --dataset_id <dataset synapse ID> --validate_component <component>

user gets error

File "/Users/debruiji/miniconda3/envs/schematic-dev/lib/python3.9/site-packages/schematic/schemas/generator.py", line 646, in

[2021-04-10 00:31] milen-sage opened #449 "Error on metadata template update using schematic CLI"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: bug
assignees: ''

---

**Describe the bug**
User tries to update [existing template ](https://www.synapse.org/#!Synapse:syn25121366) on Synapse.
New template [attached](https://app.zenhub.com/files/178470610/d35aadc3-b80e-4f11-8f6e-1a15ee11afbe/download) (had to change extension to excel since gh doesn't like csv; ju

[2021-04-14 00:06] kthrog opened #450 "freeze filename column and all column headers"
**Is your feature request related to a problem? Please describe.**
When annotating a lot of files with data curator, it's easy to lose your spot. Freezing first row column headers and the `Filename` column could help alleviate this.

**Describe the solution you'd like**
When a Google sheets column is generated in the data curator app, the first row and the `Filename` column are frozen as part of t

[2021-04-14 21:53] #449 closed

[2021-04-15 22:36] milen-sage opened #453 "Reducing Google sheet API write requests further"
@sujaypatil96 do you think we can try evaluate what's causing this:

Warning: Error in py_call_impl: HttpError: <HttpError 429 when requesting https://sheets.googleapis.com/v4/spreadsheets/1w1NaYtei7892VV9DRpsj444fELGjLX1Dpt2GT9qr7Bc/values/Sheet1%21A1%3ACJ1?valueInputOption=RAW&alt=json returned "Quota exceeded for quota metric 'Write requests' and limit 'Write requests per minute per user' of se

[2021-04-20 16:28] allaway opened #457 "Escape retrieved annotations in google sheets"
**Is your feature request related to a problem? Please describe.**
More recent versions of schematic appear escape numbers, booleans, and formula-like statements when populating the valid values in a google sheet manifest (eg TRUE in schema becomes 'TRUE in google sheet, -/- becomes '-/- in google sheet). This is super helpful. However, when values that are numbers, booleans, or formula-like value

[2021-04-20 17:30] milen-sage commented on #457
@BrunoGrandePhD could you take a look into this? looks like it dovetails w/ your earlier changes and might be an easy fix.

[2021-04-20 21:50] BrunoGrandePhD commented on #457
I haven't looked at the code yet, but it seems like the solution is to leverage the same escaping logic that's being used to generate the valid values sheet (_i.e._ the hidden `Sheet 2`) when filling the template with annotations.

I'll dedicate two hours on Thursday to take a look at this. Depending on how readily the escaping logic can be shared, this could be fixed within two hours or might req

[2021-04-22 18:06] sujaypatil96 commented on #448
If you want to invoke the default behaviour, you can try removing the `log_location` key altogether from the `config.yml` file. The CLI will create a JSON Validation Schema (e.g., `example.Patient.schema.json`) for you in the same folder where you have your data model JSON-LD file.

If the `log_location` key is specified, then it does create a folder for you if one doesn't exist already (see behav

[2021-04-22 18:46] sujaypatil96 commented on #446
To ensure that these tests successfully you will need to create a Personal Access Token on Synapse.

To do so, you can login to [synapse.org](https://www.synapse.org/). Under the `Settings` section from the dropdown in the top right corner you can find `Personal Access Tokens`. You can create a new personal access token and store it in a `.env` file in the repo root like:

[code]
The `dotenv` modu

[2021-04-22 19:52] hweej commented on #446
@sujaypatil96 , this seems to resolve most the issue. Almost all tests run & pass for me now off a fresh pull of Schematic. I suspect the other errors I'm getting are Synapse permission errors for my access token.

<img width="950" alt="Screen Shot 2021-04-22 at 3 50 39 PM" src="https://user-images.githubusercontent.com/1216418/115776849-98d36980-a382-11eb-8ba2-600bd0722dcd.png">
<img width="957"

[2021-04-22 20:13] sujaypatil96 commented on #445
Can this issue be closed @allaway? Like you mentioned in your followup comment, the relatively new `--oauth` flag allows you to choose between using `OAuth` and the `Service Account`.

[2021-04-22 23:31] sujaypatil96 commented on #446
@BrunoGrandePhD: Do you know what the best way to resolve this would be? I'm seeing: `synapseclient.core.exceptions.SynapseAuthenticationError: You are not logged in and do not have access to a requested resource.` and `synapseclient.core.exceptions.SynapseHTTPError: 403 Client Error: You lack CREATE access to the requested entity.` error messages as well when running the `test_store.py` tests loc

[2021-04-23 01:16] BrunoGrandePhD commented on #446
It's probably because he isn't a member of our schematic development [team](https://www.synapse.org/#!Team:3419888) on Synapse, which grants write-access to the test project. I issued an invite.

The CONTRIBUTING docs should be updated to mention this requirement.

[2021-04-23 18:49] sujaypatil96 commented on #446
Hm..the tests don't run for me either, even though I'm already a member on the `schematic-dev` [team](https://www.synapse.org/#!Team:3419888) on Synapse.

Can you confirm if the test cases are running successfully for you @hweej?

[2021-04-23 19:01] BrunoGrandePhD commented on #446
In that case, you need to use a personal access token generated on the `schematic-tester` account, which you can login using the credentials in LastPass. Both @sujaypatil96 and @hweej should have access to these credentials.

![image](https://user-images.githubusercontent.com/740725/115917822-94af5680-a42b-11eb-8a62-f1a6cdd8ce6d.png)

[2021-04-23 19:09] hweej commented on #446
Yes, I can confirm I'm still getting the `synapseclient.core.exceptions.SynapseAuthenticationError: You are not logged in and do not have access to a requested resource`. and `synapseclient.core.exceptions.SynapseHTTPError: 403 Client Error: You lack CREATE access to the requested entity.` With my own personal access token.

[2021-04-23 20:45] sujaypatil96 commented on #446
Thanks @BrunoGrandePhD. All the tests passed locally with a `schematic-tester` generated Personal Access Token (PAT).

----

So long-term, we'll have to get contributors to follow this protocol? Get users to generate PATs themselves through the `schematic-tester` account? I'm honestly surprised since I would have expected the same @BrunoGrandePhD, i.e., everybody added onto the `schematic-dev` tea

[2021-04-23 21:00] BrunoGrandePhD commented on #446
It's because the `TestDatasets` folder has a local sharing setting that restricts edit-access to the `schematic-tester` account. I did this to make it harder for us to accidentally mess with the test datasets. I'm open to removing this local sharing setting if we think it's safe.

![image](https://user-images.githubusercontent.com/740725/115929106-114a3100-a43c-11eb-988a-c0a7e0aaab28.png)

[2021-04-23 21:02] sujaypatil96 commented on #453
An immediate fix to unblock data contributors from accessing and submitting manifests with large number of columns (e.g., `Diagnosis` data type) was to request Google Cloud Support to increase our API quota for the limit **Write requests per minute per user** from 60 to 300.

You can check the limit by logging into the [`Google Developers Console`](console.cloud.google.com) > IAM and Admin > Quota

[2021-04-23 21:10] milen-sage commented on #453
Yes, we can close this for now; the manifest generation google API calls optimization can wait until we decide to refactor manifest generator to decouple google API calls from a more general manifest generation interface.

[2021-04-23 21:10] #453 closed

[2021-04-23 21:10] sujaypatil96 commented on #446
Right, I see, I didn't realize that `schematic-dev` had only "Can download" permission on the `TestDatasets`. Perhaps we can change the permission level for the `schematic-dev` team to "Can edit"? I can check if that level of privilege is enough to run the tests locally.

[2021-04-23 21:22] #457 closed

[2021-04-23 21:24] BrunoGrandePhD commented on #446
Edit-access should be sufficient. The reason it's needed is for creating folder-bound file views.

I've updated the `TestDatasets` folder to grant the `schematic-dev` team with edit-access (but not delete-access). We can revert this if things catches on 🔥.

[2021-04-23 21:25] BrunoGrandePhD commented on #446
@hweej: Can you try again and report back whether the problem is resolved?

[2021-04-23 21:38] allaway commented on #445
Hi Sujay, Sorry for not being clearer: I think the issue is primarily that there is not enough context. What is the service account mode of authentication? Why would a user want to do this instead of oauth?

[2021-04-23 21:40] hweej commented on #446
@BrunoGrandePhD yup! All tests pass using a personal access token created on the `schematic-tester` account!

[2021-04-23 21:57] #446 closed

[2021-04-23 21:58] sujaypatil96 commented on #446
@hweej: Can you test the same with a Personal Access Token created under your account? @BrunoGrandePhD has enabled "Can edit" permissions for all members of the `schematic-dev` team on Synapse.

[2021-04-23 22:11] sujaypatil96 commented on #445
I see, okay. I think there's sufficient documentation on the Google API docs.
1. Authentication overview: https://cloud.google.com/docs/authentication
2. Service Account authentication: https://cloud.google.com/docs/authentication/production

But what you're saying does make sense. I'll add a few more lines of context here ([details.md](https://github.com/Sage-Bionetworks/schematic/blob/develop/do

[2021-04-23 22:17] allaway commented on #445
Thanks, I agree that google's docs are probably sufficient for the how (which was the original title of this issue - I'll change that), but the why and how it relates to schematic is something I was also struggling to understand. Thanks!!

[2021-04-23 22:20] hweej commented on #446
Looks like I'm lacking `DELETE` access from my own Synapse account.
<img width="881" alt="Screen Shot 2021-04-23 at 6 09 20 PM" src="https://user-images.githubusercontent.com/1216418/115935100-7748af80-a460-11eb-8a58-a77cbef1d91c.png">

[2021-04-24 02:00] BrunoGrandePhD commented on #446
Right, the code deletes the folder-bound file view after it's done with it. I've updated the permissions for the `schematic-dev` team accordingly.

@hweej: Things should work now for you using your PAT.

![image](https://user-images.githubusercontent.com/740725/115943659-115f2680-a466-11eb-96cc-3ed2d4062089.png)

[2021-04-24 03:57] allaway opened #459 "Difference in how annotations are retrieved"
**Describe the bug**
As noted in #456, @BrunoGrandePhD and @sujaypatil96 get different values when retrieving values from synapse. I get True/False, while they get TRUE/FALSE. I also noticed on my most recent try that I get Text type numbers converted to doubles. Example here: https://docs.google.com/spreadsheets/d/1WmkQU76LVORynmSC56tGfZOKXD21Uu-2ZoxAP_ZGXKE

**To Reproduce**
This manifest can be

[2021-04-24 03:59] allaway opened #460 "CoC email"
**Describe the bug**
I noticed that a CoC had been modified which is awesome, but I noticed this error:

`Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by contacting the project team at [INSERT EMAIL ADDRESS]. `

[2021-04-24 04:04] allaway commented on #459
I tried this with a newer dataset and TRUE/FALSE is as expected:

[code]

The only difference that I can see, other than the _age_ of the data, is that the one that worked as expected used non-batch mode, whereas the `CTFcNFWGS' used the faster batch-based (fileview, i think?) mode to retrieve annotations.

[2021-04-26 18:40] BrunoGrandePhD commented on #459
@allaway: I'll revisit this tomorrow when I review GitHub PRs, but I think you've hit the nail on the head. Thanks for taking the time to investigate!

@sujaypatil96 and I would be forced to use the slower non-batch method because we don't have permission on the Synapse project, whereas you were able to create the file view and use the faster batch method. Also, I wouldn't be surprised if retrievi

[2021-04-27 06:44] sujaypatil96 commented on #370
This bug has been handled by the code in `schematic.manifest.commands` from [L#99](https://github.com/Sage-Bionetworks/schematic/blob/develop/schematic/manifest/commands.py#L99) through [L#111](https://github.com/Sage-Bionetworks/schematic/blob/develop/schematic/manifest/commands.py#L111).

The behaviour is as such: if there is no pre-exisiting manifest in the dataset (for example, `syn23643254`)

[2021-04-27 06:44] #370 closed

[2021-04-27 20:40] allaway opened #463 "TRUE/FALSE in csv coerced to True/False in validation step"
Perhaps I've just done something wrong here but I have columns with TRUE/FALSE values (https://docs.google.com/spreadsheets/d/1UtYc889bzhUms67bBbHYvyx46eUncztDOSo5KH2xPHM/edit#gid=136843556) However, when I try to validate this data, the validation throws an error like `'False' is not one of ['TRUE', 'FALSE']`, which leads me to believe that the CSV, when getting read in has TRUE/FALSE values chan

[2021-04-28 00:00] allaway opened #461 "Regex validation support"
**Is your feature request related to a problem? Please describe.**
It would be useful to be able to create validation rules in the manifest such as:
- valid synapse ID format
- specific date format
- must be an integer
- must be a string under a certain length

**Describe the solution you'd like**
I think you could do all of these with regex matching.

**How important is this feature?** Select fro

[2021-04-28 02:29] BrunoGrandePhD commented on #459
I've started a draft PR (#462) to address this issue.

[2021-04-28 03:32] allaway commented on #459
One note: I think Sujay *does* have permission to create a fileview on the project in question, because Sujay is on this team: https://www.synapse.org/#!Team:3378999 (unless @sujaypatil96 using a different service account with schematic, which might also be the case)...just wanted to mention that in case my suspicion above is wrong.

[2021-04-28 22:25] allaway commented on #463
I transferred this because as per @rrchai 's comment it sounds like this `validateModelManifest`-related.

[2021-04-28 22:27] allaway commented on #463
Sorry, I didn't follow the `schematic` bug template because I filed this in the other repository which doesn't have the same template. Let me know if I can provide any missing context.

[2021-04-29 00:23] sujaypatil96 opened #464 "Address flake8 warnings"
**Is your feature request related to a problem? Please describe.**
This issue is the next step that is to be considered after incorporating PR [#452](https://github.com/Sage-Bionetworks/schematic/pull/452), i.e., addressing the large number of linter warnings that come up after running the codebase through the [black](https://black.readthedocs.io/en/stable/) code formatter. Run the following comma

[2021-05-03 16:30] allaway commented on #341
Maybe I was mistaken about this: the default behavior still seems to be `strict=T`.

[2021-05-10 23:18] BrunoGrandePhD commented on #459
@sujaypatil96: Can you reconcile @allaway's [observation](https://github.com/Sage-Bionetworks/schematic/issues/459#issuecomment-828115832) with my [hypothesis](https://github.com/Sage-Bionetworks/schematic/issues/459#issuecomment-827061509)?

[2021-05-11 21:55] BrunoGrandePhD commented on #459
@milen-sage: To be fair, we're swimming against the current by treating everything as a string, which departs from the majority of developers (_i.e._ the ones who are served by pandas inferring types). Unfortunately, we can't set types in CSV files, so we have to turn off type inference everywhere until we can provide types based on the data model. In fact, we should start doing this and default t

[2021-05-12 00:12] BrunoGrandePhD commented on #459
I just realized that I pointed to the wrong `asDataFrame()` earlier. This [method](https://github.com/Sage-Bionetworks/synapsePythonClient/blob/87530e343839490ba04d7a37c6f2436eb72a5d7d/synapseclient/table.py#L1908-L1945) is the one that's relevant. There's still a lot happening in this method and the `_csv_to_pandas_df()` [function](https://github.com/Sage-Bionetworks/synapsePythonClient/blob/8753

[2021-05-26 15:09] allaway opened #476 "Schematic adds "Filename" value as an annotation"
**Describe the bug**
Schematic pushes "Filename" value in a manifest as an annotation. This is an issue because schematic will then throw an error when you regenerate a manifest that contains files that have a `Filename` annotation and `use_annotations = T`. The error is: `Warning: Error in py_call_impl: ValueError: cannot insert Filename, already exists` This prevents a user from revisiting/reann

[2021-05-26 15:11] allaway commented on #476
Note: when following this approach, you also get `etag` as an annotation, which I don't think causes any issues (that I've discovered yet) but it can be confusing because a file then has two etags in a view: the true system `eTag` and the (possibly outdated) annotation `etag`.

[2021-05-26 15:16] allaway commented on #476
I just tried the following: remove the Filename annotation manually on synapse and then re-generate manifest. It now works, suggesting that it is this annotation value that's resulting in this error.

[2021-05-26 17:50] BrunoGrandePhD commented on #476
@allaway: In the meantime, you might want to delete the `Filename` and `eTag` annotations on all affected files/folders, which will unblock you right away. Once you deploy this eventual fix, you could run that code once more and then you should be good to go.

[2021-05-26 23:56] BrunoGrandePhD opened #477 "Add `--jsonld` to `schematic model` subcommands"
**Describe the solution you'd like**
The `--jsonld` option exists for `schematic manifest get`, so I don't know why it couldn't also exist for the `schematic model` subcommands. I don't like having to edit the config for this.

I think we should strive for consistency between our CLI (sub)commands.

**How important is this feature?** Select from the options below:
• Low - it's an enhancement but n

[2021-05-27 00:07] BrunoGrandePhD opened #478 "Don't require model file type until we have more than just `local`"
**Is your feature request related to a problem? Please describe.**

In trying to validate and submit a manifest, I ran into the following error. Upon checking the [source code](https://github.com/Sage-Bionetworks/schematic/blob/develop/schematic/models/metadata.py#L63-L68), I see that only one file type is supported, _i.e._ `local`.

[code]

**Describe the solution you'd like**

Can we update the

[2021-05-27 00:08] allaway commented on #476
Thanks! yep, I used that approach this morning and it worked as a temporary fix!

[2021-05-28 15:55] #341 closed

[2021-06-01 23:34] lopierra opened #481 "schematic fails due to UnicodeEncodeError on Windows"
**Describe the bug**
Running `schematic schema convert htan.model.csv` returns error `UnicodeEncodeError: 'charmap' codec can't encode character '\u039c' in position 5: character maps to <undefined>`

`\u039c` is the Greek character "mu" (as in "um" or "micrometres"). This happens on my Windows machine but not with @milen-sage's Mac.

It happened with both a CSV that I converted from a Google Shee

[2021-06-01 23:47] lopierra opened #482 "Add Windows-specific instructions to documentation"
**Is your feature request related to a problem? Please describe.**
The instructions to activate a Python virtual environment may be slightly different for Windows than for Mac/Linux

**Describe the solution you'd like**
The Mac/Linux command, as currently written in the documentation, is  `source .venv/bin/activate`
On Windows (at least on my machine - Windows 10), I did not have a `bin` folder -

[2021-06-02 16:58] HumanG33k commented on #482
You should instead use ubuntu not so hard to install and use. https://ubuntu.com/tutorials/install-ubuntu-desktop#1-overview

[2021-06-11 00:09] allaway commented on #402
I was just wondering if there was an updated timeline for this? I tried to tackle this a couple weeks back but failed miserably.

At the moment, I'm manually cleaning up all of the `nan`s as they come in, which is a bit of a headache.

[2021-06-11 18:27] sujaypatil96 commented on #448
Commenting on this issue to see if it can be closed @milen-sage?

[2021-06-15 19:36] sujaypatil96 opened #489 "`schematic init` not downloading credentials files as expected"
**Describe the bug**
The [`schematic init`](https://github.com/Sage-Bionetworks/schematic#initialization) command does not work when we try to download the credentials files with the current version of the codebase. After thorough investigation, it seems the reason for that is the use of `authToken` in the `.synapseConfig` file. I tried the same by commenting out the `authToken` attribute from the

[2021-06-22 23:57] sujaypatil96 commented on #489
Per the discussion in [issue #869](https://github.com/Sage-Bionetworks/synapsePythonClient/issues/869) on the `synapsePythonClient` repo, it is now a known bug in the client and the way to get around this inconsistency is by avoiding the use of double quotes when in the credentials fields (`username` and `authtoken`) when we are specifying the `.synapseConfig` file.

Closing this issue till there

[2021-06-22 23:57] #489 closed

[2021-06-23 19:40] sujaypatil96 commented on #385
Custom `schematic.exceptions.AccessCredentialsError` is thrown in the case when this happens. There is an error message that asks users to check their credentials and try again, which is indicative enough of the issue. So this ticket can be closed.

[2021-06-23 19:40] #385 closed

[2021-06-25 05:46] BrunoGrandePhD commented on #411
I implemented file views to address this.

[2021-06-25 05:46] #411 closed

[2021-06-30 04:26] BrunoGrandePhD commented on #329
This is a nice-to-have feature for imCORE. I can tackle this once I have a few spare hours since it's just resurfacing something that was previously implemented.

[2021-06-30 04:57] BrunoGrandePhD commented on #179
This is a nice-to-have feature for imCORE.

@milen-sage: Is this the issue that's intended to track the context feature? You mention the use of contexts in your last comment, and I couldn't find an issue when searching for "context". Should that be tracked separately? Or will tracking it here with a specific use case suffice?

[2021-06-30 15:45] milen-sage commented on #179
@BrunoGrandePhD I haven't created the issue for context, yet. I'll start it later and link to it here.

[2021-06-30 23:12] BrunoGrandePhD commented on #349
We have identified a use case for this in the imCORE project. Because most studies generate certain data types through core labs, it might make sense to expose the values that are consistent across datasets as defaults.

[2021-07-01 18:02] sujaypatil96 commented on #362
I think this issue can be closed, given our documentation in the repo [README](https://github.com/Sage-Bionetworks/schematic#readme) and the RTD [docs](https://sage-schematic.readthedocs.io/en/develop/).

[2021-07-01 18:02] #362 closed

[2021-07-01 18:03] #448 closed

[2021-07-01 23:17] sujaypatil96 commented on #460
PR #492 addresses this.

[2021-07-01 23:17] #460 closed

[2021-07-14 05:52] sujaypatil96 commented on #482
@lopierra: I wanted to ask, what command specifically did not work in cmd? Once the virtual environment has been activated in the way you mention, and the package has been installed, the schematic commands for Windows should be the same as the ones we write for bash.

[2021-07-14 15:21] lopierra commented on #482
@sujaypatil96: adding the `.\.venv\Scripts\activate    # on Windows` line is helpful, thanks!

More generally, any of the Unix commands will not work in Windows `cmd.exe`. You have to have a specific bash program like git bash, [Cygwin](https://www.cygwin.com/), or [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10). I think you could just mention it in "2. Installation Requirements

[2021-07-14 17:18] sujaypatil96 commented on #482
@lopierra: Perfect, thank you for the comment. Does this [commit](https://github.com/Sage-Bionetworks/schematic/pull/492/commits/13683eb3176094cb8e1cc493cf90ee67645e6131) appropriately address what you requested?

[2021-07-14 21:50] #445 closed

[2021-07-14 21:50] #482 closed

[2021-07-20 20:57] ychae commented on #463
Closing this as https://github.com/Sage-Bionetworks/schematic/pull/465 seems to have fixed it. @allaway please reopen if I misinterpreted. Thanks!

[2021-07-20 22:04] allaway commented on #463
@ychae , sorry for the confusion, but we never merged in #465. I merged a portion of that PR in #475 , but I didn't include the fix for this because of @sujaypatil96 's comments in #465. I have implemented that  #465 hack on our NF version of the app, but it would be great to have this as a feature in Schematic proper so that I don't have to maintain a separate version (or more realistically, run

[2021-07-20 23:21] ychae commented on #296
Has this been addressed by the optimization work that's been done or is it still on the roadmap?

[2021-07-20 23:25] sujaypatil96 opened #499 "Swagger/openAPI specification for schematic REST API"
**Is your feature request related to a problem? Please describe.**
The _schematic_ development team intends to spin up a first version of a REST API, with endpoints to the core functionalities offered by the package. By core functionalities, I mean the the three stages of a schematic data curation lifecycle, i.e., annotation, validation and submission.

**Describe the solution you'd like**
Create

[2021-07-20 23:26] sujaypatil96 opened #500 "REST API endpoints for steps in the data curation lifecycle of schematic"
**Is your feature request related to a problem? Please describe.**
The schematic development team intends to spin up a first version of a REST API, with endpoints to the core functionalities offered by the package. By core functionalities, I mean the the three stages of a schematic data curation lifecycle, i.e., annotation, validation and submission.

**Describe the solution you'd like**
Create en

[2021-07-20 23:27] sujaypatil96 opened #501 "Integration of schematic REST API endpoints with Data Curator App"
**Is your feature request related to a problem? Please describe.**
Now that a first draft of the REST API has been released in [v21.06](https://github.com/Sage-Bionetworks/schematic/releases/tag/v21.06) of the schematic package, we can make use of these endpoints by making requests to them from the [Data Curator App](https://github.com/Sage-Bionetworks/data_curator).

**Describe the solution you'd

[2021-07-20 23:32] ychae commented on #401
@allaway is this still an issue and how urgent is this fix if it is?

[2021-07-21 00:08] allaway commented on #401
Yes, this is still an issue, but I don't think it's that urgent: Most (all?) of the time I've run into this, it's been caused by #402, so resolution of that would fix this (at least, it would fix where it's obvious, but I think this still might be a good QoL improvement).

[2021-07-22 16:21] mialy-defelice commented on #442
Hi @inodb!

A question regarding this issue.

- How do you anticipate the age being indicated in these groups of <18 and >90, as days(ints) or these string literals?

- Do you want the validation to check the age and issue an error for the center to re-enter the value as '<18' or '>90' -- in that case the validator needs to be able to check for these specific entries and ages in days that fall bet

[2021-07-22 18:22] mialy-defelice opened #504 "Handle mismatch between schema and existing manifest column set -- for CSVs"
**Is your feature request related to a problem? Please describe.**

Similar to #496 but perform analogous function for CSVs generation. The issue is updating a manifest after a schema has been updated.

**Describe the solution you'd like**
Goal is to update existing manifest columns to match those of an updated manifest when the user is generating a CSV. This issue has already been fixed for googl

[2021-07-22 23:15] BrunoGrandePhD commented on #463
I want to revisit the solution that @allaway ([here](https://github.com/Sage-Bionetworks/schematic/blob/056f7bd413112035cc5c485290e6e304085eae14/schematic/models/metadata.py#L205)) and I ([here](https://github.com/Sage-Bionetworks/schematic/blob/bgrande/imcore/schematic/models/metadata.py#L216)) independently ended up with. It was proposed in [this PR](https://github.com/Sage-Bionetworks/schematic

[2021-07-22 23:19] allaway commented on #463
For what it's worth, I am using this change in the NF Data Curator app's version of schematic, and I haven't encountered any issues (but I didn't test for the scenario that Bruno did).

[2021-07-26 23:43] allaway opened #505 "`schematic schema convert` option `--output_jsonld` fails when output file doesn't already exist"
**Describe the bug**
`schematic schema convert` option `--output_jsonld` only works as expected when jsonld file already exists.

**To Reproduce**
Convert a schema csv without --output_jsonld flag set.
Rename the jsonld to something else, eg test.jsonld
Convert a schema csv with --output_jsonld set to test.jsonld (pointing to the path where the file was created in the last step)
Conversion should

[2021-07-26 23:51] allaway opened #506 "Set CLI `schematic manifest get` -s option to generate a google sheet url"
**Describe the bug**
When this boolean flag is not called, the behavior is supposed to be: "If not it will produce a pandas dataframe for the same."
This is the default behavior for schematic manifest get.

When I run this command without the `-s` flag, i get no output at the command line:

[code]

**To Reproduce**
Run schematic manifest get, without calling the -s flag.

**Expected behavior**
I w

[2021-07-28 17:23] allaway opened #507 "--use_annotations flag for manifest get is broken in develop"
**Describe the bug**
The --use_annotations flag for `manifest get` works in the current pip 1.0.0 release but is not working when I install `develop`.  Discovered while testing #479.

**To Reproduce**
pip uninstall schematicpy
pip install git+git://github.com/Sage-Bionetworks/schematic.git@develop
schematic manifest --config config.yml get --title filename_test -dt GenomicsAssay --jsonld NF.jsonld

[2021-07-28 17:45] BrunoGrandePhD commented on #507
I see `set_dataframe_by_url()` in the stack trace, so I wonder if @milen-sage's recent change in #496 is the root cause. That should make it easy to debug.

[2021-07-28 18:00] milen-sage commented on #507
@BrunoGrandePhD  that's what I thought, too. Will take a look to see if I can reproduce on my end.

[2021-07-28 22:16] ychae commented on #338
Will continue to increase the code coverage but can close this ticket as the central idea of it has been completed.

[2021-07-28 22:16] #338 closed

[2021-07-28 22:20] ychae commented on #402
Subset of #441

[2021-07-28 22:22] ychae commented on #374
Addressed in PR #496

[2021-07-28 23:34] allaway commented on #507
This should be resolved by merging https://github.com/Sage-Bionetworks/schematic/commit/75e54b05205d1150e1dd4033d6f8edf3e5c7b183 into `develop`.

[2021-07-29 20:38] #476 closed

[2021-07-29 20:39] BrunoGrandePhD commented on #507
I think this has been resolved by https://github.com/Sage-Bionetworks/schematic/commit/75e54b05205d1150e1dd4033d6f8edf3e5c7b183 and #508.

[2021-07-29 20:39] #507 closed

[2021-08-13 00:10] #459 closed

[2021-08-13 00:14] #374 closed

[2021-08-26 00:21] allaway opened #512 "list-validation columns contain confusing instructions when valid values don't exist"
**Describe the bug**
Adding `list` as a validation rule triggers this instruction:  From 'Selection options' menu above, go to 'Select multiple values', check all items that apply, and click 'Save selected values'

For columns with `Valid Values`, this makes sense. However, for columns without defined valid values, this is confusing, because the "Select multiple values" prompt will not include any

[2021-09-01 19:13] ychae commented on #461
will be addressed by PR #510

[2021-09-01 19:14] ychae commented on #442
will be addressed by PR #509

[2021-09-03 18:30] brynnz22 opened #514 "Need FKs to be lists"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

For the relational database aspect of schematic, we need to be able to make some of the FKs lists. For example, an antibody can have multiple vendors, therefore, the FK vendorItem needs to be able to accommodate lists of vendorItems.

**De

[2021-09-08 19:53] ychae opened #515 "Consolidate schematic docs"
**Is your feature request related to a problem? Please describe.**
Currently it is incredibly difficult to find all the documentation needed to set up schematic. It's in piecemeal and spread out across multiple pages and platforms.

**Describe the solution you'd like**
- Single confluence page that has all the documentation
- Consolidate all the READMEs in the repo
- Make the necessary credential

[2021-09-08 23:26] mialy-defelice opened #516 "Allow Relationships with RDB generation"
**Is your feature request related to a problem? Please describe.**
When building a relationship database, currently adding additional relationships is a manual process. Update to be generalizable and inferred based on data model schema. i.e. FK referencing PK within the same table and FK with different id referencing a PK in another table.

**Describe the solution you'd like**
Allow a generalizabl

[2021-09-08 23:31] mialy-defelice opened #517 "Customize manifest generation when using an RDB"
**Is your feature request related to a problem? Please describe.**
When creating a relational database FKs and PKs appear in all tables that access them. Primary Keys are required inputs, but they show up required as well when they are also FKs. This is a problem for tables that import many FKs of different types. For example the resource table of the NF database. Each user input of a resource wil

[2021-09-09 16:50] mialy-defelice opened #518 "Debugger Error occurs when using list validation rule without valid values"
**Describe the bug**
In issuing a debugger level logging message within `df_parser.py`, there is a built in assumption that valid values are established . There is a valid_values processing step that creates a variable `val`, which is later used when creating a log for adding a validation rule. This assumes that a user always uses a valid value in conjunction with the list validation rule. This as

[2021-09-10 16:04] #518 closed

[2021-09-10 16:11] mialy-defelice commented on #516
This has been completed within the `develop-rdb` branch once that branch issues a PR that will close this issue.

[2021-09-20 18:52] ychae opened #520 "New files added to a folder do not show up in the generated templates"
**Describe the bug**
From Marisol R at Vanderbilt:
[code]

One of the folders that contains the old (February) files and new (August) files are here: https://www.synapse.org/#!Synapse:syn23564801

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Data Curator App](https://www.synapse.org/#!Wiki:syn20681266/ENTITY)
2. Select "Project":"HTAN Vanderbilt", "Folder":"single_cell_RNAseq_level_

[2021-09-20 19:33] #520 closed

[2021-09-20 19:33] ychae commented on #520
Created it in the wrong project, lives here now: https://github.com/Sage-Bionetworks/data_curator/issues/193

[2021-09-21 17:23] mialy-defelice commented on #514
@brynnz22 @ychae this should be solved by changing db structure.

[2021-09-27 20:10] BrunoGrandePhD opened #522 "`AssertionError` when generating manifest for previously annotated "file-less" component"
## Describe the bug

I'm having trouble generating a Google Sheet manifest for a biospecimen dataset (_i.e._ without data files). I first encountered the issue in the Data Curator, and I was able to reproduce it with just schematic on my local machine. In the code block below, you can see that I'm able to create a manifest from a previously annotated `BulkRNAseqLevel1` dataset, but the same comman

[2021-09-27 20:57] milen-sage commented on #522
@BrunoGrandePhD this looks similar to https://github.com/Sage-Bionetworks/data_curator/issues/190

I'll be pushing a fix to develop in the next few hours.

[2021-09-27 21:10] BrunoGrandePhD commented on #522
Ah, okay! I'll pause my investigations for now. Once your fix is pushed, I'll validate it on my end. If that fixes my issue, then I'll close this issue. Otherwise, I'll resume digging.

[2021-09-30 18:55] mialy-defelice opened #526 "develop-RDB, create a new table to log updates to the database"
**Is your feature request related to a problem? Please describe.**
When updating a RDB want to be able to record a timestamp of when the change was done. Too cumbersome to require contributors to do this within the manifests.

**Describe the solution you'd like**
Can do this by creating a logging table and auto-triggering during an update.
Something like this
[https://www.jicdesign.com/blog/3964-2

[2021-10-05 23:45] allaway opened #529 "When use_annotations = T, error is thrown"
**Describe the bug**
When using the shiny app configured to retrieve annotations with getModelManifest, app breaks with following error:

[code]
I've omitted the rest of the bug report template for now because I think it's a simple fix and will try and do it now. :)

[2021-10-05 23:54] #529 closed

[2021-10-07 20:17] BrunoGrandePhD opened #531 "Columns don't match validation rules when generating Google Sheets manifest template for annotated dataset"
## Describe the Bug

I’m running into weird behavior when creating a manifest template for an annotated dataset (i.e. with an existing manifest file). Note that the data model was updated in the intervening time.

This [Google Sheet](https://docs.google.com/spreadsheets/d/1rkBsEwFrYqK2ol3g6hpwAv2WCBYgzhP5ylVQLksAOFQ/edit?usp=sharing) (restricted to Sage staff) is what I get with the latest `develo

[2021-10-14 17:35] mialy-defelice opened #533 "Pull Manifests from google for RDB data upload."
**Is your feature request related to a problem? Please describe.**
When uploading manifests for Relational Databases, can have ~20 to update each time the data or data model is updated. It would be nice to have an option to automatically pull these from google rather than downloading each file.

**Describe the solution you'd like**
A function where we can either pass IDs and import those directly

[2021-10-14 17:37] mialy-defelice opened #534 "Autogeneration of File upload order for RDB"
**Is your feature request related to a problem? Please describe.**
RDBs need to be uploaded to in a specific order, this can be cumbersome to define this order for an entire database, find a way to update the model so order is determined automatically.
**Describe the solution you'd like**
Auto determination of order of file upload. Currently manually specifying the order.

**How important is this

[2021-10-14 17:40] mialy-defelice opened #535 "RDB create a table to record timestamps of table updates."
**Is your feature request related to a problem? Please describe.**
For projects we want to record any time data is updated within a database, without the user having to keep track of the exact times.

**Describe the solution you'd like**
Create a table that will work on a trigger to capture the fields that are changed an the time they were changed. Something that would be accessible for use within

[2021-10-14 18:40] mialy-defelice opened #536 "RDB Export Table Joins"
**Is your feature request related to a problem? Please describe.**
Need a way to export sql table joins so they can be imported into Synapse.

**Describe the solution you'd like**
Take in a file describing all joins that need to be performed across the RDB and filenames for these joins. Export as csv.

**How important is this feature?** Select from the options below:

• Important - it's a blocker

[2021-10-14 20:14] ychae opened #537 "Dropdown values in Clinical Demographics Template are incorrect"
**Describe the bug**
The dropdown values in the clinical tier 1 demographics template are incorrect. The values seem to be shifted over by one column. For example, the values that I'm seeing should be associated with the column to its left.

<img width="653" alt="Screen Shot 2021-10-14 at 12 46 50 PM" src="https://user-images.githubusercontent.com/12868382/137385576-00011fe9-6b4f-4dda-852f-5b59c91

[2021-10-20 22:56] mialy-defelice opened #538 "Format string lists properly for synapse upload"
**Is your feature request related to a problem? Please describe.**
Table list contents need to be properly formatted for synapse tables. Need to make convert specific columns to this format.

Can take from the validation rules column of the data model.

**Describe the solution you'd like**
Python version of this R func:

`convert_to_stringlist <- function(x){
  if(!is.na(x)){
    x %>%
      .deli

[2021-10-21 18:45] allaway commented on #463
Thanks for the info @BrunoGrandePhD ! I filed a PR with the fix (#539).

[2021-10-21 22:54] mialy-defelice opened #540 "Within develop-db: fix manifest generation for PK/FK relationship with alternative naming."
**Describe the bug**
For NF database: `donor` table contains the column `tranplantationDonorId`. This is likely because this ID is dependent on `donorId`, but in reality this column should only belong in the `animalModel` table.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
This column should only a

[2021-10-28 21:52] #538 closed, assigned to mialy-defelice

[2021-10-28 21:53] #535 closed, assigned to nobody

[2021-11-05 20:55] rrchai opened #927 "Disconnection when generate SRRS manifest - edge case"
App disconnects when generate new component manifest (SRRS imaging level2) for old existing projects (BU -archive).

According to @milen-sage: this catches an edge case where the (new) schema was updated by removing attributes, but the existing manifest (BU’s) contains these attributes.

Reproduce: BU -> archive -> SRRS image level2

[2021-11-15 18:53] clarisse-lau opened #929 "Mismatched field name and drop down options"

[2021-11-15 18:54] clarisse-lau opened #909 "Extra columns in Google sheet"
**Describe the bug**
- [ ] Server disconnect
- [ ] Wrong manifest
- [ ] Wrong values in manifest columns
- [X] Other (please describe)

**To Reproduce**
Center: OHSU
Template: Demographics

**Screenshots (optional)**
![Screen Shot 2021-11-15 at 10 49 43 AM](https://user-images.githubusercontent.com/63608514/141837762-a7e6ccbf-1a31-4389-8607-9a6211e9d6b8.png)

**Additional context (optional)**

[2021-11-17 20:46] milen-sage opened #541 "Deprecate multiselect UI feature"
**Is your feature request related to a problem? Please describe.**
The multiselect google sheet manifest feature provides a dialog for users to enter comma-separated items by checkbox-ing them from a list of valid values based on the data model schema.

Currently the multiselect UI in google sheet manifests works only in Firefox. It used to work in other browsers, but this AppScript code is no lon

[2021-11-17 21:41] milen-sage commented on #541
@ychae could we triage and, if you think this is something we are moving forward with, can you create the corresponding github issues to keep track of the items related to this Epic?

[2021-11-19 18:44] mialy-defelice opened #542 "NF-RDB my sql upload is missing some column data."
**Describe the bug**
NF-RDB In uploading data from manifests to MySql database instantiation, some columns are 'randomly' but consistently missing. Tables missing data include Funder (Funder Name Col), Animal Model (all Cols) and Investigator. Have to actually break into the update function and run the update. Then the tables become fully added.
**To Reproduce**
Steps to reproduce the behavior:
In

[2021-11-19 21:26] mialy-defelice opened #543 "NF RDB: Convert camel case column names to Display Names"
**Is your feature request related to a problem? Please describe.**
In the NF RDB on Synapse the table column names are rendered in camel case, to match the data frame columns made for the RDB. However when they are converted to display names in the portal they are being rendered improperly.

**Describe the solution you'd like**
Make a dictionary mapping camel case names to display names, so column

[2021-11-19 22:08] ychae commented on #541
@milen-sage Do we know if there are a subset of users that are using the multi-select issue? I don't think we do, but we should get the messaging right so that we don't cause any stumbles if that's what the end users are expecting.

I agree that if it makes installing schematic easier, we should totally bump this up in priority and get the patches in.

[2021-11-20 02:43] milen-sage commented on #541
Yes, in HTAN, we have had a couple of centers. However, one of them is HTAPP (no longer submitting data) and the other ones have started filling in templates automatically once they figured out the template.

You are bringing up a good point though. We should communicate w/ users. I think having a 'soft' statement that the feature is being deprecated, part of a broader statement on UI and other im

[2021-11-24 19:05] afwillia opened #544 "schematic init doesn't download schematic_service_account_creds.json"
Section 3.4 of the walkthrough isn't clear on how to obtain schematic_service_account_creds.json

`schematic init --config ~/path/to/config.yml --auth [token|serivce_account]`

[2021-11-29 22:59] BrunoGrandePhD opened #545 "Allow grouping of related attributes (composite attributes?)"
**Is your feature request related to a problem? Please describe.**

Some attributes always appear together. For example, `Filename`, `File Format`, and `File Compression` should always be included in the DependsOn of a component at the same time. It would be convenient to be able to refer to a single attribute that will automatically resolve to include all related attributes. This would make data

[2021-11-29 23:03] BrunoGrandePhD opened #546 "Add linter for CSV data models (and lint before generating JSON-LD)"
**Is your feature request related to a problem? Please describe.**

There are some cases that should be caught sooner rather than later. For example, double commas in a DependsOn list can result in weird behavior downstream. Also, as a user, I would like to know if a DependsOn value refers to an attribute that doesn't exist under Attribute (for example, because of inconsistent capitalization).

**

[2021-11-29 23:08] BrunoGrandePhD opened #547 "Document process for maintaining a Schematic data model"
**Is your feature request related to a problem? Please describe.**

There are some consistent ways that folks at Sage manage data models for various communities, but there are also inconsistencies. It would help if we documented an "ideal" or "suggested" process for maintaining a Schematic data model. This way, there is less overhead in coming up with a system for each community, and data curators

[2021-11-29 23:15] #512 closed, assigned to nobody

[2021-11-30 17:34] allaway commented on #164
Updating/mapping to new values within a data model (e.g. changing `cell line` to `Cell line` and updating data to match) might also be a use-case for this feature: https://sagebionetworks.slack.com/archives/C01RKMZQBKL/p1638235706100300?thread_ts=1637365863.095300&cid=C01RKMZQBKL

[2021-12-01 16:43] mialy-defelice commented on #543
@ychae I changed the problematic camelcase's so that the NF portal looks nice for now. But it might be good to put this on our roadmap for next quarter. I don't think its urgent to make this update, but wanted to pull you into the loop.

[2021-12-01 16:46] mialy-defelice commented on #536
This now works on the working `develop-rdb-export-joins` branch, which will soon be merged with the `develop-rdb` branch.

[2021-12-01 16:46] #536 closed

[2021-12-01 16:47] mialy-defelice commented on #536
I addressed this issue at the same time :)

[2021-12-01 16:52] mialy-defelice commented on #526
@ychae We decided to just update the `Date Added` column in the `Resource` table, instead of creating a new table that captures all of the changed data for each Resource update. Currently working through solutions but might be best to push to Q1 2022.

[2021-12-01 16:53] mialy-defelice commented on #516
Will close this issue for now.

[2021-12-01 16:53] #516 closed

[2021-12-01 16:53] mialy-defelice commented on #517
Fixed within the `develop-rdb` branch.

[2021-12-01 16:53] #517 closed

[2021-12-01 19:02] allaway commented on #536
🎉

[2021-12-01 19:57] mialy-defelice opened #548 "develop-rdb: create sql caller script"
**Is your feature request related to a problem? Please describe.**
Did a quick development of the mysql generation and just tossed all the calling code into a test script that built on the test script that Milen started with. Build this into a real script that can be either called from command line with args or as part of the CLI.

**How important is this feature?** Select from the options below:

[2021-12-08 17:37] milen-sage opened #549 "Provide an option to NOT create biospecimen or participant record folders in Synapse asset stores"
**Is your feature request related to a problem? Please describe.**

Synapse is an asset store manager used by schematic. Synapse has a limit (30k) on number of folders that can be associated w/ a given schematic project.

schematic currently creates an empty folder to represent a participant and biospecimen record and associates the respective record's values with each folder.

This creates a lot

[2021-12-16 17:06] adamjtaylor opened #551 "Enable multiple manifests per folder"
**Is your feature request related to a problem? Please describe.**
Some HTAN contributors have organised their data with multiple types/components per folder. eg. Mixed ImagingLevel2 and ImagingLevel1 data in the same folder.

**Describe the solution you'd like**
The ability for a manifests for different components/types to be generated/held in the same folder.

**How important is this feature?**

[2021-12-22 21:57] rrchai opened #552 "Format different types of error output from validateModelManifest"
**Is your feature request related to a problem? Please describe.**

There are various styles of writing error messages from `validateModelManifest` and below I list a few. In current DCA, (if not `Wrong Schema`) we collapse similar errors into one line, but it would require multiple lines of codes to cover all different error messages. For simplicity purpose, we only use messages after the word `n

[2022-01-14 23:21] mialy-defelice opened #553 "RDB - Create a Jupyter notebook to create, update and perform joins on MySql Database"
**Is your feature request related to a problem? Please describe.**
We want users to be able to easily run scripts to  create a Relational Database, update the database and perform Joins and output those joins to Synapse.

**Describe the solution you'd like**
A clear end to end Jupyter notebook that can combine the features of `create_load_sql_db_nf.py` and `sql_query_nf.py`.

**How important is th

[2022-01-24 19:08] ychae opened #555 "Update and consolidate schematic installation documentation"
Update developer installation documentation for schematic

[2022-01-24 19:09] ychae commented on #555
Issue 1. On Macs, need to set the path to point to python 3.8 otherwise poetry and other packages don't work

[2022-01-24 22:41] afwillia opened #556 "Register JSONSchema on synapse after converting from data model"
JSONSchemas need to be registered on Synapse. It's a simple API call and making this part of the Data Model to JSONSchema conversion process would be helpful.

[2022-01-25 01:33] milen-sage commented on #556
@avanlinden and @danlu1 just fyi we are working on this feature and are tracking work in this issue.

This work is along the lines of the data model management framework outlined in the slide [here](https://docs.google.com/presentation/d/1yMAF2Sagw4-5vleFH93NFKwxcIuldrmNiH-smUC46qI/edit?disco=AAAAUgK1gDA).

@afwillia is focusing first on exploring how we can refactor a bit the backends of the dccv

[2022-01-25 17:56] nithyav21 opened #557 "Add 'Standards Source' and 'caDSR ID' columns for metadata attributes under Data Standards Portal Page"
Update the standards sources we have used in building clinical and biospecimen data models and attributes. This is a low priority task and can be something that can be incorporated in future pipeline.

- Standards source and caDSR ID links that have been used are mentioned in 'Standards Source' and 'External CDE Links' columns of the data dictionaries attached to the clinical (Tiers 1, 2, 3) and b

[2022-01-25 17:57] nithyav21 commented on #557
![image.png](https://images.zenhubusercontent.com/5e3239ba59fceee7386af165/f4b2bdde-ed23-4b65-a9a0-56a9a93ab082)

[2022-01-26 02:51] ychae commented on #555
Tracking all my notes here:

# Doc to track errors and missing steps in the schematic README.md and CONTRIBUTING.md guide

## README
In "Installation and Pre-requisites":
`Note: You need to be a registered and certified user on  [`synapse.org`](https://www.synapse.org/), and also have the right permissions to download the Google credentials files from Synapse.`
1. How do I know what files that I n

[2022-01-28 01:23] ychae commented on #555
@milen-sage @mialy-defelice Does the `schematicpy-1.0.0-py3-none-any.whl` file try to install the latest version of the synapseclient? I uninstalled synapseclient version 2.5.1 and manually installed synapseclient version 2.3.0 but every time I run `pip install schematicpy-1.0.0-py3-none-any.whl` it errors out by complaining: `schematicpy 1.0.0 requires synapseclient<2.4,>=2.3, but you have synaps

[2022-01-28 21:10] milen-sage commented on #555
@ychae you are using a virtual environment, right?  Might be worth trying starting a clean environment and install again; schematic should have a fixed  version for the synapseclient it uses and install that as a dependency autoamtically.

Meanwhile, we can take a look at poetry's lock file.

[2022-01-28 21:11] milen-sage commented on #555
Thanks @ychae! We should check what version is in schematic's poetry lock. We fixed the synapseclient version to ensure backward compatibility with schematic, but it sounds like you are getting the latest version (e.g. 2.5.1) nevertheless. Just to confirm, are you running these commands in the same virtual environment? (Not an urgent question.)

[2022-01-28 21:53] ychae commented on #555
@milen-sage Yep, all of this is being run in the same venv. I can re-try using a fresh venv and schematic install.

[2022-02-01 04:59] afwillia opened #558 "Add dccvalidator checks"
**Is your feature request related to a problem? Please describe.**
In order to consolidate validation back-end tools for data curator, dccvalidator, and dccmonitor, several features in dccvalidator need to be implemented in schematic.

**Describe the solution you'd like**
Here is a list of checks that dccvalidator performs that will ideally be part of schematic. These are based on the [check_all()

[2022-02-01 21:34] GiaJordan opened #559 "UnicodeError on Windows 10 during JSON-LD Generation from Data Model Schema .CSV"
**Describe the bug**

Downloading and opening HTAN Schema v22.01 from Google Sheets as a .CSV on machines running Windows 10 inserts the 'Â' character before each 'µ' character. (Found in column B rows: [88,98,100,105,107,109]) The 'Å' character is also replaced with 'Â'. This change does not occur when the .CSV is downloaded as an .XLSX.

This change likely causes the error that is observed when

[2022-02-02 18:57] milen-sage commented on #555
@ychae we should probably add this to backlog?

[2022-02-02 19:42] milen-sage commented on #481
very likely related to #559

[2022-02-02 19:43] milen-sage commented on #441
@GiaJordan let's talk about this issue during sprint planning, as well. Since it touches both on front end tools and schematic it might require a bit of coordination across the team.

[2022-02-02 19:50] milen-sage commented on #431
@GiaJordan if you could trace the csv I/O in schematic (both @mialy-defelice and I can help with that, if you have questions around it), you can check if this trimming is done in the latest development code base. It very likely is and in that case we only need to communicate back to stakeholders.

In light of issues #441 and #559, it's very likely we want to add/refactor logic in [df_utils](https:

[2022-02-03 19:24] mialy-defelice commented on #548
This was solved in more recent pushes to the develop-rdb branch.

[2022-02-03 19:25] mialy-defelice opened #561 "Schema Viz: Add conditional dependencies to attributes table"
In the attributes table show which attribute are conditionally required, and the conditions under which they are required.

[2022-02-03 19:25] mialy-defelice opened #562 "Schema Viz: Add dropdowns to view conditional dependencies in table."

[2022-02-03 19:25] mialy-defelice opened #563 "Schema Viz: Indicate which other data need to be submitted for a particular dataset within tangled tree (either bold or color code)"
For observable schema visualization tool:

When a component is selected from the dropdown menu highlight all the other `requiresComponent` connected to it, that would be also required to be submitted to be considered a complete submission for that component.

[2022-02-03 19:31] mialy-defelice opened #564 "Schema Viz: Make tangled tree clickable and update attributes table."
Within the observable tangled tree visualization make text (relating to components) clickable. Upon click change the attributes that are in the table similar to how the dropdown currently works. Will also update text bolding and highlighting.

[2022-02-03 19:31] mialy-defelice opened #565 "Schema Viz: Autogenerate formation of tree data structure."
Using the data model schema, generate data in the proper structure not only to be read by Observable properly, but that the structure leads to an aesthetically pleasing visualization. Need to also make sure source nodes are placed at the proper level to make sure there are not any line breaks.

[2022-02-03 19:31] mialy-defelice opened #566 "Schema Viz: Allow visualization of different types of relationships."
Update gather_dependencies to take in `requiresDependency` as a data type for the Observable visualization tool.

[2022-02-03 19:31] mialy-defelice opened #567 "Schema Viz: Make NF Version of visualization."
Load NF data into schema visualization tool. Make sure the data in the table looks correct and make sure the structure of the NF data for the figure is such that the link lines do not break.

[2022-02-03 20:00] mialy-defelice commented on #562
This issue was initially intended to allow users to select their choice for certain conditional dependencies then show the resultant required attributes the user would need to provide. We have since decided users to just observe the conditional dependencies and what would be required under certain conditions.

[2022-02-03 20:00] #562 closed

[2022-02-03 20:22] mialy-defelice commented on #567
Completed in commit: [dd5058d](https://github.com/Sage-Bionetworks/schematic/commit/dd5058d9cccf0fd816c0f1835d7975e297bb893d)